{% macro configString(name, description, type, value) %}
		<div class="form-group{% if has_error(name) %} has-error{% endif %}">
			<div class="col-xs-12 col-md-6">
				<label for="{{ name }}">{{ description }}</label>
			    <input type="text" name="{{ name }}" id="{{ name }}" class="form-control" value="{{ value }}">
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		    </div>
		</div>
{% endmacro %}
{% macro configTheme(name, description, type, value, themeList) %}
		<div class="form-group{% if has_error(name) %} has-error{% endif %}">
			<div class="col-xs-12 col-md-6">
				<label for="{{ name }}">{{ description }}</label>
			    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required">
			    	{% for theme in themeList %}
			    	    <option value="{{ theme }}">{{ theme }}</option>
			    	{% endfor %}
			    </select>
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		    </div>
		</div>
{% endmacro %}
{% macro configTimezone(name, description, type, value, timezones) %}
		<div class="form-group{% if has_error(name) %} has-error{% endif %}">
			<div class="col-xs-12 col-md-6">
				<label for="{{ name }}">{{ description }}</label>
			    <select name="{{ name }}" id="{{ name }}" class="form-control" required="required">
			    	
			    	{% for timezone in timezones %}
			    	    <option value="{{ timezone.zone }}" {% if timezone.zone == config.timezone %}SELECTED{% endif %}>{{ timezone.zone }} {{ timezone.diff_from_GMT }}</option>
			    	{% endfor %}
			    </select>
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		    </div>
		</div>
{% endmacro %}
{% macro configDefault(name, description, type, value) %}
	    <div class="form-group{% if has_error(name) %} has-error{% endif %}">
		    <div class="col-xs-12 col-md-6">
				<label for="{{ name }}">{{ description }}</label>
			    <input type="text" name="{{ name }}" id="{{ name }}" class="form-control" value="{{ value }}">
			    <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
		    </div>
		</div>
{% endmacro %}
