<!DOCTYPE html>
<html>
<head>
    <title>500 - An Error has occured</title>
   
    <link href="/assets/default/css/vendors.min.css" rel="stylesheet" />
    <link href="/assets/default/css/styles.min.css" rel="stylesheet" />
</head>
<body class="page-error">
     <div class="center">
      <div class="card bordered z-depth-2" style="margin:0% auto; max-width:400px;">
        <div class="card-content">
          <div class="m-b-30 text-center"> <i class="md md-gesture error-icon"></i>
            <h1 class="pink-text uppercase">500</h1>
            <p class="card-title-desc"> Sorry, there seem to be some problems with your request but Good news! It's not us, it's you! 
              {{ exception }}</p>
          </div>
        </div>
        <div class="card-action clearfix">
          <div class="text-center"> <a href="/" class="btn btn-primary btn-block">Back to the homepage</a> </div>
        </div>
      </div>
    </div>
    
    
    <script charset="utf-8" src="/assets/default/js/vendors.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/app.min.js"></script>
  </body>
</html>