
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Saddle || Dashboard{% endblock %}</title>

    <!-- Global CSS -->

    <link href="/assets/default/css/vendors.min.css" rel="stylesheet" />
    <link href="/assets/default/css/styles.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/default/css/glyph.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default/css/modal.css" />
    <link rel="stylesheet" href="/asset/default/dist/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>    
   
    <!-- <link href="/assets/default/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    End Global CSS -->
    
    <!-- Page Level CSS -->
    {% block stylesheets %}{% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% if config.ga is not empty %}
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ config.ga }}', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
</head>

<body scroll-spy="" id="top" class=" theme-template-dark theme-pink alert-open alert-with-mat-grow-top-right">

   <main>
       {% block navi %}
            {% include 'App/inc/navi.twig' %}
        {% endblock %}
        
         <div class="main-container">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header pull-left">
                            <button type="button" class="navbar-toggle pull-left m-15" data-activates=".sidebar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active">Dashboard</li>
                            </ul>
                        </div>
                        <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
                            <li class="dropdown pull-right">
                                <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="/public/tpl/partials/dropdown-navbar.html" data-toggle="dropdown"> <i class="md md-live-help f20"></i> </button>
                                <div class="dropdown-menu complain">
                                    <form class="form-floating" style="padding: 20px;">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                <input type="text" name="name " class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input type="email" name="email" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Complain</label>
                                                <textarea class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </li>
                            <li class="dropdown pull-right">
                                <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="public/tpl/partials/theme-picker.html" data-toggle="dropdown"> <i class="md md-settings f20"></i> </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path_for('my-account') }}">Edit Profile</a> </li>
                                    <li><a href="/logout">Log Out</a> </li>
                                </ul>
                            </li>
                            <li navbar-search="" class="pull-right">
                                <div>
                                    <div class="mat-slide-right pull-right">
                                        <form class="search-form form-inline pull-left ">
                                            <div class="form-group">
                                                <label class="sr-only" for="search-input">Search</label>
                                                <input type="text" class="form-control" id="search-input" placeholder="Search" autofocus=""> </div>
                                        </form>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-sm btn-link pull-left withoutripple"> <i class="md md-search f20"></i> </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                 <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">
                    {% block flash %}
                        {% include 'App/inc/flash.twig' %}
                    {% endblock %}

                    {% block body %} {% endblock %}
                </div>
         </div>
   </main>
    

    <!-- Global JS -->
     <script charset="utf-8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script charset="utf-8" src="/assets/default/js/vendors.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/app.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    
    <!-- Page Level JS -->
    {% block javascript %}

    {% endblock %}

    <!-- Custom JS -->

</body>

</html>
