.glyphicon-spin-jcs {
      -webkit-animation: spin 1000ms infinite linear !important;
      animation: spin 1000ms infinite linear !important;
    }
    
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
      }
      100% {
        -webkit-transform: rotate(359deg) !important;
        transform: rotate(359deg) !important;
      }
    }
    
    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
      }
      100% {
        -webkit-transform: rotate(359deg) !important;
        transform: rotate(359deg) !important;
      }
    }

.center{
        margin: auto;
        float: none !important;
      }
      .navbar-fixed-topt {
        margin-left: 0 !important;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        top: 0;
        border-width: 0 0 1px;
      }
      .m-l-r{
        margin-left: 20px !important;
        margin-right: 20px !important;
      }
      .complain{
        margin-top: 12px!important;
        width: 400px!important;
      }
      @media (min-width: 993px){
        .navbar {
             margin-left: 0px!important; 
        }
      }
      @media (max-width: 640px){
        .complain{
          margin-top: 0px!important;
          width: 100%!important;
        }
      }