* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    color: white;
    background: #00BC87;
    text-shadow: none;
}

html{
	font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    background: white;
}

body, button, input, optgroup, select, textarea {
    font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

figcaption, figure, main {
    display: block;
}

#navbarResponsive {
  width:100%;
  font-size:17px;
}


.navbar {
background-color:#000!important;
border-bottom:1px solid #F69147;
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    padding: 10px;
    text-transform: uppercase;
    transition: .1s ease-out;
    cursor: pointer;
    -webkit-transition: .1s ease-out
	}

header{
	position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 0;
    border-bottom: 2px solid rgba(246, 145, 71, 0.5);
    transition: all 0.4s ease;
}

header.sticky {
	background-color: black;
	border-bottom: 2px solid rgba(246, 145, 71, 0.8);
	transition: all 0.4s ease;
}

main{
	padding: 0 !important;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #00BC87;
}

p{
	line-height: 1.5;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

button, input {
    overflow: visible;
}

img {
    border-style: none;
    max-width: 100%;
}

article, aside, footer, header, nav, section {
    display: block;
}

.grey{
	background-color: #f5f5f5;
}

.theme-bg{
	background-color: #f69147;
}

.head{
	width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-flex: 1 0 auto;
}

.logo{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 0 0 110px;
    align-items: center;
    margin-right: 50px;
    -webkit-flex: 0 0 110px;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

.logo img{
	width: 110px;
}

.mobile > input{
	display: none;
}

.mobile > label{
	transition: .2s ease-in;
    cursor: pointer;
    padding: 15px 10px;
    display: inline-block;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
}

.mobile > label > span{
	width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
}

.mobile > label > span+ span{
	margin-top: 5px;
}

.nav{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-flex: 1 0 auto;
}

.nav > nav{
	flex: 1 0 auto;
    color: #fff;
    -webkit-flex: 1 0 auto;
}

ul.header-nav{
	padding: 0;
    margin: 0;
    list-style-type: none;
}

.header-nav > li{
	color: inherit;
    position: relative;
}

.header-nav > li > a{
	color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    padding: 10px;
    text-transform: uppercase;
    transition: .1s ease-out;
    cursor: pointer;
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
}

.reduce-opacity{
	opacity: 0.5;
}

.next-page-button{
	position: absolute;
    left: 50%;
    top: 60%;
}

.no-bg{
	background: transparent;
}

.nav-right{
	flex: 0 0 auto;
    color: #fff;
    -webkit-flex: 0 0 auto;
}

.login{
	color: inherit;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    padding: 10px;
    margin-right: 5px;
    text-transform: uppercase;
    transition: .1s ease-out;
    cursor: pointer;
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
}

.signup a{
margin-top:11px;
     background-color:#F69147;
	text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: auto;
    min-width: 0;
    padding: 12px 20px;
    border: 1px solid #777777;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    transition: .2s ease-in-out;
    position: relative;
    top: -1px;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
}

.container{
	width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.title{
	color: #fff;
    max-width: 710px;
    width: 100%;
    margin: 80px auto 30px;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
}

.header{
	background-color: #2e2e2e;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    padding-top: 72px;
}

.header-button{
	text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: auto;
    min-width: 190px;
    padding: 12px 20px;
    border: 1px solid #777777;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    transition: .2s ease-in-out;
    letter-spacing: 0.2px;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;

}

.header-button > span{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

.button{
	text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: auto;
    min-width: 190px;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #00BC87;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    transition: .2s ease-in-out;
    letter-spacing: 0.2px;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;

}

.button-color{
	color: #f6944d;
	border: 1px solid #f6944d;
}

.button-color:hover{
	background-color: #f6944d;
	color: white !important;
}


.button-color2{
background-color:white;
	color: #000;
	border: 1px solid #f6944d;
	width:100%!important;
}

.button-color2:hover{
	background-color: black;
	color: white !important;
	width:100%!important;
}


.button-color3{
background-color:black;
	color: white;
	border: 1px solid #f6944d;
	width:100%!important;
}

.button-color3:hover{
	background-color: white;
	color: black !important;
	width:100%!important;
}


.content{
	width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}

.content2{
	width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
}

.content3{
	width: 100%;
    max-width: 960px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
}

.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-10px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.small-icon{
	padding: 20px 0px;
}

.small-icon > img{
	width: 80px !important;
    display: block;
    margin: auto;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}  

/* Form wrapper styling */
.form-wrapper {
    width: 570px;
    padding: 15px;
    margin: 0px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 428px;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    color: black;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #f69147;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  
.form-wrapper button:hover{		
    background: #e59740;
}	
  
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
	outline: 0;   
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #f69147 transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e59740;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}      


.header-bottom{
	color: #fff;
    padding-top: 20px;
}

.desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.no-margin{
	margin: 0 !important;
}

.pb-10{
	padding-bottom: 10px; 
}

.pb-20{
	padding-bottom: 20px; 
}

.pb-30{
	padding-bottom: 30px; 
}

.pb-40{
	padding-bottom: 40px; 
}

.pb-50{
	padding-bottom: 50px; 
}

.pb-60{
	padding-bottom: 10px; 
}

.pb-70{
	padding-bottom: 20px; 
}

.pb-80{
	padding-bottom: 30px; 
}

.pb-90{
	padding-bottom: 40px; 
}

.pb-100{
	padding-bottom: 50px; 
}

.center{
	text-align: center;
}

.inner{
	padding-top: 30px;
    overflow: hidden;
}

.courier .left-image{
	margin-top: 40px;
    max-width: 100%;
}

.left-image > img{
	display: block;
}

.merchant .right-image{
	margin-top: 40px;
    max-width: 100%;
}

img[role=presentation] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.right-desc{
	position: relative;
    z-index: 1;
    max-width: 460px;
    width: 100%;
}

.section-title{
	color: #262626;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.3;
    margin: 20px 0 38px;
}

.section-desc{
	color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 38px;
    line-height: 1.9;
}

.left-desc{
	position: relative;
    z-index: 1;
    max-width: 460px;
    width: 100%;
}

footer{
	background-color: #2e2e2e;
    padding-top: 50px;
    color: #999;
    font-weight: 400;
    font-size: 12px;
}

@media (min-width: 480px) {
	.title{
		font-size: 36px;
	}
	.section-title{
		font-size: 33px;
	}
	.new_section {
	background-color:#000;
	}
	.header-txt h1 {
	color:white !important;
	margin-top:10px;
	}
	
	.header-txt p {
	color:#fff!important;
	}
	
}

@media (min-width: 768px){
	.mobile{
		flex: 1 0 auto;
	    -webkit-flex: 1 0 auto;
	}
	.mobile > label{
		display: none;
	}
	.header-nav > li{
		display: inline-block;
    	margin-left: 15px;
	}
	.header{
		background: url(../img/background/header_black.png);
		background-color: black;
	    background-size: cover;
	    background-position: center top;
	    background-repeat: no-repeat;
	}
	.header-bottom{
		padding-top: 18px;
	}
	.courier .left-image{
		margin: 0 0 0 -560px;
	}
	.right-desc{
		max-width: 340px;
    	margin-left: 60px;
	}
	.left-desc{
		max-width: 340px;
    	margin-left: 60px;
	}
	.section-title{
		margin-top: -20px;
	}
	.merchant .right-image{
		margin: 0 -560px 0 0;
	}
	footer{
		padding-top: 70px;
	}
	
	.new-section  {
	background-color:#F69147;
	}
	
	.header-txt {
	color:#ffffff;
	text-align:center;
	}
	
	.header-txt h1 {
	color:#ffffff;
	font-weight:lighter;
	margin-top:50px;
	}
	
	.header-txt p  {
	font-size:15px;
	} 
	
	.cta  {
	width:70%;
	margin:0 auto;
	margin-bottom:40px;
	}
	

	
	.existing-client h2 {
	color:#fff;
	margin-top:20px;
	text-align:center;
	font-weight:lighter;
	width:100%;
	background-color:#F69147;
	padding-top:10px;
	padding-bottom:10px;
	}
	
	.merchants h2 {
	color:#fff;
	margin-top:20px;
	text-align:center;
	font-weight:lighter;
	width:100%;
	}
	
	.merchants img {
	margin-bottom:30px;
	margin-right:30px;
	}
	
	.couriers h2 {
	background-color:#fff;
	color:#000;
	text-align:center;
	padding:0;
	}
	
	.courier-list {
	background-color:#fff;
	}
	
	.courier-list img {
	margin-right:60px;
	}
	
	.address   {
	font-size:17px;
	color:#fff;
	margin-top:10px;
	font-weight:lighter;
	}
	
	.submit_ctrl {
	width:30%;
	background-color:#F69147;
	padding:20px;
	vertical-align:middle;
	}
	
	#new {
	background-color:#F69147!important;
	}
	
}

@media (min-width: 991px){
	.right-desc{
		margin-left: 120px;
	}
	.left-desc{
		margin-left: 120px;
    	margin-right: 120px;
	}
	
   .header-txt h1 {
	color:white !important;
	margin-top:10px;
	}
	
	.header-txt p {
	color:#fff!important;
	}
	
	#new {
	background-color:#F69147!important;
	}
}

@media only screen and (max-width: 600px) {
	#new {
	background-color:#F69147!important;
	}
	
	.header-txt h1 {
	color:white !important;
	margin-top:10px;
	}
	
	.header-txt p {
	color:#fff!important;
	}
	
	#navbar-brand  {
	width:35%;
	padding:0;
	}
	
	.form-wrapper {
	width:366px;
	
	}
	
	.form-wrapper input {
	width:224px;
	}
	
	.header   {
	height:auto;
	}
	
	.sadlle_cta  {
	width:50%;
	float:left;
	margin-bottom:20px;
	}
	
	#track-cnt  {
	height:200px;
	border:1px solid #FF0000;
	}
	
	.existing-client h2 {
	background-color:#F69147;
	color:#fff;
	padding:10px;
	font-weight:lighter;
}

#features-id   {
margin:0;
}

@media only screen and (min-width: 600px) {

.sadlle_cta  {
	width:50%;
	float:left;
	margin-bottom:20px;
	}
	
	#new {
	background-color:#F69147!important;
	}
	
	.header-txt h1 {
	color:white !important;
	margin-top:10px;
	}
	
	.header-txt p {
	color:#fff!important;
	}
	
	#navbar-brand  {
	width:35%;
	padding:0;
	}
	
	.form-wrapper {
	width:366px;
	margin-bottom:10px;
	}
	
	.form-wrapper input {
	width:224px;
	}
	
	.header   {
	height:
	auto;
	}
	
	.existing-client {
	}
}