    #modal_view{
  		width: 100%;
  		height: 100%;
  		background-color: rgba(0, 0, 0, 0.75);
  		display: none;
  		position: fixed;
  		z-index: 9999;
  	}
  	.modal_container{
  		background-color: #fff;
  		width: 40%;
	    padding: 20px 40px;
	    margin: auto;
	    margin-top: 10%;
	    border-radius: 10px;
	    /*height: 220px;*/
  	}
  	.close{
  		width: 35px;
	    text-align: center;
	    background: #F79147;
	    padding: 5px;
	    font-size: 15px;
	    border-radius: 100%;
	    font-weight: 900;
      margin-top: -10px;
      margin-right: -30px;
      color: white;
  	}
  	.clearfix{
  		margin-top: 20px;
  	}
  	.small_width{
  		width: 45%;
  	}
  	.modal_header{
  		font-size: 20px;
  	}
    .modal-label-header{
      font-size: 15px;
      font-weight: 700;
    }
  	.modal_status{
  		display: none;
  	}
  	.space{
  		margin: 20px 0px;
  	}