<aside class="sidebar fixed" style="width: 260px; left: 0px; ">
            <div class="brand-logo">
                <img src="/assets/default/img/logo.png" />
            </div>
            <div class="user-logged-in">
                <div class="content">
                    <div class="user-name">

                        {{auth.user.username}} <span class="text-muted f9">{{ userAccess.roles.0 }}</span></div>

                    <div class="user-email">
                        {{auth.user.email}}
                    </div>
                    <div class="user-actions"> <a class="m-r-5" href="{{ path_for('settings-global') }}">settings</a> <a href="/logout">logout</a> </div>
                </div>
            </div>

            {% if userAccess.roles.0 == 'admin'%}
            <ul class="menu-links">
                <li icon="md md-blur-on"> <a href="{{ path_for('dashboard') }}" style="font-weight: 600;"><i class="md md-blur-on"></i>&nbsp;<span>Dashboard</span></a>
                </li>
                <li> <a href="{{ path_for('tracking') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-camera"></i>&nbsp;Tracking</a>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#admin" aria-expanded="false" aria-controls="admin" class="collapsible-header waves-effect"><i class="md md-business"></i>&nbsp;Administration</a>
                    <ul id="admin" class="collapse">
                        <li><a href="{{ path_for('admin-users') }}"><span>Manage Users</span></a></li>
                        <li> <a href="{{ path_for('admin-couriers') }}"><span>Manage Couriers</span></a></li>
                        <li> <a href="{{ path_for('admin-merchants') }}"><span>Manage Merchants</span></a></li>
                    </ul>
                </li>
                <li> <a href="{{ path_for('saddlelite-history') }}"  class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i><span>Saddlite Lite Transactions</span></a></li>
                <li> <a href="{{ path_for('saddlelite-deposits') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i><span>Agent Deposits</span></a></li>

                <li> <a href="{{ path_for('news-feed') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-cast-connected"></i><span>&nbsp;News Feed</span><span class="pull-right badge theme-primary-bg z-depth-0" style="margin-right: 20px;"></span></a>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#delivery" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Delivery</a>
                    <ul id="delivery" class="collapse">
                        <li> <a href="{{ path_for('delivery-add')}}"><span>Create Delivery</span></a></li>
                        <li> <a href="{{ path_for('delivery') }}"><span>Manage Delivery</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>

                    </ul>
                </li>
                <li> <a href="{{ path_for('settlements-view') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i>&nbsp;B2B Settlements</a>
                </li>
                <li> <a href="{{ path_for('b2b-settlement') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i>&nbsp;Card On File Settlements</a>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#pricing" aria-expanded="false" aria-controls="pricing" class="collapsible-header waves-effect"><i class="md md-receipt"></i>&nbsp;Pricing</a>
                    <ul id="pricing" class="collapse">
                        <li> <a href="/admin/region">Region</a></li>
                        <li> <a href="/admin/shipping">Shipment Cost</a></li>
                    </ul>
                </li>
            </ul>

            {% elseif userAccess.roles.0 == 'courier-admin' %}
            <ul class="menu-links">
                <li icon="md md-blur-on"> <a href="{{ path_for('dashboard') }}" style="font-weight: 600;"><i class="md md-blur-on"></i>&nbsp;<span>Dashboard</span></a>
                </li>
                <li> <a href="{{ path_for('tracking') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-camera"></i>&nbsp;Tracking</a>
                </li>

                <li> <a href="#" data-toggle="collapse" data-target="#setting" aria-expanded="false" aria-controls="setting" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Merchant Settlement</a>
                    <ul id="setting" class="collapse">
                        <li> <a href="{{ path_for('card') }}"><span>Automate Merchant Settlement</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('agent-cards') }}"><span>Agent Cards On File</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>

                    </ul>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#admin" aria-expanded="false" aria-controls="admin" class="collapsible-header waves-effect"><i class="md md-business"></i>&nbsp;Administration</a>
                    <ul id="admin" class="collapse">
                        <li><a href="{{ path_for('admin-users') }}"><span>Manage Users</span></a></li>
                        <li> <a href="{{ path_for('admin-merchants') }}"><span>Manage Merchants</span></a></li>
                    </ul>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#saddle-lite" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Saddle Lite Transactions</a>
                    <ul id="saddle-lite" class="collapse">
                        <li> <a href="{{ path_for('saddlelite-dashboard') }}"><span>Dashboard</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('saddlelite-history') }}"><span>Transaction History</span></a></li>
                        <li> <a href="{{ path_for('saddlelite-deposits') }}"><span>Agent Deposits</span></a></li>
                        </li>
                    </ul>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#delivery" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Delivery</a>
                    <ul id="delivery" class="collapse">
                        <li> <a href="{{ path_for('RateCard') }}"><span>Create Rate Card</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('delivery') }}"><span>Manage Delivery</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('delivery-add')}}"><span>Create Delivery</span></a></li>
                        <li> <a href="{{ path_for('delivery-bulk') }}"><span>Bulk Upload</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('csv-report') }}"><span>Download CSV Report</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                    </ul>
                </li>

                <li> <a href="#" data-toggle="collapse" data-target="#settlement" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Settlements</a>
                    <ul id="settlement" class="collapse">
                        <li> <a href="{{ path_for('settlements-view') }}"><span>B2B Settlements</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('b2b-settlement')}}"><span>Card On File Settlements</span></a></li>

                        </li>

                    </ul>
                </li>


                <li> <a href="#" data-toggle="collapse" data-target="#pricing" aria-expanded="false" aria-controls="pricing" class="collapsible-header waves-effect"><i class="md md-receipt"></i>&nbsp;Pricing</a>
                    <ul id="pricing" class="collapse">
                        <li> <a href="/admin/region">Region</a></li>
                        <li> <a href="/admin/shipping">Shipment Cost</a></li>
                    </ul>
                </li>
            </ul>
        {% elseif userAccess.roles.0 == 'courier-user' %}
        <ul class="menu-links">
                <li icon="md md-blur-on"> <a href="{{ path_for('dashboard') }}" style="font-weight: 600;"><i class="md md-blur-on"></i>&nbsp;<span>Dashboard</span></a>
                </li>
                <li> <a href="{{ path_for('tracking') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-camera"></i>&nbsp;Tracking</a>
                </li>

                <li> <a href="#" data-toggle="collapse" data-target="#setting" aria-expanded="false" aria-controls="setting" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Settings</a>
                    <ul id="setting" class="collapse">
                        <li> <a href="{{ path_for('card') }}"><span>Automate Merchant Settlement</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                    </ul>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#admin" aria-expanded="false" aria-controls="admin" class="collapsible-header waves-effect"><i class="md md-business"></i>&nbsp;Administration</a>
                    <ul id="admin" class="collapse">
                        <li><a href="{{ path_for('admin-users') }}"><span>Manage Users</span></a></li>
                        <li> <a href="{{ path_for('admin-merchants') }}"><span>Manage Merchants</span></a></li>
                    </ul>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#delivery" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Delivery</a>
                    <ul id="delivery" class="collapse">
                        <li> <a href="{{ path_for('delivery') }}"><span>Manage Delivery</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('delivery-add')}}"><span>Create Delivery</span></a></li>
                        <li> <a href="{{ path_for('delivery-bulk') }}"><span>Bulk Upload</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        
                          <li> <a href="{{ path_for('csv-report') }}"><span>Download CSV Report</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>

                    </ul>
                </li>

                <li> <a href="#" data-toggle="collapse" data-target="#settlement" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Settlements</a>
                    <ul id="settlement" class="collapse">
                        <li> <a href="{{ path_for('b2b-settlement')}}"><span>Card On File Settlements</span></a></li>

                        </li>

                    </ul>
                </li>
               
            </ul>
        {% elseif userAccess.roles.0 == 'merchant-user' %}
           <ul class="menu-links">
                <li icon="md md-blur-on"> <a href="{{ path_for('dashboard') }}" style="font-weight: 600;"><i class="md md-blur-on"></i>&nbsp;<span>Dashboard</span></a>
                </li>
                <li> <a href="{{ path_for('tracking') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-camera"></i>&nbsp;Tracking</a>
                </li>

                <li> <a href="{{ path_for('news-feed') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-cast-connected"></i><span>&nbsp;News Feed</span><span class="pull-right badge theme-primary-bg z-depth-0" style="margin-right: 20px;"></span></a>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#delivery" aria-expanded="false" aria-controls="delivery" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Delivery</a>
                    <ul id="delivery" class="collapse">
                        <li> <a href="{{ path_for('delivery-add')}}"><span>Create Delivery</span></a></li>
                        <li> <a href="{{ path_for('delivery') }}"><span>Manage Delivery</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                        <li> <a href="{{ path_for('delivery-bulk') }}"><span>Bulk Upload</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>

                    </ul>
                </li>
                <li> <a href="{{ path_for('settlements-view') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i>&nbsp;Settlements</a></li>
                <li> <a href="{{ path_for('b2b-settlement') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i>&nbsp;B2B Settlements</a></li>


            </ul>
         {% elseif userAccess.roles.0 == 'agent' %}
           <ul class="menu-links">

                <li> <a href="{{ path_for('tracking') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-camera"></i>&nbsp;Pickups</a>
                </li>
                <li> <a href="#" data-toggle="collapse" data-target="#setting" aria-expanded="false" aria-controls="setting" class="collapsible-header waves-effect"><i class="md md-list"></i>&nbsp;Merchant Settlements</a>
                    <ul id="setting" class="collapse">
                        <li> <a href="{{ path_for('card') }}"><span>Automate Merchant Settlement</span><span class="pull-right badge theme-primary-bg z-depth-0"></span></a></li>
                    </ul>
                </li>
                <li> <a href="{{ path_for('news-feed') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-cast-connected"></i><span>&nbsp;Dropoffs</span><span class="pull-right badge theme-primary-bg z-depth-0" style="margin-right: 20px;"></span></a>
                </li>

                <li> <a href="{{ path_for('settlements-dashboard') }}" class="waves-effect" style="font-weight: 600;"><i class="md md-book"></i>&nbsp;Returns</a>
                </li>

            </ul>

        {% endif %}

        </aside>
