{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}



{% block title %}{{config['site-name']}} || Add New Agent{% endblock %}

{% block body %}
    <section class="tables-data">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add New Agent</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                   

                    
                    <div class="panel-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div >
                                <div class="form-group{% if has_error('courier_name') %} has-error{% endif %}">
                                    <label for="courier_name">Select Courier</label>

                                    <select id="courier_name" name="courier_name" class="form-control" >
                        <option value="ns">[select a courier]</option>
                        {% for courier in couriers %}
                        <option value="{{ courier.id }}"> {{ courier.courier_name }} </option>
                        {% endfor %}
                        </select>
                                </div>

                                <div class="form-group{% if has_error('agent_name') %} has-error{% endif %}">
                                    <label for="agent_name"> Agents' Name</label>
                                    <input type="text" name="agent_name" class="form-control" id="agent_name" placeholder="Agent Name" value="{% if requestParams.agent_name %}{{requestParams.agent_name}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('agent_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('agent_phone') %} has-error{% endif %}">
                                    <label for="agent_phone">Agent Phone</label>
                                    <input type="agent_phone" name="agent_phone" class="form-control" id="agent_phone" placeholder="Phone" value="{% if requestParams.agent_phone %}{{requestParams.agent_phone}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('agent_phone') }}</span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label normal">Status</label>
                                    <div class="switch">
                                      
                                      <label> Inactive
                                        <input type="checkbox" name="status"  > <span class="lever"></span>Active </label>
                                    </div>
                              </div>

                            </div>
                          
                        
                            
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success form-control">Add New Agent</button>
                                </div>
                            </div>
                            {{ csrf() }}
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

