{% extends 'app.twig' %} 
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/default/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/assets/default/datatables/css/buttons.dataTables.min.css">
{% endblock %}

{% block title %}{{config['site-name']}} || Agent Cards On File{% endblock %}
{% block body %}
<section class="tables-data">


        <div class="page-header">
              <h1>      <i class="md md-list"></i> Agent Cards On File   </h1>
         </div>

         <div class="row gutter-14 kpi-dashboard">

             {% if userAccess.roles.0 == 'admin' %}
             <div class="col-lg-4">

                        <div class="col-md-9">
                          <div class="card small">
                            <div class="grey p-10">
                              <h4 class="no-margin white-text w600">NetPlus Account Details</h4>
                              <div class="p-10 p-t-30">
                              </div>
                            </div>
                            <div class="card-content p-10">
                              <div class="row">
                                <div class="col-md-6 text-center" style="border-right: 1px #F0F0F0 solid;">
                                  <h3 class="no-margin w300">{{config['netplus-bank']}}</h3>
                                  <p class="grey-text w600">Bank</p>
                                </div>
                                <div class="col-md-6 text-center">
                                  <h3 class="no-margin w300">{{config['account-number']}}</h3>
                                  <p class="grey-text w600">Account number</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                  </div>
                {% endif %}
    		     
        </div>
            <div class="p-20 no-p-t">

              <div class="row gutter-14">
                <div class="col-md-12">
                  <div class="card">
                    <div>
                      <div class="table-responsive datatables">
                        <div class="row">
                          <div class="col-md-12">
                            <h3 class="table-title" style="padding-left: 20px;">Settlements</h3>
                          </div>

                        </div>
                       <table id="table" class="display" cellspacing="0" width="100%" data-page-length="25" >
                          <thead>
                            <tr fsm-sticky-header="" scroll-body="'#table-area-1'" scroll-stop="64">
                              <th>Agent Id</th>
                              <th>Agent Name</th>
                              <th>Agent Email</th>
                              <th>Card Id</th>
                              <th>Card Status</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Agent Id</th>
                              <th>Agent Name</th>
                              <th>Agent Email</th>
                              <th>Card Id</th>
                              <th>Card Status</th>
                              <th></th>
                            </tr>
                          </tfoot>
                          <tbody>

                            {% for card in cards %}


                            <tr data-id="{{card.id}}">

                              <td >{{ card.agent_id }}</td>
                              <td >{{ card.first_name ~ " " ~ card.last_name }}</td>
                              <td >{{ card.email }}</td>
                              <td >{{card.id}}</td>
                              <td data-field="status">{{ card.status == 1 ? "ACTIVE" : "INACTIVE" }}</td>
                              <td>
                                <a class="button button-small edit" title="Edit">
                                <i class="fa fa-pencil"></i>
                                </a>
														  </td>

                            </tr>

                        {% endfor %}

                            </tbody>

                        </table>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="grey-text small p-t-20">Copyright &copy; 2017 by Netplus All rights Reserved</div>
            </div>


</section>

{% endblock %}

{% block javascript %}
 <script charset="utf-8" src="/assets/default/datatables/js/jquery.dataTables.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/dataTables.buttons.min.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/buttons.html5.min.js"></script>
 <script charset="utf-8" src="/assets/default/datatables/js/jszip.min.js"></script>  
 <script charset="utf-8" src="/assets/default/datatables/js/pdfmake.min.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/vfs_fonts.js"></script>  
 <script charset="utf-8" src="/assets/default/datatables/js/buttons.print.min.js"></script>
   <script charset="utf-8" src="/assets/default/tabledit/table-edits.js"></script> 

    
<script>
  $(document).ready(function() {
    $('#table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

    $("#table tr").editable({

			keyboard: false,
			dblclick: false,
			button: true,
			buttonSelector: ".edit",
			dropdowns: {status : {{statuses|raw}} },
			maintainWidth: true,
			edit: function(values) {

			},
			save: function(values) {

				var id = $(this).data('id');
        var status = $(this).data('status');

        var new_status = { 
          status : (status == 'ACTIVE' ? 1 : 0) 
        };

        console.log('status ' + status);
        console.log('values is ' + JSON.stringify(values));

        $.ajax({
          url: '{{path_for('update-agent-card')}}/'+ id,
          type: 'PUT',
          data : values
        })
        .done(function(data){
            alert(data);
            location.reload();
        });

			},

			cancel: function(values) {
      }

		});

		$( "#hideForm" ).click(function() {
		  $( "#showForm" ).slideDown();
		  $( "#hideForm" ).slideUp();
		});

});
</script>  
{% endblock %}