{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Dashboard{% endblock %}

{% block body %}
	 <section class="tables-data">
    <div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Assign User</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
</section>

{% endblock %}