{% extends 'admin.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Create Delivery{% endblock %}

{% block body %}
<section class="tables-data">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add New Delivery</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                   

                    
                    <div class="panel-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div class="col-md-6">
                                <div class="form-group{% if has_error('courier_name') %} has-error{% endif %}">
                                    <label for="courier_name">Couriers</label>
                                    <select id="courier_name" name="courier_name">
                                        <option value="ns">[select a courier]</option>
                                        {% for courier in couriers %}
                                            <option value="{{ courier.courier_id }}"> {{ courier.courier_name }} </option>
                                        {% endfor %}
                                    </select>
                                    
                                    <span class="help-block">{{ error('courier_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('merchant_name') %} has-error{% endif %}">
                                    <label for="merchant_name">Couriers</label>
                                    <select id="merchant_name" name="merchant_name">
                                        <option value="ns">[select a merchant]</option>
                                        {% for merchant in merchants %}
                                            <option value="{{ merchant.id }}"> {{ merchant.merchant_name }} </option>
                                        {% endfor %}
                                    </select>
                                    
                                    <span class="help-block">{{ error('merchant_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('pay_on_delivery') %} has-error{% endif %}">
                                    <label for="pay_on_delivery">Pay On delivery</label>
                                    <select id="pay_on_delivery" name="pay_on_delivery">
                                        <option value="ns">[- Select - ]</option>
                                            <option value="yes"> Yes</option>
                                            <option value="no"> No</option>
                                        
                                    </select>
                                    
                                    <span class="help-block">{{ error('pay_on_delivery') }}</span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label normal">Delivery Handling</label>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="delivery_handling" id="t1" value="mercht-loc" checked=""> Merchant Drop off </label>
                                    </div>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="delivery_handling" id="t2" value="courier-loc"> Courier Pickup </label>
                                    </div>
                                  </div>
                                <div class="form-group">
                                    <label class="control-label normal">Delivery Type</label>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="delivery_type" id="optionsRadios1" value="option1" checked=""> Deliver To Customer  </label>
                                    </div>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="delivery_type" id="optionsRadios2" value="option2"> Customer Pickup </label>
                                    </div>
                                  </div>

                                <span id="t2_write">

                                </span>

                                <span id="t1_write">
                                    
                                </span>
                            </div>

                            <div class="col-md-6">
                            <label>Product Details</label>
                            <div id="permissionsRow">
                                
                            </div>

                            <div class="form-group" style="text-align: center;">
                                <a class="btn btn-warning" id="addPermButton" style="margin-top: 15px;">
                                    <span class="fa fa-fw fa-gears"></span> Add New Product
                                </a>
                            </div>
                        </div>
                          
                        
                            
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success form-control">Create Delivery</button>
                                </div>
                            </div>
                            {{ csrf() }}
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>



<span style="display:none" id="t1_read">
    <input type="hidden" name="status" value="101"/>
    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
            <label>Select Courier Location*</label>
        </div>

        <div class="col-xs-12">
            <select name="courier_location">
                <option> [courier location] </option>
                {% for loc in courier_location %}
                        <option value="{{loc.id}}"> {{ loc.address}}</option>
                    {% endfor%}
            </select>
        </div>
    </div>                
</span>

<span style="display:none" id="t2_read">
    <!-- new change -->
    <input type="hidden" name="status" value="0"/>
        <div class="col-xs-12 col-md-5">
            <div class="col-xs-12">
                <label>Address*</label>
            </div>
            <div class="col-xs-12">
                <input type="text" name="pickup_address" class="form-control" required/>
            </div>
        </div>


    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Location*</label>
        </div>
        <div class="col-xs-12">
            origin
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Contact name*</label>
        </div>
        <div class="col-xs-12">
        <input type="text" name="pickup_contact_name" class="form-control" required/>
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
    <div class="col-xs-12">
    <label>Contact Number*</label>
    </div>
    <div class="col-xs-12">
    <input type="text" name="pickup_contact_number" class="form-control" required/>
    </div>
    </div>

    <!-- new change -->
    <div class="col-xs-12 col-md-5">
    <div class="col-xs-12">
    <label>Contact Email*</label>
    </div>
    <div class="col-xs-12">
    <input type="email" name="pickup_contact_email" class="form-control"/>
    </div>
    </div>    
</span>

<span style="display:none" id="t3_read1">

    <input type="hidden" name="dropoff_type" value="dropoff"/>

    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Address*</label>
        </div>
        <div class="col-xs-12">
        <input type="text" name="dropoff_address" class="form-control" required/>
        </div>
    </div>


    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Location*</label>
        </div>
        <div class="col-xs-12">
        Location Drop off
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Contact name*</label>
        </div>
        <div class="col-xs-12">
        <input type="text" name="dropoff_contact_name" class="form-control" required/>
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Contact Number*</label>
        </div>
        <div class="col-xs-12">
        <input type="text" name="dropoff_contact_number" class="form-control" required/>
        </div>
    </div>

    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Contact Email</label>
        </div>
        <div class="col-xs-12">
        <input type="email" name="dropoff_contact_email" class="form-control"/>
        </div>
    </div>    
</span>


<span id="t3_read3" style="display: none;">

    <input type="hidden" name="dropoff_type" value="fedex_office"/>


    <div class="col-xs-12 col-md-5">
        <div class="col-xs-12">
        <label>Location*</label>
        </div>
        <div class="col-xs-12">
        destination
        </div>
    </div>  

</span>

<span id="t3_read2" style="display: none;">
    <input type="hidden" name="dropoff_type" value="customer_pickup"/>
    &nbsp;
</span>

</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).on('click', '#addPermButton', function() {
    $("#permissionsRow").append(`   <div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="items[]" class="form-control" placeholder="Item Name" required="required">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="items[]" class="form-control" placeholder="Item Size" required="required">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="items[]" class="form-control" placeholder="Item Quantity" required="required">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="items[]" class="form-control" placeholder="Item Cost" required="required">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="items[]" class="form-control" placeholder="Item weight">
                                            </div>
                                        </div>

                                        <div class="col-xs-5">
                                            
                                        </div>
                                        <div class="col-xs-1">
                                            <a class="btn btn-primary btn-danger removePerm"><span class="fa fa-fw fa-close"></span> </a>
                                        </div>
                                    </div>
                                `);


    });
    $(document).on('click', '.removePerm', function() {
    $(this).parent().parent().remove();
})


</script>

<script type="text/javascript">
    (function ($) 
    {
        $.fn.link_show = function (write, read) {
            var $this = $(this);

            $this.on('click', function () {

                var content = $(read).html();
                $(write).html(content);

            });

            $this.trigger('click');};
        $.fn.change_link_show = function (write) {

            var $this = $(this);

            $this.on('change', function () {

                var read = $(this).val();

                var content = $(read).html();
                $(write).html(content);


            });


            $this.trigger('change');};

        $(function () {


            $('#t2').link_show('#t1_write', '#t2_read');
           
            $('#t1').link_show('#t1_write', '#t1_read');


            $('#drop-off-sel').change_link_show('#t3_write');


            $('#destination').on('change', function () {

                var dt = {
                    origin: $('#origin').val(),
                    destination: $('#destination').val()
                }

            });});
    })
    (jQuery);
</script>
{% endblock %}

