{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Couriers Management{% endblock %}

{% block body %}
    <section class="tables-data">
        <h1> <i class="md md-list"></i> Courier Management </h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="panel-heading">
                        <div class="pull-left"><h3>Courier </h3></div>
                        <div class="pull-right"><a href="{{ path_for('admin-couriers-add') }}" class="btn btn-xs btn-success"><span class="fa fa-fw fa-plus"></span> Add Courier</a></div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="card-content">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="users_table">
                            <thead>
                                <tr>
                                    <th>Courier ID</th>
                                    <th>Courier Name</th>
                                    <th>Website</th>
                                    <th>Email</th>
                                    <th>Address </th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for courier in couriers %}
                                    <tr>
                                         <td>{{ courier.courier_id }}</td>
                                        <td>{{ courier.courier_name }}</td>
                                        <td>{{ courier.courier_website }}</td>
                                        <td>{{ courier.courier_email }}</td>
                                        <td>{{ courier.address }}</td>
                                        {% if courier.status == 1 %}
                                                <td class="green lighten-1 text-center">Active</td>
                                            {% else %}
                                                <td class="theme-lighten-1 text-center">Suspended</td>
                                            {%endif%}
                                        <td>
                                            <a href="{{ path_for('admin-couriers-edit', {'courier_id': courier.id}) }}" class="btn btn-primary btn-xs">
                                                <span class="fa fa-fw fa-pencil"></span>
                                            </a>
                                            {% if auth.hasAccess('courier.delete') %}
                                                <form action="{{ path_for('admin-couriers-delete') }}" method="post" style="display: inline;">
                                                    <input type="hidden" name="courier_id" value="{{ courier.id }}" />
                                                    {{csrf()}}
                                                    <button type="submit" name="submit" class="btn btn-danger btn-xs" onClick="return confirm('Are you sure you could like to delete this courier?  This cannot be undone.');">
                                                        <span class="fa fa-fw fa-close"></span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}

{% block javascript %}
    <script src="/assets/default/js/jquery.dataTables.min.js"></script>
    <script src="/assets/default/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/default/js/dataTables.responsive.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        
        $('#users_table').DataTable({
            responsive: true,

        });

        $('#roles_table').DataTable({
            responsive: true,

        });
    });
    </script>
{% endblock %}