{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Edit Courier {% endblock %}

{% block body %}
    <section class="tables-data">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit Courier {{ courier.courier_name}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                   

                    
                    <div class="panel-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div >
                                <div class="form-group{% if has_error('courier_name') %} has-error{% endif %}">
                                    <label for="courier_name">Courier Name</label>
                                    <input type="text" name="courier_name" class="form-control" id="courier_name" placeholder="Courier Name" value="{% if requestParams.courier_name %}{{requestParams.courier_name}}{% else %} {{ courier.courier_name }} {% endif %}" required="required">
                                    <span class="help-block">{{ error('courier_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('courier_email') %} has-error{% endif %}">
                                    <label for="courier_email"> Email</label>
                                    <input type="text" name="courier_email" class="form-control" id="courier_email" placeholder="Courier Email" value="{% if requestParams.courier_email %}{{requestParams.courier_email}}
                                    {% else %} {{ courier.courier_email }}
                                {% endif %}" required="required">
                                    <span class="help-block">{{ error('courier_email') }}</span>
                                </div>

                                <div class="form-group{% if has_error('courier_website') %} has-error{% endif %}">
                                    <label for="courier_website">Website</label>
                                    <input type="courier_website" name="courier_website" class="form-control" id="courier_website" placeholder="Courier Website" value="{% if requestParams.courier_website %}{{requestParams.courier_website}}
                                {% else %} {{ courier.courier_website }}
                                {% endif %}" required="required">
                                    <span class="help-block">{{ error('courier_website') }}</span>
                                </div>

                                <div class="form-group{% if has_error('address') %} has-error{% endif %}">
                                    <label for="address">Address</label>
                                    <textarea class="form-control vertical" rows="3" required="required" name="address">
                                       {{ courier.address }}
                                     </textarea>
                                    <span class="help-block">{{ error('address') }}</span>
                                </div>

                                <div class="form-group{% if has_error('split_percentage') %} has-error{% endif %}">
                                    <label for="split_percentage">Split Percentage</label>
                                    <input type="text" name="split_percentage" class="form-control" id="split_percentage" placeholder="Split Percentage" value="{{ courier.split_percentage }}" required="required">
                                    <span class="help-block">{{ error('split_percentage') }}</span>
                                </div>

                                <div class="form-group">
                        <label class="control-label normal">Status</label>
                        <div class="switch">
                          
                          <label> Inactive
                            <input type="checkbox" name="status" 
                            {% if courier.status == 1 %}checked {% endif %}> <span class="lever"></span>Active </label>
                        </div>
                      </div>

                            </div>
                          
                        
                            
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success form-control">Confirm</button>
                                </div>
                            </div>
                            {{ csrf() }}
                            <input type="hidden" name="user_id" value="{{courier.id}}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}

{% endblock %}

