{% extends 'app.twig' %}

{% block title %}{{config['site-name']}} || Create Delivery Order{% endblock %}

{% block body %}
<section class="forms-basic">
<div class="page-header">
	<h1> <i class="md md-input"></i>  Add Delivery    </h1>
	<p class="lead"> Manually adding delivery details. </p>
</div>

<form action="{{ currentRoute }}" method="POST" role="form" name="delivery-add" id="deliveryForm">
<div class="m-b-20">

</div>
<div class="row">
	<div class="col-md-6">
		<div class="well white">

			<fieldset>
				<legend>Delivery Details </legend> <span class="help-block mw400"></span>
					
					<div class="form-group{% if has_error('order_no') %} has-error{% endif %}">
						<label class="control-label normal">Order Number</label>
						<input class="form-control input-sm" id="focusedInput" type="text" placeholder="Order No" name="order_no">
						<span class="help-block">{{ error('order_no') }}</span>
					</div>
					
					<div class="form-group{% if has_error('courier_name') %} has-error{% endif %}">
						
						{% if user_type == "admin" %}
							<label for="courier_name">Couriers </label>
							<select id="courier_name" name="courier_name" class="form-control" >
							<option value="ns">[select a courier]</option>

								{% for courier in couriers %}
									<option value="{{ courier.id }}"> {{ courier.courier_name }} </option>
								{% endfor %}
							</select>
						{% elseif user_type == "courier-admin" %}
								<input id="courier_name" name="courier_name" type="hidden" value="{{couriers.id}}">
						{% endif %}

						<span class="help-block">{{ error('courier_name') }}</span>
					</div>

					<div class="form-group{% if has_error('merchant_name') %} has-error{% endif %}">
						{% if user_type == "merchant-user" %}
							<input id="merchant_name" name="merchant_name" type="hidden" value="{{ merchantId }}">
						{% elseif user_type in ['courier-user', 'courier-admin']  %}
							<label for="merchant_name">Merchants</label>
							<select id="merchantOnchange" name="merchant_name" class="form-control" >
								<option value="ns">[select a merchant]</option>
								{% for merchant in merchants %}
									<option value="{{ merchant.id }}"> {{ merchant.merchant_name }} </option>
								{% endfor %}
							</select>
						{% endif %}

						<span class="help-block">{{ error('merchant_name') }}</span>
					</div>

					<div class="form-group{% if has_error('pay_on_delivery') %} has-error{% endif %}">
						<label for="pay_on_delivery">Pay On delivery</label>
						<select id="pay_on_delivery" name="pay_on_delivery" class="form-control" >
						<option value="ns">[- Select - ]</option>
						<option value="1"> Yes</option>
						<option value="0"> No</option>

						</select>

						<span class="help-block">{{ error('pay_on_delivery') }}</span>
					</div>

					<div class="form-group">
						<label class="control-label normal">Pickup Handling</label>
						<select class="form-control" id="pickup_sel" name="pickup_handling">
						<option value="ns">[ select one ]</option>
						<option value="mercht-loc"> Picked up at Merchant </option>
						<option value="courier-loc">Dropped off at Courier</option>
						</select>
					</div>

					<span id="courier_loc">
						<div class="form-group" >
							<label for="merchant_name">Select Courier Drop Off Location</label>
							<select name="courier_location_handling">
							<option value="ns"> [courier location] </option>
							{% if courier_location is empty %}
							<option value=""> Don't have any location for this courior</option>
							{% else %}
							{% for loc in courier_location %}
							<option value="{{loc.id}}"> {{ loc.address}}</option>
							{% endfor%}
							{% endif %}
							</select>
						</div>
					</span>

					<span id="mercht_loc" class="">

						<label>Merchant Location</label> <span class="help-block mw400">The location for pickup</span>

						<div class="form-group">


						<input class="form-control input-sm merchantName" id="focusedInput" type="text" placeholder="Contact Name" name="merchant_contactname">
						</div>
						<div class="form-group">

						<input class="form-control input-sm" type="text" id="inputSmall" placeholder="Contact Email" name="merchant_email"> </div>
						<div class="form-group filled">

						<input class="form-control input-sm merchantEmail" id="focusedInput" type="text" placeholder="Contact Phone Number" name="merchant_phone"> </div>
						<div class="form-group">

						<input class="form-control input-sm" type="text" id="inputSmall" placeholder="Address" name="merchant_address"> </div>
						
					</span>

					<span id="state_lga_merchant">
						<div class="form-group filled">

						<select id="merchant_state" required="required" name="merchant_state">
						</select> </div>
                        <div class="form-group filled">

						<select id="merchant_lga" required="required" name="merchant_lga">
						</select>
						 </div>
					</span>

					<div class="form-group">
						<label class="control-label normal">Delivery Handling</label>
						<select class="form-control" id="drop_off_sel" name="delivery_handling">
						<option value="ns">[ select one ]</option>
						<option value="to_customer"> Deliver to Customer </option>
						<option value="customer_pickup">Customer Pickup</option>
						</select>
					</div>

					<span id="to_customer" class="">

						<label>Delivery Address</label> <span class="help-block mw400">Customer Delivery Address</span>

						<div class="form-group">


						<input class="form-control input-sm" id="focusedInput" type="text" placeholder="Contact Name" name="customer_name">
						</div>
						<div class="form-group">

						<input class="form-control input-sm" type="text" id="inputSmall" placeholder="Contact Email" name="customer_email"> </div>
						<div class="form-group filled">

						<input class="form-control input-sm" id="focusedInput" type="text" placeholder="Contact Phone Number" name="customer_phone"> </div>
						<div class="form-group">

						<input class="form-control input-sm" type="text" id="inputSmall" placeholder="Address" name="customer_address"> </div>

					</span>

					<span id="state_lga_cust">
						<div class="form-group filled">

						<select id="customer_state" required="required" name="customer_state">
						</select> 
						<div class="form-group filled">
							<select id="customer_lga" required="required" name="customer_lga">
							</select>
						 </div>

						 {% if user_type == "merchant-user" %}
						 	<div class="form-group filled">
								<label for="courier_name">Couriers</label>
								<select id="courierNameSelect" name="courier_name" required="required" class="form-control" >
								<option value="">[select a courier]</option>
									{% for courier in couriers %}
										<option value="{{ courier.courier_id }}"> {{ courier.courier_name }} </option>
									{% endfor %}
								</select>
							</div>

							<div class="form-group filled">
						 		<label id="calculatePriceShow" style="font-size: 24px;display: none;" >Price : <input type="text" name="calculatePrice" readonly id="calculatePrice"></label>
						 	</div>
						{% endif %}

						 {% if user_type == "courier-admin" or user_type == "courier-user" %}
						 	
							 <div class="form-group filled">
								<label for="courier_name">Couriers</label>
								<select id="courierNameSelect" name="courier_name" required="required" class="form-control" >
									<option value="">[select a courier]</option>
									<option value="{{ couriers.courier_id }}"> {{ couriers.courier_name }} </option>									
								</select>
							</div>

							<div class="form-group filled" >
						 		<label id="calculatePriceShow" style="font-size: 24px;display: none;" >Price : <input type="text" name="calculatePrice" id="calculatePrice"></label>
						 	</div>

							 <div class="form-group filled" id="agentSelectDiv" >
								<label for="assign_agent">Assign Agent</label>
								<select id="agentSelect" name="assign_agent" required="required" class="form-control" >
									<option value="0" selected>All</option>
									{% for agent in agents %}
										<option value="{{ agent.id }}"> {{ agent.first_name ~ ' ' ~ agent.last_name}} </option>
									{% endfor %}								
								</select>
							</div>

						{% endif %}
						
						</div>
					</span>

					<span id="customer_pickup">

						<label>Select Courier Location for Customer Pickup</label> <span class="help-block"> </span>

						<div class="form-group">
							<select name="delivery_location_handling">
							<option value="ns"> [courier location] </option>
								{% if courier_location is empty %}
									<option value=""> Don't have any location for this courior</option>
								{% else %}
									{% for loc in courier_location %}
										<option value="{{loc.id}}"> {{ loc.address}}</option>
									{% endfor %}
								{% endif %}
							</select>
						</div>

					</span>

			</fieldset>

		</div>
	</div>

	<div class="col-md-6">
		<div class="well white">
			<fieldset>
			<legend>Item Details</legend> <span class="help-block mw400">Add as many items as needed for this delivery</span>
			<div class="col-md-6">

			<div id="permissionsRow" class="dynamic">

                 <div class="form-group">
    				<input type="text" class="form-control" name="items_name[]" id="item_name" required="required" placeholder="Item Name*">
                </div>

				<div class="form-group">
					<input type="number" class="form-control" name="items_quantity[]" id="item_quantity" required="required" placeholder="Item Quantity*">
				</div>
				<div class="form-group">
					<input type="number" step="0.50" min="0.5" class="form-control" name="items_weight[]" id="item_weight" required="required" placeholder="Item Weight*">
				</div>

				<div class="form-group">
					<input type="number" class="form-control" name="items_size[]" id="item_size" placeholder="Item Size">
				</div>

				<div class="form-group">
					<input type="number" class="form-control" name="items_cost[]" id="item_cost"  placeholder="Per Item Cost" required="required">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" name="items_color[]" id="item_color"  placeholder="Item Color">
				</div>

				<div class="form-group">
					<label for="item_status">Item Status</label>
					<select id="item_status" name="items_status[]" required="required" class="form-control" {% if user_type != "courier-admin" and user_type != "courier-user" %} disabled {% endif %}>
						<option value="0">Pending</option>
						<option value="1">Picked up from merchant</option>
					</select>
				</div>

				<div class="">
					-----
				</div>

			</div>

			<div class="form-group" style="text-align: right;">
				<a class="btn btn-warning" id="addPermButton" style="margin-top: 15px;"><span class="fa fa-fw fa-gears"></span> Add New Product</a>
			</div>
			</div>
			</fieldset>
		</div>
	</div>
</div>





<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="form-group">
<button type="submit" class="btn btn-success form-control">Create Delivery</button>
</div>
</div>
</div>


{# csrf() #}
</form>
</section>
{% endblock %}



{% block javascript %}
<script charset="utf-8" src="/assets/default/js/jquery.stateLga.js"></script> 
<script charset="utf-8" src="/assets/default/js/jquery.ucfirst.js"></script> 

<script type="text/javascript">
$("#merchantOnchange").on('change', function(){ // any select that changes.
   var merchantId = $(this).val();

   $.post({
    async: false,
    url: "getMerchant",
    data:{'merchantId':merchantId},
    success: function(res) {
    	if(res)
    	{
    		var details = JSON.parse(res);
    		console.log("details" + res)
    		$('[name="merchant_email"]').val(details.email);	
    	     $('[name="merchant_contactname"]').val(details.merchant_name);
    	     $('[name="merchant_address"]').val(details.merchant_add);
			 $('[name="merchant_phone"]').val(details.contact_number);
    	}
    }});
   
})
</script>
<script>	

var option = '';

var states=$.nigeria.states();
for (var i=0;i<states.length;i++){
   if($.ucfirst(states[i]) == 'Lagos'){

   option += '<option value="'+ states[i] + '" selected="selected">' + $.ucfirst(states[i]) + '</option>';
  }else{
    option += '<option value="'+ states[i] + '">' + $.ucfirst(states[i]) + '</option>';
  }
}

//merchant related states and lgas
$('#merchant_state').append(option).on('change',function() 
{
	var option = '';
	option += '<option value="">Local government</option>';
	var lgas=eval('$.nigeria.'+this.value);
	for (var i=0;i<lgas.length;i++){
   		option += '<option value="'+ lgas[i] + '">' + $.ucfirst(lgas[i]) + '</option>';
	}

	$('#merchant_lga').find('option')
    	.remove()
    	.end().append(option);

}).trigger('change');


//customer related states and lgas
$('#customer_state').append(option).on('change',function() 
{
	var option = '';
	option += '<option value="">Local government</option>';
	var lgas=eval('$.nigeria.'+this.value);
	for (var i=0;i<lgas.length;i++){
   		option += '<option value="'+ lgas[i] + '">' + $.ucfirst(lgas[i]) + '</option>';
	}

	$('#customer_lga').find('option')
    	.remove()
    	.end().append(option);

}).trigger('change');

</script>
  <script type="text/javascript">
  $(function() {
    $("#addPermButton").click(function(){

        $('.dynamic').append(
        	$('<div/>').html(`<div>
								<div class="form-group">

									<input type="text" class="form-control" name="items_name[]" id="item_name" required="required" placeholder="Item Name">

								</div>

								<div class="form-group">

									<input type="number" class="form-control" name="items_quantity[]" id="item_quantity" required="required" placeholder="Item Quantity">
								</div>

								<div class="form-group">

									<input type="number" class="form-control" name="items_weight[]" step="0.50" min="0.5" id="item_weight" required="required" placeholder="Item Weight">
								</div>

								<div class="form-group">
									<input type="number" class="form-control" name="items_size[]" id="item_size" required="required" placeholder="Item Size">
								</div>

								<div class="form-group">

									<input type="number" class="form-control" name="items_cost[]" id="item_cost" required="required" placeholder="Per Item Cost">
								</div>

								<div class="form-group">

									<input type="text" class="form-control" name="items_color[]" id="item_color" required="required" placeholder="Item Color">
								</div>
  	`
	+

	{% if user_type == "courier-admin" or user_type == 'courier-user' %} 

	`							
								<div class="form-group">
									<select id="item_status" name="items_status[]" required="required" class="form-control">
										<option value="0">Pending</option>
										<option value="1">Picked up from merchant</option>
									</select>
								</div>
	`
	{% else %}
	
	`							
								<div class="form-group">
									<select id="item_status" name="items_status[]" required="required" disabled class="form-control">
										<option value="0">Pending</option>
										<option value="1">Picked up from merchant</option>
									</select>
								</div>
	`
	{% endif %}
  
	+
`

							</div>

							<div class="">
								<button class="btn btn-primary btn-danger removePerm" onclick="removeItem()"><span class="fa fa-fw fa-close"></span> </button>
							</div>

						</div>
                    `));
    });
});

  $(document).on('click', '.removePerm', function() {
    $(this).parent().parent().remove();
	});
</script>
<script type="text/javascript">
	//var customer_pickup = document.getElementById('customer_pickup');
	//var to_customer = document.getElementById('to_customer');
	//var mercht-loc = document.getElementById('mercht-loc');
	//var courier-loc = document.getElementById('courier-loc');

	//customer_pickup.style.display = 'none';
	$(customer_pickup).hide();
	$(to_customer).hide();
	$(mercht_loc).hide();
	$(courier_loc).hide();
	$(state_lga_merchant).hide();
	$(state_lga_cust).hide();
	$('#agentSelectDiv').hide();

	$("#pickup_sel").change(function() {
		  //alert($(pickup_sel).val());
		  selected = $(pickup_sel).val();
		  if(selected == "mercht-loc")
		  	{
		  		$(mercht_loc).show();
		  		$(state_lga_merchant).show();
		  		$(courier_loc).hide();

		  	}
		  	else if(selected == "courier-loc")
		  	{
		  		$(mercht_loc).hide();
		  		$(courier_loc).hide();
		  		$(state_lga_merchant).show();

		  	}
	});

	$( "#drop_off_sel" ).change(function() {
		  //alert($(pickup_sel).val());
		  selected = $(drop_off_sel).val();
		  if(selected == "to_customer")
		  	{
		  		$(to_customer).show();
		  		$(state_lga_cust).show();
		  		$(customer_pickup).hide();

		  	}
		  	else if(selected == "customer_pickup")
		  	{
		  		$(to_customer).hide();
		  		$(state_lga_cust).show();
		  		$(customer_pickup).hide();
		  	}
	});

	function removeItem(){
		document.getElementById("courierNameSelect").value = "select";
		$("#calculatePriceShow").hide();
    	
	}

	$("#courierNameSelect").on('change', function(){
	

	var itemWieght = document.getElementById('item_weight').value;

   var courieId = $(this).val();
   if(itemWieght == "")
   {
   	 alert('please select weight to see price');
   	 document.getElementById("courierNameSelect").value = "select";

   }
  else
  {
  	if(document.getElementById("courierNameSelect").value != "select")
	$.post({
    async: false,
    url: "getPrice",
    data:$('#deliveryForm').serialize(),
    success: function(res) {
    	if(res != '"no record found for this location"')
    	{   
    		$("#calculatePriceShow").show();
    		$('#calculatePrice').val(res);
			$("#agentSelectDiv").show();
    	}
    	
    }});
  }
   
});

</script>
{% endblock %}
