{% extends 'app.twig' %}
{% block title %}{{config['site-name']}} || Deliveries{% endblock %}

{% block stylesheets %}

    <style>
      div.container {
          margin: 0 auto;
          max-width:760px;
      }
      div.header {
          margin: 100px auto;
          line-height:30px;
          max-width:760px;
      }
      body {
          background: #f7f7f7;
          color: #333;
          /**font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Verdana,Arial,Helvetica,sans-serif;***/
      }

      div#table_wrapper {
          overflow-x : scroll;
      }

    </style>


{% endblock %}
{% block body %}
            <div class="page-header">
              <h1> <i class="md md-list"></i> Delivery Orders</h1>
              <!-- custom button to print -->
              <div class="dt-buttons" style="margin-left:900px; margin-top:-35px;display: none;">
                <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="table"><span>Copy</span></button>
                <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="table"><span>CSV</span></button>
                <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="table"><span>Excel</span></button>
                <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="table" title="PDF" id="pdfOpen"><span><i> PDF </i></span></button> 
                <button class="dt-button buttons-print" tabindex="0" aria-controls="table"><span>Print</span></button> 
            </div>
              <!-- end of custom code -->
            </div>

                    <div class="col-md-12">

                      <div class="card" style="padding-top:20px;pagging-bottom:20px;">
                        <div class="date-filter-group">
                            <select class="form-control" id="by_status" style="font-size: 16px; margin-top: -6px;">
                                <option value="">All Transactions</option>
                                <option value="pending">Pending Transactions</option>
                                <option value="processing">Processing Transactions</option>
                                <option value="delivered">Delivered Transactions</option>
                                <option value="partial">Partially Delivered Transactions</option>
                                <option value="returned">Returned Transactions</option>
                                <option value="cancelled">Cancelled Transactions</option>
                            </select>
                            <input id="fromDate" placeholder="From" width="276" />
                            <input id="toDate" placeholder="To" width="276" />
                        </div>
                      </div>

                      <div class="card">
                        
                          
                        <table id="table" class="mdl-data-table" cellspacing="0" width="100%" data-page-length="25" >

                            <thead>
                                <tr>
                                    <th>Transtion-ID</th>
                                    <th>Order Number</th>
                                    {% if userAccess.roles.0 != 'merchant-user' %}<th>Merchant Name</th> {% endif %}
                                    <th>Agent</th>
                                    <th>Transaction Status</th>
                                    <th>Payment Type</th>
                                    <th>Delivery Location</th>
                                    <th>Total Amount</th>
                                    <th>Delivery Cost</th>
                                    <th>Transaction Time</th>
                                    <th>Updated at</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr></tr>  
                            </tbody>

                        </table>                          
                       
                      </div>
                  <div class="grey-text small p-t-20">Copyright &copy; 2017 by Netplus All rights Reserved</div>

                </div>
        
{% endblock %}
{% block javascript %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
<script charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script charset="utf-8" src="https://momentjs.com/downloads/moment.js"></script> 

<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<script>

  $(document).ready(function() {

    var getColumns = function(type) {

        var columns;

        if (type == 'merchant-user') {

         columns = [
            {
                data: "transaction_id",
                "render": function ( data, type, row, meta ) {
                    return "<a href={{path_for('delivery-detail')}}/"+data+">"+ data+ "</a>";
                }
            }, 
            { 
                data: 'transaction_order_no'
            },
            {
                data: 'agent_name'
            },
            {
                data: "transaction_status",
                "render": function ( data, type, row, meta ) {
                    if(data == 3 || data == 301)
                        return "Delivered";
                    else if(data == 1 || data == 14 || data == 101 || data == 10 || data == 4 || data == 2 || data == 7)
                        return "Processing";
                    else if(data == 0)
                        return "Pending";
                    else if(data == 30)
                        return "Partial Delivery";
                    else if(data == 5 || data == 6)
                        return "Returned";
                    else if(data == 8 )
                        return "Cancelled";
                    else
                        return data;
                }
            },
            { 
                data: 'transaction_payment_type',
                "render" : function(data,type,row,meta){
                        if(row.pod_transaction == 0 && row.preauth_transaction == 0 ){
                            return "Prepaid";
                        }
                        if(row.pod_transaction == 1 && row.preauth_transaction == 0){
                            return "POD"
                        }
                        if(row.pod_transaction == 0 && row.preauth_transaction == 1){
                            return "DOD / PreAuth"
                        }   
                }
            },
            { 
                data: 'customer_address_new'
            },
            { 
                data: 'transaction_total_amount',
                "render": function ( data ) {

                   return "₦" + numeral(data).format('0,0.00');

                }

            },
            { 
                data: 'delivery_cost',
                render : function(data) {
                    return  "₦" + numeral(data).format('0,0.00');
                }
            },
            { 
                data: 'transaction_datetime',
                render : function(data) {
                    return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                }
            },
            { 
                data: 'updated_at',
                render: function(data) {
                    return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                }
            }      
        ]

        } else {
            columns = [
            {
                data: "transaction_id",
                "render": function ( data, type, row, meta ) {
                    return "<a href={{path_for('delivery-detail')}}/"+data+">"+ data+ "</a>";
                }
            }, 
            { 
                data: 'transaction_order_no'
            },
            { 
                data: 'merchant_name' 
            },
            {
                data: 'agent_name'
            },
            {
                data: "transaction_status",
                "render": function ( data, type, row, meta ) {
                    if(data == 3 || data == 301)
                        return "Delivered";
                    else if(data == 1 || data == 14 || data == 101 || data == 10 || data == 4 || data == 2 || data == 7)
                        return "Processing";
                    else if(data == 0)
                        return "Pending";
                    else if(data == 30)
                        return "Partial Delivery";
                    else if(data == 5 || data == 6)
                        return "Returned";
                    else if(data == 8 )
                        return "Cancelled";
                    else
                        return data;
                }
            },
            { 
                data: 'transaction_payment_type',
                "render" : function(data,type,row,meta){
                        if(row.pod_transaction == 0 && row.preauth_transaction == 0 ){
                            return "Prepaid";
                        }
                        if(row.pod_transaction == 1 && row.preauth_transaction == 0){
                            return "POD"
                        }
                        if(row.pod_transaction == 0 && row.preauth_transaction == 1){
                            return "DOD / PreAuth"
                        }   
                }
            },
            { 
                data: 'customer_address_new'
            },
            { 
                data: 'transaction_total_amount',
                "render": function ( data ) {

                   return "₦" + numeral(data).format('0,0.00');

                }

            },
            { 
                data: 'delivery_cost',
                render : function(data) {
                    return  "₦" + numeral(data).format('0,0.00');
                }
            },
            { 
                data: 'transaction_datetime',
                render : function(data) {
                    return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                }
            },
            { 
                data: 'updated_at',
                render: function(data) {
                    return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                }
            }      
          ]
        }

        return columns;

    }

    var dataTable = $('#table').DataTable( {
        "paging":   true,
        "ordering": true,
        "processing": true,
        "serverSide": true,
        "filter" : true,
        "order": [[ 10, "desc" ]],
        "ajax": {
            "url": "{{ path_for('list-delivery') }}",
            "type": 'POST',
            "data": function ( d ) {
                d.from_date = $('#fromDate').val();
                d.to_date = $('#toDate').val();
                var status = $('#by_status').val();
                d.status = (new String(status)).length > 0 ? status : "";
            }
        },
        "columns" : [
            {
                data: "transaction_id",
                "render": function ( data, type, row, meta ) {
                    return "<a href={{path_for('delivery-detail')}}/"+data+">"+ data+ "</a>";
                }
            }, 
            { 
                data: 'transaction_order_no'
            },
            { 
                data: 'merchant_name' 
            },
            {
                data: 'agent_name'
            },
            {
                data: "transaction_status",
                "render": function ( data, type, row, meta ) {
                    if(data == 3 || data == 301)
                        return "Delivered";
                    else if(data == 1 || data == 14 || data == 101 || data == 10 || data == 4 || data == 2 || data == 7)
                        return "Processing";
                    else if(data == 0)
                        return "Pending";
                    else if(data == 30)
                        return "Partial Delivery";
                    else if(data == 5 || data == 6)
                        return "Returned";
                    else if(data == 8 )
                        return "Cancelled";
                    else
                        return data;
                }
            },
            { 
                data: 'transaction_payment_type',
                "render" : function(data,type,row,meta){
                        if(row.pod_transaction == 0 && row.preauth_transaction == 0 ){
                            return "Prepaid";
                        }
                        if(row.pod_transaction == 1 && row.preauth_transaction == 0){
                            return "POD"
                        }
                        if(row.pod_transaction == 0 && row.preauth_transaction == 1){
                            return "DOD / PreAuth"
                        }   
                }
            },
            { 
                data: 'customer_address_new'
            },
            { 
                data: 'transaction_total_amount',
                "render": function ( data ) {

                   return "₦" + numeral(data).format('0,0.00');

                }

            },
            { 
                data: 'delivery_cost',
                render : function(data) {
                    return  "₦" + numeral(data).format('0,0.00');
                }
            },
            { 
                data: 'transaction_datetime',
                render : function(data) {
                    return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                }
            },
            { 
                data: 'updated_at',
                render: function(data) {
                    return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                }
            }      
        ],
        dom: 'Bfrtip',
        buttons: ['excel', 'csv', 'pdf', 'print'],
        initComplete: function() {
            
            $("div.dt-buttons button").attr("class","mdl-button  mdl-button--raised mdl-button--colored");
            var dt = dataTable;
            $('#fromDate').datepicker({
                'format' : "dd-mm-yyyy",
                "change" : function(e) {
                    dt.draw();
                }
            });

            $('#toDate').datepicker({
                'format' : "dd-mm-yyyy",
                "change" : function(e) {
                    dt.draw();
                }
            });

            $('#by_status').on("change",function() {
                dt.draw();
            });

        }
    });
  });

</script>  

<style type="text/css">
  .form-group.form_card {
    width: 50%;
    float: right;
    margin: 0px;
}

.form-group.form_card .input-group.input-daterange {
    border: solid 1px #ddd;
}

.form-group.form_card .input-group.input-daterange input {
    font-size: 14px;
    padding: 5px 15px;
}

.payment_type_section {
    width: 50%;
    float: left;
}

.card:after {
    content: "";
    display: block;
    clear: both;
}

.card {
    padding: 10px;
    border: solid 1px #ddd;
}

.payment_type_section
 div {
    display: inline-block;
}

.payment_type_section div select {padding: 6px 10px;border: solid 1px;width: 200px;max-width: 300px;}


.mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:hover {
    background-color: #4D4D4D;
}

.mdl-button--raised.mdl-button--colored {
    background: #4D4D4D;
    color: #fff;
}


table.dataTable td, table.dataTable th {
    /* -webkit-box-sizing: content-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i.gj-icon {
    color : #4D4D4D;
}

.gj-datepicker-md {
    display: inline-block;
    margin-left: 25px;
}

.date-filter-group {
    display: flex;
    justify-content: flex-end;
}

#fromDate, #toDate {
    color : #5a5a5a;
}
</style>
{% endblock %}
