{% extends 'app.twig' %}
{% block stylesheets %}
<style type="text/css">
	div#showForm {
    margin-top: 10px;
}

div#showForm button#assign {
    margin-top: 10px;
}
</style>
{% endblock %}
{% block title %}{{config['site-name']}} || Delivery Details {% endblock %}

{% block body %}
	 
   <section class="tables-data">
        <h1> <i class="md md-list"></i> Delivery Details </h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="panel-heading">
                        <div class="pull-left"><h3>{{ courier_name }} </h3></div>
					</div>

						<!-- end: INVOICE -->
                        <div style="clear: both;"></div>


                    <div class="card-content">
                        <!-- start: INVOICE -->
						<div class="panel-body">

								<div class="col-lg-12">
								<div>
									<div class="row">
										<div class="col-sm-6">
											<img alt="" src="/assets/images/your-logo-here.png">
										</div>
										<div class="col-sm-6">
											<p class="text-dark">
												Order ID: #{{transaction.transaction_id}} / Last Updated {{dateobject.setTimestampFromString(transaction.updated_at)}} <small class="text-light"> </small>
											</p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-4">
											<h4>Pickup Details</h4>
											<div class="well">
												{% if transaction.pickup_handling == "courier-loc"%}
												Merchant Drops Off
												<address>
													<br>
													{{pickup_details.address}}
													<br>
													{{pickup_details.local_govt_area}}
													<br>
													{{pickup_details.state}}
													</address>

											{% elseif transaction.pickup_handling == "mercht-loc"%}
												 Courier Picks up at {{merchant.merchant_name}}
												 <address>
													<br> Contact Name: {{pickup_details.merchant_contactname}}
													<br>
													{{pickup_details.merchant_address}}
													<br>
													{{pickup_details.merchant_lga}} : {{pickup_details.merchant_state}}
													<br>
													<abbr title="Phone">P:</abbr> {{pickup_details.merchant_phone}}
													</address>
													<address>
													<strong class="text-dark">E-mail:</strong>
													<a href="mailto:#"> {{pickup_details.merchant_email}} </a>

												</address>
												{% endif %}
											</div>
										</div>
										<div class="col-sm-4">

										</div>
										<div class="col-sm-4 pull-right">
											<h4>Delivery Details:</h4>
												<div class="well">
												{% if transaction.delivery_handling == "customer_pickup"%}
												Customer picks up item
												<address>
													<br>
													{{delivery_details.address}}
													<br>
													{{delivery_details.local_govt_area}}
													<br>
													{{delivery_details.state}}
													</address>

											{% elseif transaction.delivery_handling == "to_customer"%}
											
												 Courier deliver to
												 <address>
													<br> Contact Name: {{delivery_details.customer_name}}
													<br>
													{{delivery_details.customer_address}}
													<br>
													{{delivery_details.customer_lga}} : {{delivery_details.customer_state}}
													<br>
													<abbr title="Phone">P:</abbr> {{delivery_details.customer_phone}}
													</address>
													<address>
													<strong class="text-dark">E-mail:</strong>
													<a href="mailto:#"> {{delivery_details.customer_email}} </a>

												</address>
												{% endif %}
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<table class="table table-striped table-bordered" id="table-items" cellspacing="0" width="100%">
												
												<thead>
													<tr>
														<th>  </th>
														<th> Delivery ID </th>
														<th> Delivery Status </th>
														<th class="hidden-480"> Item </th>
														<th class="hidden-480"> Item Weight </th>
														<th class="hidden-480"> Quantity </th>
														<th class="hidden-480"> Unit Cost </th>
														<th> Total </th>
													</tr>
												</thead>
												<tbody>
													{% for item in items %}
													<tr data-id="{{item.id}}">
														<td>   </td>
														<td id='id' name="id"> {{item.item_id}} </td>
														{% if item.delivery_status in [3, 301] %}
																				{% set color_code = "green lighten-1"%}
														{% elseif item.delivery_status in [1,14,101,102, 10]%}
																{% set color_code = "theme-secondary-lighten-1"%}
														{% elseif item.delivery_status in [0]%}
																{% set color_code = "theme-lighten-1" %}
														{% elseif item.delivery_status in [5,6,8,801]%}
																{% set color_code = "red lighten-1 text-center" %}
														{% endif %}
														<td data-field="status" class="{{color_code |trim }} text-center">
                              								 
															 

															{% set status = transaction.getTransactionStatus(item.delivery_status)%}
                              								{{status}}
														
														</td>
														<td > {{item.item_name}} </td>
														<td data-field="weight"> {{item.item_weight}} </td>
														<td data-field="quantity" >{{item.item_qty}}</td>
														<td data-field="item-cost"> &#8358;{{item.item_cost}} </td>
														<td>

															&#8358;{{ item.item_cost * item.item_qty}} </td>
														{% if userAccess.roles.0 == "admin" or userAccess.roles.0 == "courier-admin" %}

														<td>
															
															<a class="button button-small edit" title="Edit">
															<i class="fa fa-pencil"></i>
														</a>
														</td>

														{% elseif userAccess.roles.0 != "merchant-user" and item.delivery_status not in [3,5,6,8,301]%}

														<td>fsdg</td>

														<td>
															
															<a class="button button-small edit" title="Edit">
															<i class="fa fa-pencil"></i>
														</a>
														</td>

														{% endif %}

														
														
														
														
													</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 invoice-block">
											<ul class="list-unstyled amounts text-small">
												<li>
													<strong>Sub-Total:</strong> &#8358; {{transaction.transaction_total_amount}}
												</li>
												<li>
													<strong>Delivery Cost:</strong> &#8358;{{transaction.delivery_cost}}
												</li>
												<li>
													<strong>VAT:</strong>
													{%
														set vat = transaction.delivery_cost * 0.05
													%}
													&#8358;{{vat}} (5%)
												</li>
												<li class="text-extra-large text-dark margin-top-15">

													<strong >Total:</strong>
													 &#8358;{{ transaction.transaction_total_amount + transaction.delivery_cost + vat }}
												</li>
											</ul>
											<br>
											{% set i = 0 %}
											{% for item in items %}
											{% if userAccess.roles.0 != ""  and i != 1 %}
											{% set i = 1 %}

											<a  href="{{  path_for('invoice', {'transaction_id': transaction.id}) }}" class="btn btn-lg btn-default hidden-print" target="_blank"> Generate Invoice <i class="fa fa-check"></i> </a>
											{% endif %}
											{% endfor %}

											<!--<button type="submit" class="btn btn-lg btn-default hidden-print" id="update">Update</button> -->
											
											<!--
											<a class="btn btn-lg btn-default hidden-print get-id" id="{{transaction.id}}"> Update Status </a>
											<a  href="{{  path_for('assign-agent', {'transaction_id': transaction.id}) }}" class="btn btn-lg btn-default hidden-print get-id" id="{{transaction.id}}"> Assign An Agent </a>-->
											<a href="javascript:void(0)" class="btn btn-lg btn-default hidden-print get-id" id="hideForm"> Assign An Agent </a>
											<br>
											<div id="showForm" style="display:none;">
											<h1> <i class="md md-list"></i> Assign An Agent </h1>
											<form id="target" method="post" action="{{  path_for('assign-agent', {'transaction_id': transaction.id}) }}">
												  <input type="hidden" name="transaction_id" value="{{transaction.transaction_id}}">
												  <input type="hidden" name="delivery_status" value="{{status}}">
												  <select name="agent_assigned" class="form-control" required>
												     <option value="">Select Agent</option>
												  {% for agent in agents %}
												     <option value="{{agent.id}}">{{agent.first_name}}</option>
												  {% endfor %}
												  </select>
												  <select name="assignment" class="form-control" required>
												     <option value="">Select Assignment</option>
												     <option value="pickup">Pick-Up</option>
												     <option value="dropoff">Drop-Off</option>
												  </select>

												 
												
											<button type="submit" class="btn btn-lg btn-default hidden-print" id="assign">Submit</button>
											</form>
											</div>
											
										</div>
									</div>
                

								</div>
								</div>

						</div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block javascript %}
  <script charset="utf-8" src="/assets/default/tabledit/table-edits.js"></script> 
  <script>
		$("table tr").editable({
			keyboard: false,
			dblclick: false,
			button: true,
			buttonSelector: ".edit",
			dropdowns: {status: {{state|raw}} },
			maintainWidth: true,
			edit: function(values) {
				//var id = $(this).data('id');
				//$.post('{{path_for('delivery-edit')}}', values);
			},
			save: function(values) {
				var id = $(this).data('id');
				$.post('{{path_for('delivery-edit')}}/'+ id, values)
				.done(function(data){
					alert(data);
						location.reload();
				});
			},
			cancel: function(values) {}
		});

		$( "#hideForm" ).click(function() {
		  $( "#showForm" ).slideDown();
		  $( "#hideForm" ).slideUp();
		});
  </script>
{% endblock %}
