{% extends 'app.twig' %}

{% block title %}{{config['site-name']}} || Upload Bulk Delivery Orders {% endblock %}

{% block stylesheets %}
<style>


.table-csv-data {
    width:98%;
    margin:0 auto 1em;
    border-collapse:collapse;
    padding:0;
    font:normal 1em/1.5 sans-serif;
}
.table-csv-data td {
    border-bottom:1px solid #ccc;
    padding:.3em;
    color:#222;
    vertical-align: top;
    text-align:left;
}

.table-csv-data tr:nth-child(even) td {
    background-color:rgba(192, 192, 192, .2);
}

.table-csv-data tr:hover td {
    background-color:#d4e8fc;
}

.with-header tbody tr:first-of-type td {
    font-weight:bold;
}
.with-header tbody tr:first-of-type:hover td {
    background-color:inherit;
}

</style>
{% endblock %}
{% block body %}
<section class="forms-basic">
<div class="page-header">
	<h1> <i class="md md-input"></i>  Bulk Upload Delivery    </h1>
	<p class="lead"> Uploading delivery details. </p>
</div>

<form action="{{ currentRoute }}" method="POST" role="form" name="delivery-bulk" enctype="multipart/form-data">
<div class="m-b-20">

</div>
<div class="row">
	<div class="col-md-12">
		<div class="well white">

			<fieldset>
				<legend>Delivery Bulk Upload</legend> <span class="help-block mw400"></span>
				

					<div class="form-group">
						
							<input type='hidden' name='type' value="{{type}}" />
	                         {% if type == 'Courier' %}
	                        
							  <label for="courier_name">Merchant </label>
								<select id="courier_name" name="merchant_name" class="form-control" >
								<option value="ns">[select a Merchant]</option>

									{% for courier in couriers %}
										<option value="{{ courier.id }}"> {{ courier.merchant_name }} </option>
									{% endfor %}
								</select>
							{% elseif type == 'Merchant' %}
							<label for="courier_name">Couriers </label>
								<select id="courier_name" name="courier_name" class="form-control" >
								<option value="ns">[select a courier]</option>

									{% for courier in couriers %}
										<option value="{{ courier.id }}"> {{ courier.courier_name }} </option>
									{% endfor %}
								</select>
							{% endif %}
							 </div>
							
							<div class="form-group">
	                          <label class="control-label">CSV Expected</label>
	                          <input type="file" name="file" > 
	                         </div>
                        
						<span class="help-block">{{ error('delivery_cost') }}</span>
					
					
					{% autoescape %}
					    {{ csv.toHTml('table-csv-data with-header')|raw }} {# var won't be escaped #}
					{% endautoescape %}
				
					
            	<div class="col-md-3" >
		             <div class="form-group">
					 {% if not csv %}
						<button type="submit" class="btn btn-success form-control">Submit</button>
					 {% endif %}
					</div>
				</div>
			</fieldset>

		</div>
	</div>

	
</div>

{# csrf() #}
</form>
</section>
{% endblock %}




