{% extends 'app.twig' %}
{% block body %}
           

                                          
<table>


<tr >
  
  <th>Trans ID</th>
  <th>Client</th>
  <th>Transaction Status</th>
  <th>Payment Type</th>
  <th>Delivery Location</th>
  <th>Total Amount</th>
  <th>Delivery Cost</th>
  <th>Transaction Time</th>
  <th>Order No.</th>
  <th>Updated at</th>                                  
</tr>



{% for results in transactions %}

    <tr>
  
 
  <td>{{results.transaction_id |trim}}</td>
  <td>{{results.merchant_name}}</td>
  
  <td>{% if results.transaction_status == 3  %}
  {{"Delivered" }}
  {% elseif results.transaction_status == 301 %}
  {{"Delivered" }}
  {% elseif results.transaction_status == 1 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 14 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 101 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 102 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 10 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 4 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 2 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 7 %}
  {{"Processing" }}
  {% elseif results.transaction_status == 0 %}
  {{"Pending" }}
  {% elseif results.transaction_status == 30 %}
  {{"Partial Delivery" }}
  {% elseif results.transaction_status == 5 %}
  {{"Returned" }}
  {% elseif results.transaction_status == 6 %}
  {{"Returned" }}
  {% elseif results.transaction_status == 8 %}
  {{"Cancelled" }}
  {% endif %}

  </td>
  <td>
  {% if results.pod_transaction == 0 and results.preauth_transaction == 0  %}
  {{"Prepaid" }}
  {% elseif results.pod_transaction == 1 and results.preauth_transaction == 0 %}
  {{"POD" }}
  {% elseif results.pod_transaction == 0 and results.preauth_transaction == 1 %}
  {{"DOD / PreAuth" }}
  {% endif %}

 </td>
  <td>{{ results.delivery_location }}
  </td>
  
  <td>
  {% if results.transaction_payment_type == "Prepaid"  %}
  {{0}}
  {% else %}
  {{results.transaction_total_amount }}
  {% endif %}
  </td>
  
  <td>{{results.delivery_cost}}</td>
  
  <td>{{ results.transaction_datetime }}</td>
  <td>{{results.transaction_order_no}}</td>
  <td>{{results.updated_at}}</td>
  
</tr>
 {% endfor %}
 



</table>
{% endblock %}