{% extends 'app.twig' %} {% block title %}{{config['site-name']}} || Map{% endblock %} {% block body %}
<section class="tables-data">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">News Feed</h1>
            </div>

        </div>
    </div>
</section>

{% endblock %} {% block javascript %} {% endblock %}