<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saddle">
    <meta name="author" content="NetPlus">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.png">
    <title>{{ config['site-name'] }} || Forgot Password </title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>  <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="/assets/default/css/glyph.css" />

    <link rel="stylesheet" type="text/css" href="/assets/default/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/default/css/styles.min.css">

    <style type="text/css">
      body{
        background: radial-gradient(circle at 1.99% 43.04%,#f69147,transparent 100%),radial-gradient(circle at 99.79% 73.72%,#f9b787,transparent 58%),radial-gradient(circle at 50% 50%,#f5e9e1,#f69147 100%);
        }
      main{
        padding-left: 0px !important;
      }
      }
    </style>
    <script charset="utf-8" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  </head>

{% import 'App/macros/form.twig' as form %}


 <body scroll-spy="" id="top" class=" theme-template-dark theme-pink alert-open alert-with-mat-grow-top-right">
 <main>
     <div class="main-container">
        <nav class="navbar navbar-default navbar-fixed-topt">
          <div class="container-fluid">
            <div class="navbar-header pull-left">
             
            </div>
            <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
              <li class="dropdown pull-right">
                <span style="padding-top: 10px;">Having Problems?</span>
                <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="/assets/tpl/partials/dropdown-navbar.html" data-toggle="dropdown"> <i class="md md-live-help f20"></i> </button>
                <div class="dropdown-menu complain">
                  <form class="form-floating" style="padding: 20px;">
                    <fieldset>
                    <div class="form-group">
                      <label class="control-label">Name</label>
                      <input type="text" name="name " class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Complain</label>
                      <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </fieldset>
                  </form>
                </div>
                
              </li>
              <li class="dropdown pull-right"><a href="{{ path_for('login') }}" style="padding: 7px 20px 0px;">Login</a></li>
            </ul>
          </div>
        </nav>
        <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">
                             {% block flash %}
                                  {% include 'App/inc/flash.twig' %}
     
                              {% endblock %}

                               <section class="forms-validation">
    <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Forgot Password</div>
                <div class="panel-body">
                    <form action="{{ path_for('forgot-password') }}" method="POST">
                        {{ form.group('email', null, 'email', 'Email Address') }}
                        {{ csrf() }}
                        <input type="submit" value="Reset Password" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</div>
</div>
</main>
<script type="text/javascript" src="/assets/default/js/jquery.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/vendors.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/app.min.js"></script>

    

    <script type="text/javascript">
      $(document).ready(function(){
        $("#page2").hide();
        $("#page1_button").click(function(e){
          e.preventDefault();
          $("#page1").hide();
          $("#page2").show();
        });
        
      });
    </script>

  </body>
