{% extends 'app.twig' %}

{% import 'App/macros/global-config.twig' as configMacro %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Settings{% endblock %}



{% block body %}
    <section class="tables-data">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Settings</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="panel-heading">
                    Settings
                </div>

                <div class="panel-body">
                    <form action="{{ path_for('settings-global') }}" method="post">
                        {% for item in globalConfig %}
                            {% if item.type == "theme" %}
                                {{ configMacro.configTheme(item.name, item.description, item.type, item.value, themeList) }}
                            {% elseif item.type == "string" %}
                                {{ configMacro.configString(item.name, item.description, item.type, item.value) }}
                            {% elseif item.type == "timezone" %}
                                {{ configMacro.configTimezone(item.name, item.description, item.type, item.value, timezones, cfg.timezone) }}
                            {% else %}
                                {{ configMacro.configDefault(item.name, item.description, item.type, item.value) }}
                            {% endif %}
                        {% endfor %}

                        {{ csrf() }}

                        <div class="row" style="margin-top: 20px;">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary form-control">Save Config</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Add New Setting
                </div>

                <div class="panel-body">
                    <form action="{{ path_for('settings-global-add') }}" method="post">
                        <div class="form-group{% if has_error('add_name') %} has-error{% endif %}">
                            <label for="name">Name</label>
                            <input type="text" name="add_name" id="add_name" class="form-control" value="" required="required" placeholder="Name">
                            <span class="help-block">{{ error('add_name') }}</span>
                        </div>
                        <div class="form-group{% if has_error('add_description') %} has-error{% endif %}">
                            <label for="description">Description</label>
                            <input type="text" name="add_description" id="add_description" class="form-control" value="" required="required" placeholder="Description">
                            <span class="help-block">{{ error('add_description') }}</span>
                        </div>
                        <div class="form-group{% if has_error('add_type') %} has-error{% endif %}">
                            <label for="type">Type</label>
                            <select name="add_type" id="add_type" class="form-control" required="required">
                                <option value=""></option>
                                <option value="string">String</option>
                            </select>
                            <span class="help-block">{{ error('add_type') }}</span>
                        </div>
                        <div class="form-group{% if has_error('add_value') %} has-error{% endif %}">
                            <label for="value">Value</label>
                            <input type="text" name="add_value" id="add_value" class="form-control" value="" required="required" placeholder="Value">
                            <span class="help-block">{{ error('add_value') }}</span>
                        </div>

                        {{ csrf() }}

                        <div class="row" style="margin-top: 20px;">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success form-control">Add New Setting</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}

{% endblock %}