<!DOCTYPE html>
<html id="home">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saddle">
    <meta name="author" content="NetPlus">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="/assets/default/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/default/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/favicon.png">
    <link href="/assets/default/css/vendors.min.css" rel="stylesheet">
    <link href="/assets/default/css/styles.min.css" rel="stylesheet">
    <link href="/assets/default/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/default/css/landing_style.css">
    <title>Saddle | Nigeria's Preferred Logistic Platform</title>

    <script type="text/javascript">
        function showForm() {
            var selopt = document.getElementById("opts").value;
            if (selopt == 1) {
                document.getElementById("f1").style.display = "block";
                document.getElementById("f2").style.display = "none";
            }
            if (selopt == 2) {
                document.getElementById("f2").style.display = "block";
                document.getElementById("f1").style.display = "none";
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function() {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });

            $('button#lead-form').on("click",function(event){

                event.preventDefault();
                var data = {};
                data.name = $('input[name="name"]').val();
                data.email = $('input[name="email"]').val();
                data.message = $('textarea[name="description"]').val();

                console.log("res: " + JSON.stringify(data));

                $.post("/leadGenerator",data, function(res) {
                        console.log(JSON.stringify(res))
                        alert(res.message)
                })
                .fail(function(error) {
                    console.log(error)
                    alert("an error occured")
                });

            });
        });
    </script>

    <style type="text/css">
        form.form-wrapper {
            position: relative;
        }
        
        span.error {
            color: red;
            position: absolute;
            background: #fff;
            padding: 5px;
            bottom: -25px;
            display: inline-block;
            width: 100%;
            max-width: 60%;
            left: 50px;
            overflow: visible;
        }
        
        span.error:after {
            content: "";
            width: 0px;
            height: 0px;
            border: solid 10px transparent;
            border-bottom: solid 10px #fff;
            position: absolute;
            top: -20px;
            left: 10px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">

            <div class="col-lg-2">
                <a class="navbar-brand" id="navbar-brand" href="/#" class="logo" style="float:left; padding-top:10px;">
                    <img src="/assets/default/img/logo.png" alt="Saddle">
                </a>

                <button style="border:1px solid #fff;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="color:#fff!important;"></span>
                </button>

            </div>
            <!--end of col-lg-2-->

            <div class="col-lg-10">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">

                        <li class="nav-item" id="features-id">
                            <a href="/#features">Features</a>
                        </li>

                        <li class="nav-item">
                            <a href="/#couriers">Couriers</a>
                        </li>

                        <li class="nav-item">
                            <a href="/#merchants">Merchant</a>
                        </li>

                        <li class="nav-item">
                            <a href="/#customers">Customers</a>
                        </li>

                        <li class="nav-item">
                            <a href="/login" class="login">Login</a>
                        </li>

                        <li class="signup">
                            <a href="http://sendpackage.saddleng.com" role="button" class="signup" style="background-color:#F69147; margin-left:10px;">SEND A PACKAGE</a>
                        </li>

                        <li class="nav-item">
                            <img src="/assets/default/img/mastercard.fw.png" height="50" width="62" style="margin-left:15px;">
                        </li>

                    </ul>
                </div>

            </div>
            <!--end of col-lg-10-->

        </div>
        <!--end of container-->
    </nav>

    <main>
        <div class="header">
            <div class="container" id="track-cnt" style="height:400px;">
                <h1 class="title" style="margin-top:40px;">Track, Distribute and Manage Courier Services on Saddle</h1>
                <p class="center white-text">Delivery just got easier</p>
                <div class="header-bottom" style="padding-bottom: 20px;">
                    <div class="container">
                        <form class="form-wrapper cf" method="post" action="/">
                            <input type="text" name="transaction_id" placeholder="Enter tracking number..." required="" </form>

                            <button type="submit">Track</button>
                    </div>

                </div>

            </div>
        </div>

        <div id="new">
            <div class="new-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header-txt">
                                <h1 class="title"> Delivery Management Solution for Businesses </h1>
                                <p>
                                    Courier Gateway for SMEs and Individuals. Access multiple courier services at a go, integrate Saddle to your online and offline business, and enjoy access to multiple courier options with all the tools required for tracking, payment and reconciliation
                                </p>

                            </div>
                            <!--end of header-txt-->
                        </div>
                        <!--end of col-lg-12-->
                    </div>
                    <!--end of row-->

                    <div class="cta" align="center">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="sadlle_cta">
                                    <a href="/signup" role="button" class="header-button button-color2">START USING SADDLE</a>
                                </div>
                                <!--end of saddle-cta-->
                            </div>
                            <!--end of col-lg-6-->

                            <div class="col-lg-6">
                                <div class="sadlle_cta">
                                    <a href="http://sendpackage.saddleng.com" role="button" class="header-button button-color3">SEND A PACKAGE</a>
                                </div>
                                <!--end of saddle-cta-->
                            </div>
                            <!--end of col-lg-6-->

                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of cta-left-->

                </div>
                <!--end of container-->
            </div>
        </div>

        <div class="services grey" id="features">
            <div class="inner pb-100">
                <div class="container">

                    <h2 class="title black-text center" style="color: #333; margin-top:20px;">Features that makes the difference</h2>

                    <div class="cards">

                        <div class="col-md-4">
                            <div class="card card-flip">
                                <div class="card-image small-icon">
                                    <img src="/assets/default/img/track.jpg"></div>
                                <div class="card-content">
                                    <div class="card-title black-text center">COURIER GATEWAY
                                    </div>
                                </div>
                                <div class="card-reveal"> <span class="card-title grey-text text-darken-4"><i class="md md-close pull-right btn-flip orange"></i></span>
                                    <p class="black-text">Simple API integration to get access to multiple couriers</p>
                                </div>
                                <div class="card-action clearfix">
                                    <div class="pull-right"> <a href="javascript:void(0)" class="btn btn-link btn-icon btn-flip"><i class="md md-keyboard-arrow-up"></i></a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card card-flip">
                                <div class="card-image small-icon">
                                    <img src="/assets/default/img/delivery.jpg"></div>
                                <div class="card-content">
                                    <div class="card-title black-text center">DELIVERY MANAGEMENT </div>
                                </div>
                                <div class="card-reveal"> <span class="card-title grey-text text-darken-4"><i class="md md-close pull-right btn-flip orange"></i></span>
                                    <p class="black-text">Tools to manage all aspects of your delivery</p>
                                </div>
                                <div class="card-action clearfix">
                                    <div class="pull-right"> <a href="javascript:void(0)" class="btn btn-link btn-icon btn-flip"><i class="md md-keyboard-arrow-up"></i></a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-flip">
                                <div class="card-image small-icon"> <img src="/assets/default/img/payment.jpg"></div>
                                <div class="card-content">
                                    <div class="card-title black-text center">PAYMENT SOLUTION </div>
                                </div>
                                <div class="card-reveal"> <span class="card-title grey-text text-darken-4"><i class="md md-close pull-right btn-flip orange"></i></span>
                                    <p class="black-text">Solutions for PoD, CoD, card acceptance and B2B Payment</p>
                                </div>
                                <div class="card-action clearfix">
                                    <div class="pull-right"> <a href="javascript:void(0)" class="btn btn-link btn-icon btn-flip"><i class="md md-keyboard-arrow-up"></i></a> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="courier" id="couriers" style="background-color:#F69147;">
            <div class="inner">
                <div class="container">
                    <div class="content">
                        <div class="row">

                            <div class="col-lg-6">
                                <div>
                                    <img src="/assets/default/img/img_left.jpg" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div>
                                    <h2 class="title" style="margin-top:5px;">Manage Deliveries, Payment and Customers</h2>
                                    <p class="section-desc" style="margin:0;">
                                        With Saddle, you have a platform to manage your logistics business end-to-end while you can focus on what truly matters – getting shipments to your customers. Tracking, Payment, Settlement, Reconciliation and PoD solutions are all embedded – just sign-up and you’re ready to use
                                    </p>
                                    <a href="/signup" role="button" class="header-button button-color" style="background-color:#000; color:#fff; margin-top:10px; margin-bottom:20px;">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="merchant grey" id="merchants">
            <div class="inner">
                <div class="container">
                    <div class="content2">
                        <div class="row">

                            <div class="col-lg-6">
                                <div>
                                    <h2 class="title" style="margin-top:5px; color:#000;">Access Multiple Couriers, Save Time and Money</h2>
                                    <p class="section-desc" style="margin:0; color:#000;">
                                        Integrate with Saddle to access multiple leading courier services and provide reliable delivery services to your customers at affordable prices. Leverage our PoD service to receive money from your customer at delivery, and we will process your settlement promptly. With one simple contract, you can leverage services of up to (4) courier companies once you register
                                    </p>
                                    <a href="/login" role="button" class="header-button button-color" style="margin-top:10px; margin-bottom:20px;">Login</a>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div>
                                    <img src="/assets/default/img/img_left2.jpg" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="courier" id="customers" style="background-color:#474747;">
            <div class="inner">
                <div class="container">
                    <div class="content">

                        <div class="row">
                            <div class="col-lg-6">
                                <div>
                                    <img src="/assets/default/img/img_left3.jpg">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div>
                                    <h2 class="title" style="margin-top:5px; color:#fff;">Shop with our Merchants with Ease of Mind </h2>
                                    <p class="section-desc" style="margin:0;">
                                        A delivery with Saddle provides the peace of mind that has been lacking in the market. You can track your package, with all the information about the courier and agents bring your parcel. You can see the estimated delivery time and options for payment if required. You can call the Saddle helpdesk for any question pertaining to the courier or your package and we will be there to provide you with answers
                                    </p>
                                    <a href="/#home" role="button" class="header-button button-color" style="margin-top:10px; margin-bottom:20px;">Start tracking</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="existing-client" style="background-color:#000;">
                <div>
                    <h2>Some of our Merchants</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="merchants">
                                <img src="/assets/default/img/jumia_logo.jpg" />
                                <img src="/assets/default/img/markethb_logo.jpg" />
                                <img src="/assets/default/img/ajebomarket_logo.jpg" />
                                <img src="/assets/default/img/dealdey_logo.jpg" />
                            </div>
                            <!--end of merchants-->

                        </div>
                    </div>
                    <!--end of row-->
                </div>
            <!--end of container-->

            <div style="background-color:#fff;">
                <div class="container">
                    <div class="couriers">
                        <h2>Some of our Couriers</h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="courier-list">
                                <img src="/assets/default/img/fedex_logo.fw.png" />
                                <img src="/assets/default/img/ups_logo.jpg" />
                                <img src="/assets/default/img/cp_logo.jpg" />
                                <img src="/assets/default/img/dhl_logo.jpg" />
                                <img src="/assets/default/img/sn_logo.jpg" />
                            </div>
                            <!--end of courier-list-->
                        </div>
                        <!--end of col-lg-12-->
                    </div>

                </div>
                <!--end of existing client-->
            </div>
            <!--end of container-->
        </div>
    </main>

    <footer>
        <div class="content3">

            <h3 class="section-title center white-text">Contact Us</h3>

            <div class="col-md-9" style="margin: auto;">
                <form  id="lead-form" class="form-floating">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name"type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="text" class="form-control">
                        </div>

                        <div class="form-group filled m-b-10">
                            <label for="description" class="m-b-10">Description</label>
                            <textarea name="description" class="form-control vertical " rows="3" id="textArea"> </textarea>
                        </div>

                        <div class="form-group">
                            <button id="lead-form" class="btn btn-primary theme-bg" style="padding:15px; width:20%;">Send</button>
                        </div>
                    </fieldset>
                </form>

                <div class="address">
                    For more enqiries call:0809 9990 660 or send an email to <a href="mailto:saddle@netplusadvisory.com" style="text-decoration:none; color:#fff;">saddle@netplusadvisory.com</a>
                </div>

            </div>

        </div>
        <div class="white-text small center p-b-20" style="background-color:#F69147; padding-top:10px;">Copyright © NetPlusDotCom 2016-18</div>
    </footer>

    <script type="text/javascript" src="/assets/default/js/jquery.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/vendors.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/app.min.js"></script>

    <div class="jvectormap-label"></div>
</body>

</html>
