{% block invoice %}
        <style>
        body {font-family: sans-serif;
            font-size: 10pt;
        }
        p { margin: 0pt; }
        table.items {
            border: 0.1mm solid #000000;
        }
        td { vertical-align: top; }
        .items td {
            border-left: 0.1mm solid #000000;
            border-right: 0.1mm solid #000000;
        }
        table thead td { background-color: #EEEEEE;
            text-align: center;
            border: 0.1mm solid #000000;
            font-variant: small-caps;
        }
        .items td.blanktotal {
            background-color: #EEEEEE;
            border: 0.1mm solid #000000;
            background-color: #FFFFFF;
            border: 0mm none #000000;
            border-top: 0.1mm solid #000000;
            border-right: 0.1mm solid #000000;
        }
        .items td.totals {
            text-align: right;
            border: 0.1mm solid #000000;
        }
        .items td.cost {
            text-align: "." center;
        }
        </style>
        </head>
        <body>
        <!--mpdf
        <htmlpageheader name="myheader">
        <table width="100%"><tr>
        <td width="50%" style="color:#0000BB; "><span style="font-weight: bold; font-size: 14pt;">Redstar.</span><br />70, International Airport Road <br />Lagos<br /><span style="font-family:dejavusanscondensed;">&#9742;</span> 01-2715670</td>
        <td width="50%" style="text-align: right;">Invoice No.<br /><span style="font-weight: bold; font-size: 12pt;">{{orderID}}</span></td>
        </tr></table>
        </htmlpageheader>
        <div style="border-top: 0px solid #000000; font-size: 9pt; text-align: center; padding-top: 3mm; ">
                <img src="data:image/png;base64,{{barcode}}">
                
        </div>
        <htmlpagefooter name="myfooter">
        <div style="border-top: 1px solid #000000; font-size: 9pt; text-align: center; padding-top: 3mm; ">
        Page {PAGENO} of {nb}
        </div>
        </htmlpagefooter>
        <sethtmlpageheader name="myheader" value="on" show-this-page="1" />
        <sethtmlpagefooter name="myfooter" value="on" />
        mpdf-->
        <div style="text-align: right">Date: {{ "now"|date("F j, Y,") }}</div>
        <table width="100%" style="font-family: serif;" cellpadding="10"><tr>
        
        <td width="45%" style="border: 0.1mm solid #888888; "><span style="font-size: 12pt; color: #555555; font-family: sans;">
            SHIPPED FROM:</span>{{ pickup_details.merchant_contactname }}<br /><br />
             {{ pickup_details.merchant_phone }}<br />
             {{ pickup_details.merchant_email }}<br />
            {{ pickup_details.merchant_address }}<br />
            {{ pickup_details.merchant_lga}}<br />
            {{ pickup_details.merchant_state}}
        </td>
        
        <td width="10%">&nbsp;</td>
        
        <td width="45%" style="border: 0.1mm solid #888888;">
            <span style="font-size: 12pt; color: #555555; font-family: sans;">
            SHIP TO:</span> {{ delivery_details.customer_name }} <br /><br />
             {{ delivery_details.customer_phone }}<br />
             {{ delivery_details.customer_email }}<br />
            {{ delivery_details.customer_address }}<br />
            {{ delivery_details.customer_lga}}<br />
            {{ delivery_details.customer_state}}
        </td>
        </tr></table>
        <br />
        <table class="items" width="100%" style="font-size: 9pt; border-collapse: collapse; " cellpadding="8">
        <thead>
        <tr>
        <td width="15%">Delivery. No.</td>
        <td width="10%">Quantity</td>
        <td width="45%">Description</td>
        <td width="15%">Unit Price</td>
        <td width="15%">Amount</td>
        </tr>
        </thead>
        <tbody>
        <!-- ITEMS HERE -->
        {% for item in items %}
        <tr>
        <td align="center">{{item['item_id']}}</td>
        <td align="center">{{item['item_qty']}}</td>
        <td>{{item['item_name']}}</td>
        <td class="cost">&#8358;{{item['item_cost']}}</td>
        <td class="cost">&#8358; {% set total = item['item_qty'] * item['item_cost'] %}{{total}}</td>
        </tr>
        {% endfor %}
        
        <!-- END ITEMS HERE -->
        <tr>
        <td class="blanktotal" colspan="3" rowspan="6"></td>
        <td class="totals">Subtotal:</td>
        <td class="totals cost">&#8358;{{ total_amount }}</td>
        </tr>
        <tr>
        <td class="totals">VAT:</td>
        <td class="totals cost">&#8358;{{vat}}</td>
        </tr>
        <tr>
        <td class="totals">Shipping:</td>
        <td class="totals cost">&#8358;{{ delivery_cost }}</td>
        </tr>
        <tr>
        <td class="totals"><b>TOTAL: </b></td>
        <td class="totals cost"><b>&#8358;{{total_cost}}</b></td>
        </tr>
        <tr>
        <td class="totals" colspan="2" >Amount to be collected: &#8358;{{ total_cost }}</td>
        
        </tr>
        </tbody>
        </table>
    
{% endblock %}