{% block main %}

<h3 style="text-align:center">Customer Contact Event Notification</h3>
<div style="width:600px;margin: 5% auto;">
    <div style="width:100%;border-bottom-color:white;border-bottom-style:solid;border-bottom-width:1px;padding-bottom: 20px">
       <span style="min-width:30%;background-color:lightgray;border-right-color:gray;padding-top:10px;padding-bottom:10px;padding-left:4px;">Name:</span>
       <span style="width:70%;padding-top:10px;padding-bottom:10px; padding-left: 4px;">{{name}}</span>
    </div>
    <div style="width:100%;border-bottom-color:white;border-bottom-style:solid;border-bottom-width:1px; padding-bottom: 20px">
       <span style="min-width:30%;background-color:lightgray;border-right-color:gray;padding-top:10px;padding-bottom:10px;padding-left:4px;">Email:</span>
       <span style="width:70%;padding-top:10px;padding-bottom:10px; padding-left: 4px;">{{email}}</span>
    </div>
    <div style="width:100%;border-bottom-color:white;border-bottom-style:solid;border-bottom-width:1pxl padding-bottom: 20px">
       <span style="min-width:30%;background-color:lightgray;border-right-color:gray;padding-top:10px;padding-bottom:10px;padding-left:4px;">Message:</span>
       <span style="width:70%;padding-top:10px;padding-bottom:10px; padding-left: 4px;">{{message}}</span>
    </div>
</div>
    
{% endblock %}