<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saddle">
    <meta name="author" content="NetPlus">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="/assets/default/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/default/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title> {{ config['site-name'] }} || Login </title>

   <link rel="stylesheet" href="{{ asset('assets/default/css/vendors.min.css') }}">
   <link rel="stylesheet" href="{{ asset('assets/default/css/styles.min.css') }}">
    <style type="text/css">
        body {
            background: radial-gradient(circle at 1.99% 43.04%, #f69147, transparent 100%), radial-gradient(circle at 99.79% 73.72%, #f9b787, transparent 58%), radial-gradient(circle at 50% 50%, #f5e9e1, #f69147 100%);
        }
        
        main {
            padding-left: 0px !important;
        }
        
        .center {
            margin: auto;
            float: none !important;
        }
        
        .navbar-fixed-topt {
            margin-left: 0 !important;
            position: fixed;
            right: 0;
            left: 0;
            z-index: 1030;
            top: 0;
            border-width: 0 0 1px;
        }
        
        .complain {
            margin-top: 12px!important;
            width: 400px!important;
        }
        
        @media (min-width: 993px) {
            .navbar {
                margin-left: 0px!important;
            }
        }
        
        @media (max-width: 640px) {
            .complain {
                margin-top: 0px!important;
                width: 100%!important;
            }
        }
    </style>

</head>
<body scroll-spy="" id="top" class=" theme-template-dark theme-pink alert-open alert-with-mat-grow-top-right">
{% import 'App/macros/form.twig' as form %}

<main>
    <div class="main-container">
            <nav class="navbar navbar-default navbar-fixed-topt">
                <div class="container-fluid">
                    <div class="navbar-header pull-left">
                    </div>
                    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
                        <li class="dropdown pull-right">
                            <span style="padding-top: 10px;">Having Problems?</span>
                            <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="/public/tpl/partials/dropdown-navbar.html" data-toggle="dropdown"> <i class="md md-live-help f20"></i> </button>
                            <div class="dropdown-menu complain">
                                <form class="form-floating" style="padding: 20px;">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            <input type="text" name="name " class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input type="email" name="email" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Complain</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                        </li>
                        <li class="dropdown pull-right"><a href="signup" style="padding: 7px 20px 0px;">Signup</a></li>

                    </ul>
                </div>
            </nav>

        <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">
                <section class="forms-validation">

                    <div class="row  m-b-40">

                        <div class="col-md-3 center">
                            <div class="well white" id="forms-validation-container">
                                <div class="card-header">
                                    <div class="brand-logo">
                                        <div id="logo">

                                            <a href="/"><img class="img-responsive" src="/assets/default/img/logo.png"></a>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <fieldset>

                                        <form action="{{ path_for('login') }}" method="POST">
                                            {% block flash %}
                                                {% include 'App/inc/flash.twig' %}
                                            {% endblock %}
                                            <div class="m-b-30">
                                                <div class="card-title strong pink-text" style="font-size: 1.4em;">Login</div>
                                                <p class="card-title-desc"> Welcome to Saddle! The best courier management app. </p>
                                                <p class="card-title-desc">New to Saddle? Click <a href="signup">here </a>to signup</p>
                                            </div>

                                             {{ form.group('login', null, 'login', 'Username or Email') }}
                                            {{ form.group('password', null, 'password', 'Password', null, 'password') }}

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="remember"> Remember me
                                                </label>
                                           
                                                   <a href="{{ path_for('forgot-password') }}">
                                                        <button type="button" class="btn btn-link black-text">Forgot password</button>
                                                    </a>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                
                                            </div>
                                            </form>
                                    </fieldset>
                                    {# csrf() #}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </div>
</main>

   <style>
        .glyphicon-spin-jcs {
            -webkit-animation: spin 1000ms infinite linear;
            animation: spin 1000ms infinite linear;
        }
        
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
        
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
    </style>
  <script charset="utf-8" src="/assets/default/js/vendors.min.js"></script>
  <script charset="utf-8" src="/assets/default/js/app.min.js"></script>
</body>

