{% extends 'app.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/default/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/assets/default/datatables/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/default/css/jquery.tagsinput.css">
  
    <style>
      div.container {
          margin: 0 auto;
          max-width:760px;
      }
      div.header {
          margin: 100px auto;
          line-height:30px;
          max-width:760px;
      }
      body {
          background: #f7f7f7;
          color: #333;
          /**font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Verdana,Arial,Helvetica,sans-serif;***/
      }
    </style>


{% endblock %}
{% block body %}
            <div class="page-header">
              <h1> <i class="md md-list"></i> Delivery </h1>
              <!-- custom button to print -->
              <div class="dt-buttons" style="margin-left:900px; margin-top:-35px;display: none;">          <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="table"><span>Copy</span></button> <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="table"><span>CSV</span></button> <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="table"><span>Excel</span></button> <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="table" title="PDF" id="pdfOpen"><span><i> PDF </i></span></button> <button class="dt-button buttons-print" tabindex="0" aria-controls="table"><span>Print</span></button> </div>
              <!-- end of custom code -->
            </div>

                    <div class="col-md-12">
                    <div class="card">
                  <form action="{{ currentRoute }}" method="POST" role="form" name="delivery-add">
                    <div class="form-group form_card">
                      <div class="input-group input-daterange">
                        <span class="input-group-addon">from</span>
                        <input type="text" id="min" name="from" class="form-control" required="required" value="">
                        <span class="input-group-addon">to</span>
                        <input type="text" id="max" name="to" class="form-control" required="required" value=''>
                        <span class="input-group-addon">Format</span>
                        <select id="formatSelect" name="format" class="form-control" required="required">
                          <option value="">Select</option>
                          <option value="pdf">PDF</option>
                          <option value="csv">CSV</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-success form-control">Get Data</button>
                    </div>
                    {# csrf() #}
                  </form>
                    </div>
                     <!-- <div class="card">
                         <div class="payment_type_section">
                        <div>Merchant Type:</div>
                            <div><input type="text" id="merchantFilter"></div>
                        </div> 
                      </div>-->

                      {% if result is defined %}

                      <div class="card">
                        
                          
                          <table id="table" class="display nowrap" cellspacing="0" width="100%" data-page-length="25" >

                              <thead>
                                <tr >
                                  
                                  <th>Trans ID</th>
                                  <th>Client</th>
                                  <th>Transaction Status</th>
                                  <th>Payment Type</th>
                                  <th>Delivery Location</th>
                                  <th>Total Amount</th>
                                  <th>Delivery Cost</th>
                                  <th>Transaction Time</th>
                                  <th>Order No.</th>
                                  <th>Updated at</th>
                                  <th style="display: none">Item Name</th>
                                  <th style="display: none">Item Weight</th>
                                  <th style="display: none">Item Cost</th>
                                  <th style="display: none">Pickup Details</th>
                                  <th style="display: none">Delivery Phone</th>
                                  <th style="display: none">Delivery Add</th>
                                  
                                </tr>
                              </thead>
                            
                              <thead>
                                <tr >
                                  
                                  

                                  <td>Trans ID</td>
                                  <td>Client</td>
                                  <td>Transaction Status</td>
                                  <td>Payment Type</td>
                                  <td>Delivery Location</td>
                                  <td>Total Amount</td>
                                  <td>Delivery Cost</td>
                                  <td>Transaction Time</td>
                                  <td>Order No.</td>
                                  <td>Updated at</td>
                                  <td style="display: none">Item Name</td>
                                  <td style="display: none">Item Weight</td>
                                  <td style="display: none">Item Cost</td>
                                  <td style="display: none">Pickup Details</td>
                                  <td style="display: none">Delivery Phone</td>
                                  <td style="display: none">Delivery Add</td>
                                  
                                </tr>
                              </thead>
                              <thead>
                                  <!--<tr>
                                      <td colspan="8" ><input type="text" data-column="0"  class="search-input-text"></td>
                                  </tr>-->
                              </thead>
                              <tfoot>
                                <tr>
                                  
                                  <th>Trans ID</th>
                                  <th>Client</th>
                                  <th>Transaction Status</th>
                                  <th>Payment Type</th>
                                  <th>Delivery Location</th>
                                  <th>Total Amount</th>
                                  <th>Delivery Cost</th>
                                  <th>Transaction Time</th>
                                  <th>Order No.</th>
                                  <th>Updated at</th>
                                  <th style="display: none">Item Name</th>
                                  <th style="display: none">Item Weight</th>
                                  <th style="display: none">Item Cost</th>
                                  <th style="display: none">Pickup Details</th>
                                  <th style="display: none">Delivery Phone</th>
                                  <th style="display: none">Delivery Add</th>
                                  
                                </tr>
                              </tfoot>

                              <tbody>
              
                                {% for results in result %}

                                    <tr>
                                  
                                  <!-- <td>{{ loop.index }} </td> -->
                                  <td><a href={{path_for('delivery-detail')}}/{{results.transaction_id |trim }}>{{results.transaction_id |trim}}</a></td>
                                  <td>{{results.merchant_name}}</td>
                                  
                                  <td>{% if results.transaction_status == 3  %}
                                  {{"Delivered" }}
                                  {% elseif results.transaction_status == 301 %}
                                  {{"Delivered" }}
                                  {% elseif results.transaction_status == 1 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 14 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 101 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 102 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 10 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 4 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 2 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 7 %}
                                  {{"Processing" }}
                                  {% elseif results.transaction_status == 0 %}
                                  {{"Pending" }}
                                  {% elseif results.transaction_status == 30 %}
                                  {{"Partial Delivery" }}
                                  {% elseif results.transaction_status == 5 %}
                                  {{"Returned" }}
                                  {% elseif results.transaction_status == 6 %}
                                  {{"Returned" }}
                                  {% elseif results.transaction_status == 8 %}
                                  {{"Cancelled" }}
                                  {% endif %}

                                  </td>
                                  <td>
                                  {% if results.pod_transaction == 0 and results.preauth_transaction == 0  %}
                                  {{"Prepaid" }}
                                  {% elseif results.pod_transaction == 1 and results.preauth_transaction == 0 %}
                                  {{"POD" }}
                                  {% elseif results.pod_transaction == 0 and results.preauth_transaction == 1 %}
                                  {{"DOD / PreAuth" }}
                                  {% endif %}

                                 </td>
                                  <td>{{ results.delivery_location }}
                                  </td>
                                  
                                  <td>
                                  {% if results.transaction_payment_type == "Prepaid"  %}
                                  {{0}}
                                  {% else %}
                                  {{results.transaction_total_amount }}
                                  {% endif %}
                                  </td>
                                  
                                  <td>{{results.delivery_cost}}</td>
                                  
                                  <td>{{ results.transaction_datetime }}</td>
                                  <td>{{results.transaction_order_no}}</td>
                                  <td>{{results.updated_at}}</td>
                                  <td style="display: none">{{results.item_name}}</td>
                                  <td style="display: none">{{results.item_weight}}</td>
                                  <td style="display: none">{{results.item_cost}}</td>
                                  <td style="display: none">{{results.pickup_details}}</td>
                                    <td style="display: none">{{results.delivery_phone}}</td>
                                    <td style="display: none">{{results.delivery_add}}</td>
                                </tr>
                                 {% endfor %}
                                 
              
                                </tbody>
                              
                            </table>



                          
                          <div class="footer-buttons" style="padding: 20px 35px;">
                            
                            <a href="{{ path_for('delivery-add') }}" class="btn btn-primary btn-round btn-lg" data-title="New Delivery" data-toggle="tooltip">
                            <i class="md md-add" style="color: white;"></i></a>
                          </div>
                        
                      </div>
                      {% endif %}
              
                  <div class="grey-text small p-t-20">Copyright &copy; 2017 by Netplus All rights Reserved</div>
                </div>
        
{% endblock %}
{% block javascript %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" rel="stylesheet" type="text/css">
<!-- <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js" type="text/javascript"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    

 <script charset="utf-8" src="/assets/default/datatables/js/jquery.dataTables.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/dataTables.buttons.min.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/buttons.html5.min.js"></script>
 <script charset="utf-8" src="/assets/default/datatables/js/jszip.min.js"></script>  
 <script charset="utf-8" src="/assets/default/datatables/js/pdfmake.min.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/vfs_fonts.js"></script>  
 <script charset="utf-8" src="/assets/default/datatables/js/buttons.print.min.js"></script>
 <script type="text/javascript" language="javascript" src="/assets/default/js/jquery.tagsinput.js"></script>
    

<script type="text/javascript">
/* Custom filtering function which will search data in column four between two values */
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#table thead td').each( function (i) {
        var title = $('#table thead td').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
    });
  
    // DataTable
    var table = $('#table').DataTable({
        scrollY:        '300px',
        scrollX:        true,
        scrollCollapse: true,
        paging:         true,
        fixedColumns:   true,
        dom:            'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel',  {
                extend : 'pdfHtml5',
                title : function() {
                    return "Saddle- Manage Delivery";
                },
                orientation : 'landscape',
                pageSize : 'LEGAL',
                text : '<i> PDF </i>',
                titleAttr : 'PDF'
            } , 'print'
        ]
    });
 
    // Filter event handler
    $( table.table().container() ).on( 'keyup', 'thead input', function () {
        table
            .column( $(this).data('index') )
            .search( this.value )
            .draw();
    } );

    $('#min,#max').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true
  });
  
  // Add event listeners to the two range filtering inputs
  $('#min,#max').change(function(){ table.draw(); });
});


</script>
<script>
  
// The plugin function for adding a new filtering routine
// $.fn.dataTableExt.afnFiltering.push(
// function(oSettings, aData, iDataIndex){
//   var dateStart = parseDateValue($("#min").val());
//   var dateEnd = parseDateValue($("#max").val());
//   // aData represents the table structure as an array of columns, so the script access the date value 
//   // in the first column of the table via aData[0]
//   var evalDate= parseDateValue(aData[7]);

//   if (evalDate >= dateStart && evalDate <= dateEnd) {
//     return true;
//   }
//   else {
//     return false;
//   }
  
// });

// Function for converting a dd M yyyy date value into a numeric string for comparison (example 12 Oct 2010 becomes 20101012
// function parseDateValue(rawDate) {
//   var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
//   var dateArray = rawDate.split(" ");
//   var numMonth = Number(month.indexOf(dateArray[1]))+1;
//   if(numMonth.toString().length<2){
//     numMonth = "0"+numMonth;
//   } else {
//     numMonth = numMonth.toString();
//   }
//   var parsedDate = dateArray[2] + numMonth + dateArray[0];
//   return parsedDate;
// }


 $(document).ready(function(){
    $('#pdfOpen').click(function(){
       window.open('http://latest.saddleng.com/delivery/TestPdf', "_blank");
    });
  });

</script> 
<style type="text/css">
  .form-group.form_card {
    width: 50%;
    float: right;
    margin: 0px;
}

.form-group.form_card .input-group.input-daterange {
    border: solid 1px #ddd;
}

.form-group.form_card .input-group.input-daterange input {
    font-size: 14px;
    padding: 5px 15px;
}

.payment_type_section {
    width: 50%;
    float: left;
}

.card:after {
    content: "";
    display: block;
    clear: both;
}

.card {
    padding: 10px;
    border: solid 1px #ddd;
}

.payment_type_section
 div {
    display: inline-block;
}

.payment_type_section div select {padding: 6px 10px;border: solid 1px;width: 200px;max-width: 300px;}

.page-header {
    padding: 0px 35px 5px;
}

div#table_wrapper {
    overflow-x: scroll;
}

table.dataTable th, table.dataTable td {
    font-size: 12px;
    width: auto !important;
    padding: 8px 5px !important;
}
body div.dataTables_scrollHead table thead td input {
    width: 100%;
}
</style>
{% endblock %}
