{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}



{% block title %}{{config['site-name']}} || Map {% endblock %}
    
{% block stylesheets %}
    <style>
      #map {
        height: 800px;
        width: 100%;
       }
    </style>
{% endblock %}
  
{% block body %}
    <div id="map"></div>
    
   <script src="http://maps.google.com/maps/api/js?key=AIzaSyBdtDcHhesdbNb6lCX1PJN8Jx3Rv3gpYPk"
        type="text/javascript"></script>



    <script type="text/javascript">
    function loadmap() {
        var locations = [
            {% set agentCount = agents|length %}
            {% set count = 1 %}

            {% if agents %}

            {% for data in agents %}

            
            ['<b>{{ data.first_name }}</b></br>{{ 123456789 }}',{{ data.longitude }}, {{ data.latitude }}, {{count}}]{% if count != agentCount %}
            {{','}}
            {% endif %}
            {% set count = count + 1 %}
            {% endfor %}
            {% endif %}
        ];

       

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: new google.maps.LatLng(6.591179, 3.347558),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var bounds = new google.maps.LatLngBounds();


        var infowindow = new google.maps.InfoWindow();

        var marker, i;
        var image = 'http://latest.saddleng.com/assets/default/img/bike_icon.png';

        for (i = 0; i < locations.length; i++) {

          
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][2], locations[i][1]),
                map: map,
                icon: image,
                animation: google.maps.Animation.DROP
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }

    loadmap();

</script>








{% endblock %}