{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Merchants{% endblock %}

{% block body %}
    <section class="tables-data">
        <h1> <i class="md md-list"></i> Merchant Management </h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="panel-heading">
                        <div class="pull-left"><h3>Merchant </h3></div>
                        <div class="pull-right"><a href="{{ path_for('admin-merchants-add') }}" class="btn btn-xs btn-success"><span class="fa fa-fw fa-plus"></span> Add Merchant</a></div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="card-content">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="users_table">
                            <thead>
                                <tr>
                                    <th>Merchant Name</th>
                                    <th>Website</th>
                                    <th>Email</th>
                                    <th>Merchant Type </th>
                                    <th>Merchant Status </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for merchant in merchants %}
                                    <tr>
                                        <td>{{ merchant.merchant_name }}</td>
                                        <td>{{ merchant.website }}</td>
                                        <td>{{ merchant.email }}</td>
                                        <td>{{ merchant.merchant_type }}</td>
                                        {% if merchant.status == 1 %}
                                                <td class="green lighten-1 text-center">Active</td>
                                            {% else %}
                                                <td class="theme-lighten-1 text-center">Suspended</td>
                                            {%endif%}
                                        
                                        <td>
                                        <a href="{{ path_for('admin-merchants-edit', {'merchant_id': merchant.id}) }}" class="btn btn-primary btn-xs">
                                                <span class="fa fa-fw fa-pencil"></span>
                                            </a>
                                            {% if auth.hasAccess('merchant.delete') %}
                                                <form action="{{ path_for('admin-merchants-delete') }}" method="post" style="display: inline;">
                                                    <input type="hidden" name="merchant_id" value="{{ merchant.id }}" />
                                                    {{csrf()}}
                                                    <button type="submit" name="submit" class="btn btn-danger btn-xs" onClick="return confirm('Are you sure you could like to delete this merchant?  This cannot be undone.');">
                                                        <span class="fa fa-fw fa-close"></span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}

{% block javascript %}
    <script src="/assets/default/js/jquery.dataTables.min.js"></script>
    <script src="/assets/default/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/default/js/dataTables.responsive.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        
        $('#users_table').DataTable({
            responsive: true,

        });

        $('#roles_table').DataTable({
            responsive: true,

        });
    });
    </script>
{% endblock %}