{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}



{% block title %}{{config['site-name']}} || Add New Merchant{% endblock %}

{% block body %}
    <section class="tables-data">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add New Merchant</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                   

                    
                    <div class="panel-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div class="col-md-6">
                                <div class="form-group{% if has_error('merchant_name') %} has-error{% endif %}">
                                    <label for="merchant_name">Business Name</label>
                                    <input type="text" name="merchant_name" class="form-control" id="merchant_name" placeholder="Merchant Name" value="{% if requestParams.merchant_name %}{{requestParams.merchant_name}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('merchant_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('email') %} has-error{% endif %}">
                                    <label for="email"> Email</label>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="Merchant Email" value="{% if requestParams.email %}{{requestParams.email}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('email') }}</span>
                                </div>

                                <div class="form-group{% if has_error('contact_number') %} has-error{% endif %}">
                                    <label for="contact_number">Contact Number</label>
                                    <input type="text" name="contact_number" class="form-control" id="contact_number" placeholder="Contact number" value="{% if requestParams.contact_number %}{{requestParams.contact_number}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('contact_number') }}</span>
                                </div>

                                <div class="form-group{% if has_error('merchant_add') %} has-error{% endif %}">
                                    <label for="merchant_add">Address:</label>
                                    <textarea  name="merchant_add" class="form-control" style="" id="merchant_add" placeholder="Merchant address..." value="{% if requestParams.merchant_add %}{{requestParams.merchant_add}}{% endif %}" required="required"></textarea>
                                    <span class="help-block">{{ error('merchant_add') }}</span>
                                </div>

                                <div class="form-group{% if has_error('website') %} has-error{% endif %}">
                                    <label for="website">Website</label>
                                    <input type="website" name="website" class="form-control" id="website" placeholder="Merchant Website" value="{% if requestParams.website %}{{requestParams.website}}{% endif %}">
                                    <span class="help-block">{{ error('website') }}</span>
                                </div>

                                <div class="form-group{% if has_error('account_name') %} has-error{% endif %}">
                                    <label for="account_name">Account Name</label>
                                    <input type="text" name="account_name" class="form-control" id="account_name" placeholder="Account Name" value="">
                                    <span class="help-block">{{ error('account_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('account_number') %} has-error{% endif %}">
                                    <label for="account_number">Account Number</label>
                                    <input type="text" name="account_number" class="form-control" id="account_number" placeholder="Account Number" value="">
                                    <span class="help-block">{{ error('account_number') }}</span>
                                </div>
    
                                <div class="form-group{% if has_error('bank_id') %} has-error{% endif %}">
                                    <label for="bank_id">Banks</label>
                                    <select id="bank_id" name="bank_id">
                                        <option value="ns"> [select a bank]</option>
                                        {% for bank in banks %}
                                            <option value="{{bank.id}}">{{bank.name}}</option>
                                        {% endfor%}
                                        
                                    </select>
                                    <span class="help-block">{{ error('bank_id') }}</span>
                                </div>

                                <div class="form-group{% if has_error('merchant_type') %} has-error{% endif %}">
                                    <label for="merchant_type">Merchant Type</label>
                                    <select id="merchant_type" name="merchant_type" >
                                        <option value="ns">[select merchant type]</option>
                                        <option value="Aggregator">Merchant Aggregator</option>
                                        <option value="Merchant">Merchant</option>
                                    </select>
                                    <span class="help-block">{{ error('merchant_type') }}</span>
                                </div>

                                <div class="form-group{% if has_error('settlement_type') %} has-error{% endif %}">
                                    <label for="settlement_type">Settlement Type</label>
                                    <select id="settlement_type" name="settlement_type">
                                        <option value="ns">[select settlement type]</option>
                                        <option value="only">Merchant Only </option>
                                        <option value="separated">Separated</option>
                                    </select>
                                    <span class="help-block">{{ error('settlement_type') }}</span>
                                </div>

                                <div class="form-group{% if has_error('return_percentage') %} has-error{% endif %}">
                                    <label for="return_percentage">Return Percentage</label>
                                    <input type="text" name="return_percentage" class="form-control" id="return_percentage" placeholder="Return Percentage" value="" required="required">
                                    <span class="help-block">{{ error('return_percentage') }}</span>
                                </div>


                                <div class="form-group">
                                    <label class="control-label normal">Status</label>
                                    <div class="switch">
                              
                                    <label> Inactive
                                    <input type="checkbox" name="status"  > <span class="lever"></span>Active </label>
                                    </div>
                                </div>

                            </div>

                             {% if userAccess.roles[0] == 'admin' %}
                            <div class="col-md-2">
                                
                                <div class="form-group">
                                    <label>Select Courier Company</label>

                                    {% for courier in couriers %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="couriers[]" value="{{courier.id}}" >
                                                {{courier.courier_name}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        
                            
                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success form-control">Add New Merchant</button>
                                </div>
                            </div>
                            {{ csrf() }}
                            
                            <input type="hidden" name="user_id" value="{{auth.getUser().getUserId()}}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

