{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || My Account {% endblock %}

{% block body %}
    <section class="tables-data">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Account</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                

                <div class="panel-body">
                        <div class="col-md-6">
                            <form action="{{ currentRoute }}" method="POST" role="form">
                                <div class="form-group{% if has_error('first_name') %} has-error{% endif %}">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" value="{% if requestParams.first_name %}{{requestParams.first_name}}{% else %}{{auth.user.first_name}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('first_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('last_name') %} has-error{% endif %}">
                                    <label for="last_name">Last name</label>
                                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last name" value="{% if requestParams.last_name %}{{requestParams.last_name}}{% else %}{{auth.user.last_name}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('last_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('email') %} has-error{% endif %}">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{% if requestParams.email %}{{requestParams.email}}{% else %}{{auth.user.email}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('email') }}</span>
                                </div>

                                <div class="form-group{% if has_error('username') %} has-error{% endif %}">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{% if requestParams.username %}{{requestParams.username}}{% else %}{{auth.user.username}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('username') }}</span>
                                </div>
                                {% if userAccess.roles.0 == 'courier-admin'%}
                                    <div class="form-group">
                                    <!-- <label>Setup netplus account for courier backed cash settlement</label> #} -->
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="netpluspaymid_checkbox" name="netpluspaymid_enabled" {% if requestParams.netpluspay_mid is not null %} {{ 'CHECKED' }} {% endif %} >
                                                Enable courier backed cash settlement
                                            </label>
                                        </div>
                                        <input type="text" name="netpluspay_mid" placeholder="NetplusPay MID" class="form-control" id="netpluspay_mid"  value="{{ requestParams.netpluspay_mid }}" {% if requestParams.netpluspay_mid is null %} {{ 'DISABLED' }} {% endif %} >
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    {{ csrf() }} 
                                    <input type="submit" name="update_account" value="Update Account" class="btn btn-primary form-control" />
                                </div>

                            </form>

                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>User Roles</label>
                                <ul>
                                {% for role in userAccess.roles %}
                                    <li>{{role}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="form-group">
                                <label>User Permissions</label>
                                <ul>
                                {% for permission in userAccess.permissions %}
                                    <li>{{permission}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <form action="{{ currentRoute }}" method="POST" role="form">
                                <div class="form-group{% if has_error('password') %} has-error{% endif %}">
                                    <label for="password">Change Password</label>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" >
                                    <span class="help-block">{{ error('password') }}</span>
                                </div>

                                <div class="form-group{% if has_error('password_confirm') %} has-error{% endif %}">
                                    <label for="password_confirm">Confirm Password</label>
                                    <input type="password" name="password_confirm" class="form-control" id="password_confirm" placeholder="Confirm Password" >
                                    <span class="help-block">{{ error('password_confirm') }}</span>
                                </div>

                                <div class="form-group">
                                    {{ csrf() }}
                                    <input type="submit" name="change_password" value="Change Password" class="btn btn-success form-control" />
                                </div>

                            </form>
                            <form action="{{ currentRoute }}" method="POST" role="form">
                                <div class="form-group">
                                    <input name="email" type="hidden" class="form-control" >
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password_confirm" class="form-control" id="password_confirm" placeholder="Confirm Password" >
                                </div>

                                <div class="form-group">
                                    {{ csrf() }}
                                    <input type="submit" name="change_password" value="Change Password" class="btn btn-success form-control" />
                                </div>

                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}

<script>

    $("#netpluspaymid_checkbox").on("change",function() {

        /*if($("#netpluspay_mid").attr("disabled") == !$("#netpluspaymid_checkbox").is(":checked"))
            return;*/
     
        $("#netpluspay_mid").attr("disabled",!$("#netpluspaymid_checkbox").is(":checked"));

        if(!$("#netpluspaymid_checkbox").is(":checked")) {
            $("#netpluspay_mid").val('');
        }

    });

    $("#netpluspay_mid").on('keyup', function() {

        console.log('key press ' + $("#netpluspay_mid").val().trim().length);

        /* if($("#netpluspay_mid").attr('disabled') && !$("#netpluspaymid_checkbox").is(":checked"))
            return; */

        if($("#netpluspay_mid").val().trim().length > 0) {
            $("#netpluspaymid_checkbox").attr('checked',true)
            $("#netpluspay_mid").attr('disabled',false);
        } else {
            $("#netpluspaymid_checkbox").attr('checked',false);
            $("#netpluspay_mid").attr('disabled',true);
        }
    })



</script>

{% endblock %}

