{% block company %}

    
    <p> Here is your new Saddle! </p>

    <p> {{password}} </p>
    
    <p> To log on, please visit: https://new.saddleng.com/login to sign into your account. </p>

    <p> Regards, </p> 

    <p> The Saddle Support Team </p>
    
{% endblock %}