{% extends 'app.twig' %}
{% block title %}{{config['site-name']}} || Edit Price{% endblock %}
{% block body %}
<section class="forms-basic">
<div class="page-header">
  <h1> <i class="md md-input"></i>Edit Price</h1>
  
</div>

<!-- <form action="{{ currentRoute }}" method="POST" role="form" name="delivery-add"> -->
<!-- <div class="m-b-20"> -->
  
<div class="m-b-20">

</div>
<div class="row">
  <div class="col-md-6">
    <div class="well white">

      <fieldset>
        <legend>Edit Pricing Module </legend> <span class="help-block mw400"></span>


          <!-- <span id="to_customer" class="">

            <div class="form-group filled">

            <label>From</label> <span><select id="customer_state" name="customer_state">
            </select> </span>
            <label>To</label> <span><select id="customer_state1" name="customer_state1">
            </select> </span>

            
            </div>
           
          </span>
           <div class="form-group">
              <label>Weight</label>
                <input type="text" class="form-control" name="weight" id="item_name" required="required" placeholder="Weight*">
          </div>
          <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" name="price" id="item_name" required="required" placeholder="Price*">
          </div> -->

<br>
<form action="{{ currentRoute }}" method="POST" role="form" name="RateCard_detail" id="RateCard_detail">
        <table width="100%" class="pricing_table">

                              <thead>
                                <tr >
                                  <th></th>
                                  <th>FROM</th>
                                  <th>TO</th>
                                  <th>WEIGHT</th>
                                  <th>PRICE</th>
                                </tr>
                                <tr></tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>COUNTRY</td>
                                  <td><select><option>Nigeria</option></select></td>
                                  <td><select><option>Nigeria</option></select></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr></tr>
                                <tr>
                                  <td>STATE</td>
                                  <td><select id="customer_state" name="customer_state" required="required">
                                    </select></td>
                                  <td><select id="customer_state1" name="customer_state1" required="required"></select></td>

                                   <!-- <td style="display: none;" id="wgt"><input type="text" name="weight" value="{requestParams.weight}" id="weight" required="required">KG</td>

                                  <td style="display: none;" id="pp">N<input type="text" name="price" value="{% if requestParams.price %}{{requestParams.price}}{% endif %}" id="price" required="required"></td> -->

                                </tr>
                                <tr></tr>
                                <tr id="lga">
                                  <td > LGA</td>
                                  <td><select id="customer_lga"  name="customer_lga" required="required"></select></td>
                                  <td><select id="customer_lga1" name="customer_lga1" required="required"> </select></td>
                                   <td><input type="number" step="0.01" name="weight" value="{{requestParams.weight}}" id="weight" required="required">KG</td>
                                  <td>N<input type="number" step="0.01" name="price" value="{{requestParams.price }}" id="price" required="required"></td>

                                  <td><input type="hidden" value="{{requestParams.state_from }}" id="stateFromHidden"></td>
                                  <td><input type="hidden" value="{{requestParams.state_to }}" id="stateToHidden"></td>
                                  <td><input type="hidden" value="{{requestParams.lga_to }}" id="lgaToHidden"></td>
                                  <td><input type="hidden" value="{{requestParams.lga_from }}" id="lgaFromHidden"></td>
                                  <td><input type="hidden" value="{{requestParams.id }}" name="rowID"></td>
                                </tr>
                              </tbody>
                            </table>


<div class="additional_price"><label style="font-weight: bold"> Aditional KG price</label> <label style="font-weight: bold">N</label> &nbsp;<input type="number" step="0.01" name="Extra" value="{{requestParams.additionalPrice }}"></div>

          <button class="save_btn">Save</button>
          {# csrf() #}
</form>
          <!-- <span id="customer_pickup">

            <label>Select Courier Location for Customer Pickup</label> <span class="help-block"> </span>

            <div class="form-group">
              <select name="delivery_location_handling">
              <option value="ns"> [courier location] </option>
              {% if courier_location is empty %}
              <option value=""> Don't have any location for this courior</option>
              {% else %}
              {% for loc in courier_location %}
              <option value="{{loc.id}}"> {{ loc.address}}</option>
              {% endfor%}
              {% endif %}

              
              </select>
            </div>

          </span> -->

      </fieldset>

    </div>
  </div>


  </div>
</div>



</section>
{% endblock %}



{% block javascript %}
<script charset="utf-8" src="/assets/default/js/jquery.stateLga.js"></script> 
<script charset="utf-8" src="/assets/default/js/jquery.ucfirst.js"></script> 

<script type="text/javascript">
$("#merchantOnchange").on('change', function(){ // any select that changes.
   var merchantId = $(this).val();

   $.post({
    async: false,
    url: "getMerchant",
    data:{'merchantId':merchantId},
    success: function(res) {
      if(res)
      {
        var details = JSON.parse(res);
        
        $('[name="merchant_email"]').val(details.email);  
           $('[name="merchant_contactname"]').val(details.merchant_name);
           $('[name="merchant_add"]').val(details.merchant_add);
      }

      else
      {   
         console.log(res);
      }
    }});
   
})
</script>

<script>  

  // $(document).ready(function(){
    var stateToHidden = $("#stateToHidden").val();
    var stateFromHidden = $("#stateFromHidden").val();
    var lgaToHidden = $("#lgaToHidden").val();
    var lgaFromHidden = $("#lgaFromHidden").val();
    

  // })

var option = '';

var states=$.nigeria.states();


for (var i=0;i<states.length;i++){

  
  if(stateFromHidden == states[i]){

   option += '<option value="'+ states[i] + '" selected="selected">' + $.ucfirst(states[i]) + '</option>';
  }else{
    option += '<option value="'+ states[i] + '">' + $.ucfirst(states[i]) + '</option>';
  }
}

//merchant related states and lgas
// $('#merchant_state').append(option).on('change',function() 
// {
//   var option = '';
//   option += '<option value="">Local government</option>';
//   var lgas=eval('$.nigeria.'+this.value);
//   for (var i=0;i<lgas.length;i++){
//       option += '<option value="'+ lgas[i] + '">' + $.ucfirst(lgas[i]) + '</option>';
//   }

//   $('#merchant_lga').find('option')
//       .remove()
//       .end().append(option);

// }).trigger('change');


//customer related states and lgas
$('#customer_state').append(option).on('change',function() 
{
  var option = '';
  option += '<option value="all">ALL</option>';
  var lgas=eval('$.nigeria.'+this.value);
  for (var i=0;i<lgas.length;i++){
     if(lgaFromHidden == lgas[i]){
      option += '<option value="'+ lgas[i] + '" selected="selected">' + $.ucfirst(lgas[i]) + '</option>';
    }else{

      option += '<option value="'+ lgas[i] + '">' + $.ucfirst(lgas[i]) + '</option>';
    }
  }

  $('#customer_lga').find('option')
      .remove()
      .end().append(option);

}).trigger('change');

var option_from = '';

var states =$.nigeria.states();


for (var i=0;i<states.length;i++){

  
  if(stateToHidden == states[i]){

   option_from += '<option value="'+ states[i] + '" selected="selected">' + $.ucfirst(states[i]) + '</option>';
  }else{
    option_from += '<option value="'+ states[i] + '">' + $.ucfirst(states[i]) + '</option>';
  }
}

//new code
$('#customer_state1').append(option_from).on('change',function() 
{
  var option = '';
  option += '<option value="all">ALL</option>';
  var lgas=eval('$.nigeria.'+this.value);
  for (var i=0;i<lgas.length;i++){
      if(lgaToHidden == lgas[i]){
      option += '<option value="'+ lgas[i] + '" selected="selected">' + $.ucfirst(lgas[i]) + '</option>';
    }else{

      option += '<option value="'+ lgas[i] + '">' + $.ucfirst(lgas[i]) + '</option>';
    }
  }

  $('#customer_lga1').find('option')
      .remove()
      .end().append(option);

}).trigger('change');

</script>
  

<script type="text/javascript">

  // ajax to show rate card

  $(".save_btn").on('click', function(){
    // alert('dsfdsfxdgdfg');
   
$.post({
    async: false,
    url: "getAllRecords",
    data:$('#RateCard_detail').serialize(),
    success: function(res) {
      if(res)
      {
        // res.price
        console.log(res.res[0]);
      //var details = JSON.parse(res);
      //$('[name="pric"]').val(details.price);
        
        
      }
      
    }});
  
   
});
</script>
<style type="text/css">
.pricing_table tr td select {
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: solid 1px #ddd;
    height: auto;
    box-shadow: none;
    line-height: normal;
    margin: 0px;
}

.pricing_table tr td input {
    display: inline-block;
    width: 70px;
    padding: 5px;
    border: solid 1px #ddd;
    height: auto;
    box-shadow: none;
    line-height: normal;
    margin: 0px 5px;
}

.pricing_table tr td {
    font-size: 14px;
}

.pricing_table tr td, .pricing_table tr th {
    padding: 5px 10px;
    vertical-align: top;
}

.pricing_table tr th {
    background: #f69147;
    color: #fff;
}

.pricing_table tr th:not(:last-child) {
    border-right: solid 1px #fff;
}

.pricing_table tr td:not(:last-child) {
    border-right: solid 1px #ddd;
}

.pricing_table tr {
    /* border-bottom: solid 1px #ddd; */
}

.pricing_table tr th:not(:last-child) {}

.pricing_table tr td:first-child {
    background: #f4f4f4;
}

table.pricing_table {
    border: solid 1px #ddd;
}

.additional_price input {width: auto;padding: 5px 10px;border: solid 1px #ddd;height: auto;line-height: normal;box-shadow: none;}

.additional_price {
    padding: 10px 0px;
}

button.save_btn {
    background: #f69147;
    color: #fff;
    border: solid 2px #f69147;
    padding: 5px 10px;
    font-size: 16px;
    line-height: normal;
    float: right;
}
</style>
{% endblock %}
