{% extends 'app.twig' %}

{% import 'App/macros/form.twig' as form %}

{% block title %}{{ config['site-name'] }} || Registration{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form action="{{ path_for('register') }}" method="POST">
                        {{ form.group('first_name', null, 'first_name', 'First Name') }}
                        {{ form.group('last_name', null, 'last_name', 'Last Name') }}
                        {{ form.group('username', null, 'username', 'Username', null, 'username') }}
                        {{ form.group('email', null, 'email', 'Email', null, 'email') }}
                        {{ form.group('password', null, 'password', 'Password', null, 'password') }}
                        {{ form.group('password-confirm', null, 'password-confirm', 'Confirm password', null, 'password') }}

                        {{ csrf() }}
                        <input type="submit" value="Register" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
