{% extends 'app.twig' %}

{% block title %}{{config['site-name']}} || Download CSV {% endblock %}

{% block body %}
    <section class="tables-data">
        <h1> <i class="md md-list"></i> Download CSV </h1>
        <div class="row">
	        
	        
             <div class="col-lg-12">
	             
	             <div class="row">
	             <form action="{{ currentRoute }}" method="POST" role="form" name="report">                    
		             <fieldset>
                      
                      
                      <div class="form-group">
                        <div class="input-group"> 
                          
                          <div class="row">
                            
                            <div class="col-md-6">
                             	<label>Select From</label> 
							 	<input type="text" class="form-control datepicker-from" name="from"> 
                             </div>
                               
                            <div class="col-md-6">
	                            <label>Select To</label> 
								<input type="text" class="form-control datepicker-until" name="to"> 
							</div>
							
                          </div>
                          
                         <div class="form-group">
                        <button type="submit" class="btn btn-primary">Download</button>
                        
                      </div>
                        </div>
                      </div>
                      
                    </fieldset>
                  </form>
	             </div>
             </div>
        </div>
        
    </section>
{% endblock %}

