{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Edit Role - {{role.name}}{% endblock %}

{% block body %}
    <section class="tables-data">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Role</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="panel-heading">
                    Edit Role - {{role.name}}
                </div>

                
                <div class="panel-body">
                    <form action="{{ currentRoute }}" method="POST" role="form">
                        <div class="col-md-6">
                            <div class="form-group{% if has_error('role_name') %} has-error{% endif %}">
                                <label for="role_name">Role Name</label>
                                <input type="text" name="role_name" class="form-control" id="role_name" placeholder="Role Name" value="{{role.name}}" required="required">
                                <span class="help-block">{{ error('role_name') }}</span>
                            </div>

                            <div class="form-group{% if has_error('role_slug') %} has-error{% endif %}">
                                <label for="role_slug">Role Slug</label>
                                <input type="text" name="role_slug" class="form-control" id="role_slug" placeholder="Role Slug" value="{{role.slug}}" required="required">
                                <span class="help-block">{{ error('role_slug') }}</span>
                            </div>

                        </div>
                        
                        <div class="col-md-6">
                            <label>Role Permissions</label>
                            <div id="permissionsRow">
                                {% for key,perm in role.permissions|json_decode %} 
                                    <div>
                                        <div class="col-xs-6">
                                            <div class="form-group{% if has_error(name) %} has-error{% endif %}">
                                                <input type="text" name="perm_name[]" class="form-control" placeholder="Permission Name" value="{{key}}" required="required">
                                            </div>
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="form-group{% if has_error(name) %} has-error{% endif %}">
                                                <select name="perm_value[]" class="form-control" required="required">
                                                    <option value="true" {% if perm == 1 %}selected{% endif %}>True</option>
                                                    <option value="false" {% if perm == 0 %}selected{% endif %}>False</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <a class="btn btn-primary btn-danger removePerm"><span class="fa fa-fw fa-close"></span> </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group" style="text-align: center;">
                                <a class="btn btn-warning" id="addPermButton" style="margin-top: 15px;">
                                    <span class="fa fa-fw fa-gears"></span> Add New Permission
                                </a>
                            </div>
                        </div>
                    
                        
                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary form-control">Edit Role</button>
                            </div>
                        </div>
                        {{ csrf() }}
                        <input type="hidden" name="role_id" value="{{role.id}}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
$(document).on('click', '#addPermButton', function() {
    $("#permissionsRow").append(`   <div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="perm_name[]" class="form-control" placeholder="Permission Name" required="required">
                                            </div>
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <select name="perm_value[]" class="form-control" required="required">
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <a class="btn btn-primary btn-danger removePerm"><span class="fa fa-fw fa-close"></span> </a>
                                        </div>
                                    </div>
                                `);


});
$(document).on('click', '.removePerm', function() {
    $(this).parent().parent().remove();
})
</script>
{% endblock %}

