{% extends 'app.twig' %}
{% block title %}{{config['site-name']}} || Saddle Lite Dashboard {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
 
    <style>

        div.container {
            margin: 0 auto;
            max-width:760px;
        }

        div.header {
            margin: 100px auto;
            line-height:30px;
            max-width:760px;
        }

        .card.small {
            font-size: 13px;
            height: 140px;
            width: 180px;
            background-color: #F3AC78;
        }

        body {
            background: #f7f7f7;
            color: #333;
            /**font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Verdana,Arial,Helvetica,sans-serif;***/
        }

        .ct-series-a .ct-line {
            stroke: #E6A372;
        }

        td.icon {
            width: 8%;
            text-align : center;
        }

        td.icon i {
            font-size: 30px;
            line-height: 2;
        }

        td.name {
            width : 17%;
            font-size: 16px;

        }

        td.progess {
            width : 40%;
            padding-top: 18px;
        }

        td.last-seen {
            width: 15%;
        }

        td {
            vertical-align : middle;
        }

        div.progress-bar {
            display: inline-block;
            height: 16px;
            width: 100%;
            background-color: rgba(243,172,120,0.4);
        }

        div.progress-bar div.level {
            position : relative;
            background-color: #F3AC78;
            height : inherit;
        }

        .progress-title {
            margin-bottom: 5px;
        }

        .card-content .title {
            font-size : 16px;
        }

        .card-content .body {
            font-size: 50px;
            font-weight: lighter;
        }

        .body i {
            font-size : 20px
        }

        .card-content .title, .card-content p {
            color: white;
        }

        .ml-22 {
            margin-left: 22px; 
        }

        span.ct-label {
            font-size: 10px;
        }

        table.table {
            margin-bottom: 0px;
        }

    </style>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
            <div class="p-20">
            <h4 class="grey-text"> <i class="md md-dashboard"></i> <span class="hidden-xs">Saddle Lite Dashboard</span> </h4>
            </div>
    </div>

    <div class="row">

        <div class="col-md-2 col-sm-12 ml-22">
            <div class="card small">
                <div class="card-content p-10">
                    <span class="title">Total Processed</span>
                    <p class='body'><span id="total_processed"><i>₦</i>0<span></p>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12 ml-22">
            <div class="card small">
                <div class="card-content p-10">
                    <span class="title">Success Rate</span>
                    <p class='body'><span id="success_rate">0</span><i>%</i></p>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12 ml-22">
            <div class="card small">
                <div class="card-content p-10">
                    <span class="title">Failure Rate</span>
                    <p class='body'><span id="failure_rate">0</span><i>%</i></p>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12 ml-22">
            <div class="card small">
                <div class="card-content p-10">
                    <span class="title">Cash TX</span>
                    <p class='body'><span id="cash_tx">0</span><i>%</i></p>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12 ml-22">
            <div class="card small">
                <div class="card-content p-10">
                    <span class="title">Card TX</span>
                    <p class='body'><span id="card_tx">0</span><i>%</i></p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="grey-text"> <span class="hidden-xs">Payments Processed Per Hour</span> </h4>
        </div>
    </div>

    <div class="row" style="min-height: 30vh">
        <div class="col-md-12 col-sm-12"  style="height : 51vh">
            <div class="ct-chart ct-golden-section" id="chart1"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="grey-text"> <span class="hidden-xs">Agent Transaction Breakdown </span> </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table grey-text">
                        {# <tbody>  #}
                        {% for agent_id, breakdown in agent_transaction_breakdown %}
                            <tr class="custom-row">
                                <td class="icon"><i class="material-icons">account_circle</i></td>
                                <td class="name" style="vertical-align: middle">{{breakdown.agent_name}}</td>
                                <td class="last-seen">
                                    <p style="margin-bottom: 0px">Total Sales</p>
                                    <p style="font-weight: bold">₦{{breakdown.total_amount}}</p>
                                </td>
                                <td class="last-seen">
                                    <p style="margin-bottom: 0px">Cash Sales</p>
                                    <p style="font-weight: bold">₦{{breakdown.cash_transactions}}</p>
                                </td>
                                <td class="last-seen">
                                    <p style="margin-bottom: 0px">Total Deposited</p>
                                    <p style="font-weight: bold">₦{{breakdown.amount_deposited}}</p>
                                </td>
                                <td class="last-seen">
                                    <p style="margin-bottom: 0px">Cash In Hand</p>
                                    <p style="font-weight: bold">₦{{breakdown.holding}}</p>
                                </td>
                                <td class="last-seen">
                                    <p style="margin-bottom: 0px">Last Seen</p>
                                    <p style="font-weight: bold">{{breakdown.last_seen}}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        {# </tbody> #}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="grey-text"> <span class="hidden-xs">Agent Activity Breakdown </span> </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table grey-text">
                        {# <tbody>  #}
                        {% for agent in agent_activity_breakdown %}
                            <tr class="custom-row">
                                <td class="icon"><i class="material-icons">account_circle</i></td>
                                <td class="name" style="vertical-align: middle">{{agent.agent_name}}</td>
                                <td class="progess">
                                    <p class="progress-title">Processed {{agent.processed_percentage}}% of todays sales</p>
                                    <div class="progress-bar">
                                        <div class="level" style="width: {{agent.processed_percentage}}%"></div>
                                    </div>
                                </td>
                                <td class="last-seen">
                                    <p style="margin-bottom: 0px">Last Seen</p>
                                    <p style="font-weight: bold">{{agent.last_seen}}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        {# </tbody> #}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script>
        $(document).ready(function() {

            $.ajax({
                "url" : "/saddlelite/todaysSummary",
                "headers" : { 
                    "Content-Type" : "application/json" 
                },
                "method" : "GET",
                "complete" : function(data) {
                    var response = JSON.parse(data.responseText);
                    $("#total_processed").html("<i>₦</i>" + numeral(response["total_amount"]).format('0.0a'))
                    $("#success_rate").text(numeral(response["success_rate"]).format('0.00'))
                    $("#failure_rate").text(numeral(response["failure_rate"]).format('0.00'))
                    $("#card_tx").text(numeral(response["card_tx"]).format('0.00'))
                    $("#cash_tx").text(numeral(response["cash_tx"]).format('0.00'))
                },
                "error" : function(e) {
                    console.log(e);
                }
            });

            $.ajax({
                "url" : "/saddlelite/todaysPayments",
                "method" : "GET",
                "complete" : function(data) {

                    var arr = JSON.parse(data.responseText);
                    var values = [];
                    var labels = ["12 AM","1 AM","2 AM","3 AM","4 AM","5 AM","6 AM","7 AM","8 AM","9 AM","10 AM","11 AM","12 PM","1 PM","2 PM","3 PM","4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM", "10 PM", "11 PM"]
                    
                    
                    for(var i = 0; i < labels.length; i++) {

                        var label = labels[i];
                        for(var j = 0; j < arr.length; j++) {

                            if(moment(new Date(arr[j].time)).format("h A") == label ) {
                                values[i] = values[i] ? values[i] + arr[j].amount : arr[j].amount;
                            }

                        }

                        if(values[i] == undefined) {
                            values[i] = null;
                        }

                    }


                    new Chartist.Line('#chart1', {
                        "labels" : labels,
                        series : [ 
                            {
                                "name" : "transaction-volume", 
                                "data" : values
                            }
                        ]
                    },
                    {
                        axisX : {
                            showGrid: false,
                            showLabel: true
                        },
                        axisY : {
                            showGrid: true,
                            labelInterpolationFnc: function(value) {
                                return numeral(value).format('0a');
                            }
                        },
                        width : "100%",
                        height: "50vh",
                        series : {
                            'transaction-volume': {
                                lineSmooth: Chartist.Interpolation.simple({
                                    fillHoles : true
                                }),
                                showArea: true,
                                showPoint : false
                            }
                        }
                    });
                }
            })

        });

    </script>
{% endblock %}
