{% extends 'app.twig' %} 
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/default/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/assets/default/datatables/css/buttons.dataTables.min.css">
{% endblock %}
{% block title %}{{config['site-name']}} || Settlement Dashboard{% endblock %} 
{% block body %}   

        <div class="page-header">
              <h1>      <i class="md md-list"></i> Settlement Dashboard   </h1>
         </div>

  
            <div class="p-20 no-p-t">
              
             
                <div class="col-md-12">
                  <div class="card">
                    <div class="form-group form_card">
                      <div class="input-group input-daterange">
                        <span class="input-group-addon">from</span>
                        <input type="text" id="min" class="form-control" value="2017-09-19">
                        <span class="input-group-addon">to</span>
                        <input type="text" id="max" class="form-control" value="{{ "now"|date("Y-m-d") }}">
                      </div>
                    </div>

                    <div class="payment_type_section">
                    <div>Payment Type:</div>
                        <div><select id="mySelect">
                             <option value="">Please Select</option>
                             <option value="POD - Cash">POD-Cash</option>
                             <option value="Prepaid">Prepaid</option>
                             <option value="DOD - Card">DOD-Card</option>
                        </select></div>
                    </div>

                    <div class="payment_type_section">
                    <div>Merchant Type:</div>
                        <div><input type="text" id="merchantFilter"></div>
                    </div>
                  </div>
                  <div class="card">
                    
                        <!--<table border="0" cellspacing="5" cellpadding="5" width="100%">
                          <tbody>
                          <tr>
                             <div class="form-group">
                                <div class="input-group input-daterange">
                                  <input type="text" id="min" class="form-control" value="2017-09-19">
                                  <span class="input-group-addon">to</span>
                                  <input type="text" id="max" class="form-control" value="2017-10-11">
                                </div>
                              </div>
                          </tr>

                          <tr>
                              <td>Payment Type:</td>
                              <td><select id="mySelect">
                                   <option value="">Please Select</option>
                                   <option value="POD - Cash">POD-Cash</option>
                                   <option value="Prepaid">Prepaid</option>
                                   <option value="DOD - Card">DOD-Card</option>
                              </select></td>
                          </tr>
                          </div>
                      </tbody></table>
                      -->

                      <table id="table" class="display" cellspacing="0" width="100%" data-page-length="25" >
                          <thead>
                            <tr >
                              <!-- <th>S/N</th> -->
                              <th>Transaction-ID</th>
                              <th>Payment Type</th>
                              {% if userAccess.roles.0 != 'merchant-user' %}<th>Merchant Name</th> {% endif %}
                              <th>Agent Name</th>
                              <th>Transaction Amount</th>
                              <th>Delivery Charges</th>
                              <th>Settled Amount</th>
                              
                              <th>Due To Merchant</th>
                               {% if userAccess.roles.0 in ['admin','courier-admin'] %}
                              <th>Due To Courier</th>
                              <th>Due To Netplus</th>
                            {% endif %}
                              <th>Date Delivered</th>
                              {% if userAccess.roles.0 == 'admin' %}<th>Courier</th>{% endif %}
                              <th>Delivery Address</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <!-- <th>S/N</th> -->
                              <th>Transaction-ID</th>
                              <th>Payment Type</th>
                              {% if userAccess.roles.0 != 'merchant-user' %} <th>Merchant Name</th> {% endif %}
                              <th>Agent Name</th>
                              <th>Transaction Amount</th>
                              <th>Delivery Charges</th>
                              <th>Settled Amount</th>
                              
                              <th>Due To Merchant</th>
                               {% if userAccess.roles.0 in ['admin','courier-admin'] %}
                              <th>Due To Courier</th>
                          
                              <th>Due To Netplus</th>
                              {% endif %}
                              <th>Date Delivered</th>
                              {% if userAccess.roles.0 == 'admin' %}<th>Courier</th>{% endif %}
                              
                              <th>Delivery Address</th>
                            </tr>
                          </tfoot>
                          <tbody>
              
                            {% for transaction in transactions %}
                              
                                {% set mtype = merchant.find(transaction.merchant_id) %}
                    
                                {% set settled_amount = 0 %}
                                {% set due_to_courier = 0 %}
                                {% set due_to_merchant = 0 %}
                                {% set due_to_netplus = 0 %}
                                {% set pay_type = "Prepaid"%}
                
                                {% if transaction.transaction_status in [3, 301] %}
                    
                                        {# do calculations here #}
                                  
                                      
                                      {% if mtype.settlement_type == 'separated'%}
                                          
                                          {% set settled_amount = transaction.delivery_cost  %}
                                          {% set due_to_courier = settled_amount *  0.9 %}
                                          {% set due_to_netplus = settled_amount * 0.1 %}

                                      {% else %}
                                          
                                          {% set settled_amount = transaction.transaction_total_amount + transaction.delivery_cost %}
                                          {% set due_to_merchant = settled_amount %}
                                          

                                      {% endif %}

                                  {% if transaction.transaction_payment_type == payment_type.prepaid %}
                                          {% set settled_amount = transaction.delivery_cost  %}
                                          {% set due_to_courier = settled_amount *  0.9 %}
                                          {% set due_to_netplus = settled_amount * 0.1 %}
                                          {% set due_to_merchant = transaction.transaction_total_amount %}
                                  {% endif %}
                                  
                                  {% if transaction.transaction_payment_type == payment_type.card and transaction.pod_transaction == 1 %}
                                    
                                    {% set pay_type = "POD - Card" %}
                                    {% set total_cost_of_transaction = transaction.transaction_total_amount + transaction.delivery_cost %}
                                    {% set card_charge = 0.0075 * total_cost_of_transaction %}
                                    {% set settled_amount =   total_cost_of_transaction - card_charge %}
                                    {% set due_to_courier = transaction.delivery_cost * 0.9 %}
                                    {% set due_to_netplus = transaction.delivery_cost  * 0.1 %}
                                    {% set due_to_merchant = transaction.transaction_total_amount - card_charge %}

                                  {% endif %}

                                  {% if transaction.preauth_transaction == 1 and transaction.transaction_payment_type == payment_type.card %}
                                    {% set pay_type = "DOD - Card" %}
                                    {% set total_cost_of_transaction = transaction.transaction_total_amount + transaction.delivery_cost %}
                                    {% set card_charge = 0.0075 * total_cost_of_transaction %}
                                    {% set settled_amount =   total_cost_of_transaction - card_charge %}
                                    {% set due_to_courier = (transaction.delivery_cost - card_charge) * 0.9 %}
                                    {% set due_to_netplus = (transaction.delivery_cost - card_charge) * 0.1 %}
                                    {% set due_to_merchant = transaction.transaction_total_amount - card_charge %}

                                  {% endif %}

                                  {% if transaction.transaction_payment_type == payment_type.cash and transaction.pod_transaction == 1 %}
                                      {% set pay_type = "POD - Cash" %}
                                      {% set settled_amount = transaction.transaction_total_amount + transaction.delivery_cost %}
                                      {% set due_to_courier = transaction.delivery_cost * 0.9 %}
                                      {% set due_to_netplus = transaction.delivery_cost * 0.1 %}
                                      {% set due_to_merchant = transaction.transaction_total_amount %}
                                  {% endif %}
                                <tr>
                              
                              <!-- <td>{{ loop.index }} </td> -->
                               <td>{{ transaction.transaction_id }}</td>
                               <td>{{pay_type}}</td>
                               {# {% if userAccess.roles.0 != 'merchant-user' %}<td>{{transaction.getClientName(transaction.merchant_id)}}</td>{% endif %} #}
                               <td>{{ transaction.merchant_name}}</td>
                               <td>{{ transaction.first_name ~ ' ' ~ transaction.last_name}}</td>
                               <td>{{transaction.transaction_total_amount |number_format(2, '.', ',') }}</td>
                               <td>{{transaction.delivery_cost |number_format(2, '.', ',') }}</td>
                               <td>{{ settled_amount |number_format(2, '.', ',') }}
                               </td>
                              
                              <td>{{due_to_merchant |number_format(2, '.', ',') }}</td>
                              {% if userAccess.roles.0 in ['admin','courier-admin'] %}
                              <td>{{due_to_courier |number_format(2, '.', ',') }}</td>
                              
                              <td>{{due_to_netplus |number_format(2, '.', ',') }}</td>
                              {% endif %}
                              <td>{{transaction.updated_at}}</td>
                              {% if userAccess.roles.0 == 'admin' %}<td>{{transaction.getCourierName(transaction.courier_id)}}</td>{% endif %}
                              <td>{{ transaction.customer_address_new }}</td>
                            </tr>
                              {% endif %}   
                              {% endfor %}
          
                            </tbody>
            
                        </table>

                  </div>
                </div>
             

              <div class="grey-text small p-t-20">Copyright &copy; 2017 by Netplus All rights Reserved</div>
            </div>

{% endblock %}
{% block javascript %}
 
 <script charset="utf-8" src="/assets/default/datatables/js/jquery.dataTables.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/dataTables.buttons.min.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/buttons.html5.min.js"></script>
 <script charset="utf-8" src="/assets/default/datatables/js/jszip.min.js"></script>  
 <script charset="utf-8" src="/assets/default/datatables/js/pdfmake.min.js"></script> 
 <script charset="utf-8" src="/assets/default/datatables/js/vfs_fonts.js"></script>  
 <script charset="utf-8" src="/assets/default/datatables/js/buttons.print.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" rel="stylesheet" type="text/css">
<!-- <script src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js" type="text/javascript"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    
<script>
// The plugin function for adding a new filtering routine
$.fn.dataTableExt.afnFiltering.push(
function(oSettings, aData, iDataIndex){
  var dateStart = parseDateValue($("#min").val());
  var dateEnd = parseDateValue($("#max").val());
  // aData represents the table structure as an array of columns, so the script access the date value 
  // in the first column of the table via aData[0]
  var evalDate= parseDateValue(aData[10]);

  if (evalDate >= dateStart && evalDate <= dateEnd) {
    return true;
  }
  else {
    return false;
  }
  
});

// Function for converting a dd M yyyy date value into a numeric string for comparison (example 12 Oct 2010 becomes 20101012
function parseDateValue(rawDate) {
  var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  var dateArray = rawDate.split(" ");
  var numMonth = Number(month.indexOf(dateArray[1]))+1;
  if(numMonth.toString().length<2){
    numMonth = "0"+numMonth;
  } else {
    numMonth = numMonth.toString();
  }
  var parsedDate = dateArray[2] + numMonth + dateArray[0];
  return parsedDate;
}

$(document).ready(function(){     
  var oTable = $('#table').dataTable({
   "iDisplayLength": 25,
    "lengthChange": false,
    "ordering": false,
    "info":     false,
    dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel',  {
                extend : 'pdfHtml5',
                title : function() {
                    return "Saddle  Settlement Dashboard";
                },
                orientation : 'landscape',
                pageSize : 'LEGAL',
                text : '<i> PDF</i>',
                titleAttr : 'PDF'
            } , 'print'
        ]
  });
  
  $('#min,#max').datepicker({
    format: "yyyy-mm-dd",
    weekStart: 1,
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true
  });
  
  // Add event listeners to the two range filtering inputs
  $('#min,#max').change(function(){ oTable.fnDraw(); });

   $('#mySelect').on('change',function(){
        var selectedValue = $(this).val();
        oTable.fnFilter("^"+selectedValue+"$", 1, true); //Exact value, column, reg
    });

   $('#merchantFilter').on('keyup',function(){
        var selectedValue = $(this).val();
        
        oTable.fnFilter(selectedValue, 2, true); //Exact value, column, reg
    });
});
 
</script>  
<style type="text/css">
  .form-group.form_card {
    width: 50%;
    float: right;
    margin: 0px;
}

.form-group.form_card .input-group.input-daterange {
    border: solid 1px #ddd;
}

.form-group.form_card .input-group.input-daterange input {
    font-size: 14px;
    padding: 5px 15px;
}

.payment_type_section {
    width: 50%;
    float: left;
}

.card:after {
    content: "";
    display: block;
    clear: both;
}

.card {
    padding: 10px;
    border: solid 1px #ddd;
}

.payment_type_section
 div {
    display: inline-block;
}

.payment_type_section div select {padding: 6px 10px;border: solid 1px;width: 200px;max-width: 300px;}

.page-header {
    padding: 0px 35px 5px;
}

div#table_wrapper {
    overflow-x: scroll;
}

table.dataTable th, table.dataTable td {
    font-size: 12px;
    width: auto !important;
    padding: 8px 5px !important;
}
.datepicker.dropdown-menu {
    width: auto;
    height: auto;
}
.datepicker.dropdown-menu .datepicker-days {
    opacity: 1;
}
</style>

{% endblock %}