{% extends 'app.twig' %}

{% block title %}{{config['site-name']}} || B2B Settlements{% endblock %}

{% block stylesheets %}
 
    <style>

      div.container {
          margin: 0 auto;
          max-width:760px;
      }
      div.header {
          margin: 100px auto;
          line-height:30px;
          max-width:760px;
      }
      body {
          background: #f7f7f7;
          color: #333;
          /**font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Verdana,Arial,Helvetica,sans-serif;***/
      }

      div#table_wrapper {
          overflow-x : scroll;
      }

    </style>


{% endblock %}
{% block body %}
            <div class="page-header">
              <h1> <i class="md md-list"></i>B2B Settlements</h1>
              <!-- custom button to print -->
              <div class="dt-buttons" style="margin-left:900px; margin-top:-35px;display: none;">
                <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="table"><span>Copy</span></button> 
                <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="table"><span>CSV</span></button> 
                <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="table"><span>Excel</span></button> 
                <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="table" title="PDF" id="pdfOpen"><span><i> PDF </i></span></button> 
                <button class="dt-button buttons-print" tabindex="0" aria-controls="table"><span>Print</span></button> 
            </div>
              <!-- end of custom code -->
            </div>

                    <div class="col-md-12">

                      <div class="card" style="padding-top:20px;pagging-bottom:20px;">
                        <div class="date-filter-group">
                            <input id="fromDate" placeholder="From" width="276" />
                            <input id="toDate" placeholder="To" width="276" />
                        </div>
                      </div>

                      <div class="card">
                        
                          <table id="table" class="mdl-data-table" cellspacing="0" width="100%" data-page-length="25" >

                          <thead>
                            <tr >
                              <!-- <th>S/N</th> -->
                              <th>Transaction-ID</th>
                              <th>Order Number</th>
                              <th>Payment Type</th>
                              {% if userAccess.roles.0 != 'merchant-user' %}<th>Merchant Name</th> {% endif %}
                              <th>Agent Name</th>
                              <th>Transaction Amount</th>
                              <th>Recorded Payment</th>
                              <th>Delivery Charges</th>
                              <th>Settled Amount</th>
                              
                              <th>Due To Merchant</th>
                               {% if userAccess.roles.0 in ['admin','courier-admin'] %}
                              <th>Due To Courier</th>
                              <th>Due To Netplus</th>
                            {% endif %}
                              <th>Date Delivered</th>
                              {% if userAccess.roles.0 == 'admin' %}
                              <th>Courier</th>
                              {% endif %}
                              <th>Delivery Address</th>
                            </tr>
                          </thead>
                                <tbody>
                                    <tr>
                              
                                   </tr>
                                </tbody>
                            </table>
                    </div>
                    
                  <div class="grey-text small p-t-20">Copyright &copy; 2017 by Netplus All rights Reserved</div>
                </div>
        
{% endblock %}
{% block javascript %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
<script charset="utf-8" src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script charset="utf-8" src="https://momentjs.com/downloads/moment.js"></script> 

<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
 
 <script>



  $(document).ready(function() {

   var getOrder = function(user_type) {

       if(user_type == "merchant-user") {

           return [ [9, 'desc']  ];

       } else if (user_type == "courier-admin") {
           return [ [12, 'desc']  ];

       } else if (user_type == "admin" ) {
           return [ [12, 'desc']  ];

       }

       return [];

   }


    var getColumns = function(user_type) {

        var cols = [];
        switch(user_type) {

            case "merchant-user" : 
               cols = [
                    {
                        data: 'transaction_id'
                    }, 
                    { 
                        data: 'transaction_order_no'
                    },
                    {
                        data: 'pay_type' 
                    },
                    {
                        data: 'agent_name'
                    },
                    { 
                        data: 'transaction_total_amount',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    {
                        data : 'recorded_payment',
                        render : function(data) {
                            return data ? "₦" + numeral(data).format('0,0.00') : 'N\\A';
                        }
                    },
                    { 
                        data: 'delivery_cost',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'settled_amount',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_merchant',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    {
                        data: 'updated_at',
                        render : function(data) {
                            return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                        }
                    },
                    { 
                        data: 'customer_address_new'
                    }
                ];
               break;
            case "courier-admin" :
                cols = [
                    { 
                        data: 'transaction_id'
                    }, 
                    { 
                        data: 'transaction_order_no'
                    },
                    { 
                        data: 'pay_type' 
                    },
                    { 
                        data: 'merchant_name'
                    },
                    {
                        data: 'agent_name'
                    },
                    { 
                        data: 'transaction_total_amount',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    {
                        data : 'recorded_payment',
                        render : function(data) {
                            return data ? "₦" + numeral(data).format('0,0.00') : 'N\\A';
                        }
                    },
                    { 
                        data: 'delivery_cost',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'settled_amount',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_merchant',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_courier',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_netplus',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    {
                        data: 'updated_at',
                        render : function(data) {
                            return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                        }
                    },
                    { 
                        data: 'customer_address_new'
                    }
                ];
                break;
            case "admin" :
                cols = [
                    { 
                        data: 'transaction_id'
                    }, 
                    { 
                        data: 'transaction_order_no'
                    },
                    { 
                        data: 'pay_type' 
                    },
                    { 
                        data: 'merchant_name'
                    },
                    {
                        data: 'agent_name'
                    },
                    { 
                        data: 'transaction_total_amount',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    {
                        data : 'recorded_payment',
                        render : function(data) {
                            return data ? "₦" + numeral(data).format('0,0.00') : 'N\\A';
                        }
                    },
                    { 
                        data: 'delivery_cost',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'settled_amount',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_merchant',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_courier',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    { 
                        data: 'due_to_netplus',
                        render : function(data) {
                           return  "₦" + numeral(data).format('0,0.00');
                        }
                    },
                    {
                        data: 'updated_at',
                        render : function(data) {
                            return moment(data,"YYYY-MM-DD HH:mm:ss").format("DD-MM-YYYY HH:mm:ss");
                        }
                    },
                    {
                        data: 'courier_name'
                    },
                    { 
                        data: 'customer_address_new'
                    }
                ];
                break;

        }

        console.log(JSON.stringify(cols));
        console.log(cols.length);

        return cols;

    }

    var dataTable = $('#table').DataTable( {
        "paging" : true,
        "ordering": true,
        "order" : getOrder("{{userAccess.roles.0}}"),
        "processing": true,
        "serverSide": true,
        "filter" : true,
        "ajax": {
            "url": "{{ path_for('settlements-list') }}",
            "type": 'POST',
            "data": function ( d ) {
                d.from_date = $('#fromDate').val();
                d.to_date = $('#toDate').val();
            }
        },
        "columns" : getColumns("{{userAccess.roles.0}}"),
        dom: 'Bfrtip',
        buttons: [
             'excel', 'csv', 'pdf', 'print'
        ],
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $(this).val();
 
                        column
                            .search( val ? val : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );

            $("div.dt-buttons button").attr("class","mdl-button  mdl-button--raised mdl-button--colored");
            var dt = dataTable;
            $('#fromDate').datepicker({
                'format' : "dd-mm-yyyy",
                "change" : function(e) {
                    dt.draw();
                }
            });

            $('#toDate').datepicker({
                'format' : "dd-mm-yyyy",
                "change" : function(e) {
                    dt.draw();
                }
            });

        }
    } );


});


</script>  

<style type="text/css">
  .form-group.form_card {
    width: 50%;
    float: right;
    margin: 0px;
}

.form-group.form_card .input-group.input-daterange {
    border: solid 1px #ddd;
}

.form-group.form_card .input-group.input-daterange input {
    font-size: 14px;
    padding: 5px 15px;
}

.payment_type_section {
    width: 50%;
    float: left;
}

.card:after {
    content: "";
    display: block;
    clear: both;
}

.card {
    padding: 10px;
    border: solid 1px #ddd;
}

.payment_type_section
 div {
    display: inline-block;
}

.payment_type_section div select {padding: 6px 10px;border: solid 1px;width: 200px;max-width: 300px;}


.mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:hover {
    background-color: #4D4D4D;
}

.mdl-button--raised.mdl-button--colored {
    background: #4D4D4D;
    color: #fff;
}


table.dataTable td, table.dataTable th {
    /* -webkit-box-sizing: content-box; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i.gj-icon {
    color : #4D4D4D;
}

.gj-datepicker-md {
    display: inline-block;
    margin-left: 25px;
}

.date-filter-group {
    display: flex;
    justify-content: flex-end;
}

#fromDate, #toDate {
    color : #5a5a5a;
}

</style>
{% endblock %}
