{% block company %}


    Dear {{customer}}
    
    <p> Congratulations on your successful registration on Saddle! </p>

    <p> With Saddle, you can manage your operations, deliveries and agent at once </p>

    <p> Please login with your details and start exploring </p>

    <p> Please contact us at (+234809 999 0660) for any assistance </p>

    <p> Regards, </p> 

    <p> The Saddle Support Team </p>
    
{% endblock %}

