<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saddle">
    <meta name="author" content="NetPlus">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="msapplication-TileImage" content="assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon.png">
    <title> {{ config['site-name'] }} || Courier Registration </title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>  <![endif]-->
    
    <link rel="stylesheet" type="text/css" href="/assets/default/css/glyph.css" />

    <link rel="stylesheet" type="text/css" href="/assets/default/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/default/css/styles.min.css">

    <style type="text/css">
      body{
        background: radial-gradient(circle at 1.99% 43.04%,#f69147,transparent 100%),radial-gradient(circle at 99.79% 73.72%,#f9b787,transparent 58%),radial-gradient(circle at 50% 50%,#f5e9e1,#f69147 100%);
        }
      main{
        padding-left: 0px !important;
      }
      }
    </style>
    <script charset="utf-8" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  </head>
  <body scroll-spy="" id="top" class=" theme-template-dark theme-pink alert-open alert-with-mat-grow-top-right">
    <main>
      <div class="main-container">
        <nav class="navbar navbar-default navbar-fixed-topt">
          <div class="container-fluid">
            <div class="navbar-header pull-left">
             
            </div>
            <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
              <li class="dropdown pull-right">
                <span style="padding-top: 10px;">Having Problems?</span>
                <button class="dropdown-toggle pointer btn btn-round-sm btn-link withoutripple" data-template-url="/assets/tpl/partials/dropdown-navbar.html" data-toggle="dropdown"> <i class="md md-live-help f20"></i> </button>
                <div class="dropdown-menu complain">
                  <form class="form-floating" style="padding: 20px;">
                    <fieldset>
                    <div class="form-group">
                      <label class="control-label">Name</label>
                      <input type="text" name="name " class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Complain</label>
                      <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </fieldset>
                  </form>
                </div>
                
              </li>
              <li class="dropdown pull-right"><a href="{{ path_for('login') }}" style="padding: 7px 20px 0px;">Login</a></li>
            </ul>
          </div>
        </nav>
        <div class="main-content" autoscroll="true" bs-affix-target="" init-ripples="" style="">
                             
          <section class="forms-validation">
            <div class="row  m-b-40">
              <div class="col-md-7 center">
                <div class="well white" id="forms-validation-container">
                  <div class="card-header">
                    <div class="brand-logo">
                      <div id="logo">
                        <a href="index.html"><img class="img-responsive" src="/assets/default/img/logo.png"></a>
                      </div> 
                    </div>
                  </div>

                  <div>
                    <form action="{{ currentRoute }}" method="POST" role="form">
                      <div class="m-b-30">
                          {% block flash %}
                                  {% include 'App/inc/flash.twig' %}
                              {% endblock %}
                        <div class="card-title strong pink-text" style="font-size: 1.4em;">Registration</div>
                        <p class="card-title-desc"> Welcome to Saddle! The best courier management app. </p>
                        <p class="card-title-desc">Already have an account? Click <a href="{{ path_for('login') }}">here </a>to login</p>
                      </div>

                      <fieldset>
                        
                        <div class="form-group">
                          <label class="control-label">Business Name</label>
                          <input type="text" class="form-control" required="" data-error="This field is invalid" name="courier_name">
                          <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Email Address</label>
                          <input type="email" class="form-control" required="" data-error="This field is required" name="courier_email"> 
                          <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Website</label>
                          <input type="text" class="form-control" required="" data-error="This field is required" name="courier_website">
                          <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                          <label class="control-label">Phone number</label>
                          <input type="phone" class="form-control" required="" data-error="This field is required" name="phone_number">
                          <div class="help-block with-errors"></div>
                        </div>
                    

                        <div class="form-group filled m-b-10">
                          <label for="textArea" class="m-b-10">Address</label>
                          <textarea class="form-control vertical " rows="3" id="textArea" name="courier_address">
                          </textarea> 
                        </div>

                        <div class="form-group clearfix">
                          <div class="checkbox ">
                            <label>
                              <input type="checkbox" name="cardOnfile"> <img src="/assets/default/img/mastercard.png" height="40.8px" width="65px">  Add Mastercard on File for fast and efficient Merchant settlement
                            </label>
                          </div>
                        </div>
                    </div>

                        <div class="form-group">
                         
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </fieldset>
                   

                  </div>

                  </form>

                 

                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    
	<script type="text/javascript" src="/assets/default/js/jquery.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/vendors.min.js"></script>
    <script charset="utf-8" src="/assets/default/js/app.min.js"></script>

    

    <script type="text/javascript">
      $(document).ready(function(){
        $("#page2").hide();
        $("#page1_button").click(function(e){
          e.preventDefault();
          $("#page1").hide();
          $("#page2").show();
        });
        
      });
    </script>

  </body>
</html>