
{% block stylesheets %}
    <link rel="stylesheet" href="/assets/default/css/trackingPageCss/reset.css">
    <link rel="stylesheet" href="/assets/default/css/trackingPageCss/landing_style.css">
    <link rel="stylesheet" href="/assets/default/css/trackingPageCss/responsive.css">

  

{% endblock %}
{% block body %}


{% if transaction_id != ''%}
                                
                    <header> 



  <div class="container">

    <div id="banner_wrap">


      <div id="dark_skin2">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">

                    <div class="navbar-header">



                        <a class="navbar-brand" href="/">
                            <div class="logo">
                                <img src="/assets/default/img/logo.png" alt="Saddle">
                            </div>
                        </a>

                    </div>

                 
                </div>
            </div>






        <div class="track">

          <h1>TRANSACTION ID: {{ transaction_id }}</h1>

        </div>
        
        <div class="header_divs">

          <div class="track">
          	

            <p> &#8226; Item Name: {{ row.item_name }} &#8226;  Last Updated DateTime: {{ row.updated_at }}</p>

            <hr>

          </div>

          <div>

            <ol class="progress" data-steps="5">

            
            	{% if row.delivery_status == 0 %}

	            	{% set class_code = "done" %}
	            	{% set class_code1 = "active" %}

            	{% endif %}

            	{% if row.delivery_status == 1 %}

            		{% set class_code = "done" %}
               
	                {% set class_code21 = "active" %}
	                {% set class_code2 = "done" %}

                {% endif %}

                {% if row.delivery_status == 10	 %}

                	{% set class_code = "done" %}
                	{% set class_code2 = "done" %}
               
	                {% set class_code51 = "active" %}
	                {% set class_code5 = "done" %}

                {% endif %}


                {% if row.delivery_status in [4, 11, 2, 7, 102, 101, 14, 1] %}

                	{% set class_code = "done" %}
                	{% set class_code2 = "done" %}
                	{% set class_code5 = "done" %}
                	{% set class_code21 = "" %}



	                {% set class_code31 = "active" %}
	                {% set class_code3 = "done" %}

                {% endif %}


                {% if row.delivery_status in [3, 301, 8, 801, 5, 6] %}

                	{% set class_code = "done" %}
                	{% set class_code2 = "done" %}
                	{% set class_code5 = "done" %}
	                {% set class_code3 = "done" %}


	                {% set class_code4 = "done" %}
	                {% set class_code41 = "active" %}

                {% endif %}



                <li class="{{class_code |trim }} {{class_code1 |trim }} text-center">

                    <span class="name">Item ready for pick up</span>

                    <span class="step"></span>

                </li>

                <li class="{{class_code2 |trim }} {{class_code21 |trim }} text-center">

                    <span class="name">Picked Up from merchants</span>

                    <span class="step"></span>

                </li>

                <li class="{{class_code5 |trim }} {{class_code51 |trim }} text-center">

                    <span class="name">Awaiting Delivery</span>

                    <span class="step"></span>

                </li>

                <li class="{{class_code3 |trim }} {{class_code31 |trim }} text-center">

                    <span class="name">In Transit</span>

                    <span class="step"></span>

                </li>
    
                
                <li class="{{class_code4 |trim }} {{class_code41 |trim }} text-center">

                	{% if row.delivery_status in [3, 301] %}

                    <span class="name">Delivered to Customer</span>

                    

                    {% elseif row.delivery_status in [8, 801] %}

                    <span class="name">Cancelled</span>

                    {% elseif row.delivery_status in [5, 6] %}

                    <span class="name">Returned</span>

                    {% else %}

                    <span class="name">Delivered to Customer</span>

                    {% endif %}




                    <span class="step"></span>

                </li>

            </ol>

          </div>

        </div>
        



      </div>

    </div>  

  </div>

</header>

{% endif %}            
        
{% endblock %}
