{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}



{% block title %}{{config['site-name']}} || Add New User{% endblock %}

{% block body %}
    <section class="tables-data">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add New User</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                   

                    
                    <div class="panel-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div class="col-md-6">
                                <div class="form-group{% if has_error('first_name') %} has-error{% endif %}">
                                    <label for="first_name">First Name</label>
                                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First Name" value="{% if requestParams.first_name %}{{requestParams.first_name}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('first_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('last_name') %} has-error{% endif %}">
                                    <label for="last_name">Last name</label>
                                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last name" value="{% if requestParams.last_name %}{{requestParams.last_name}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('last_name') }}</span>
                                </div>

                                <div class="form-group{% if has_error('email') %} has-error{% endif %}">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{% if requestParams.email %}{{requestParams.email}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('email') }}</span>
                                </div>

                                <div class="form-group{% if has_error('username') %} has-error{% endif %}">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Username" value="{% if requestParams.username %}{{requestParams.username}}{% endif %}" required="required">
                                    <span class="help-block">{{ error('username') }}</span>
                                </div>

                                <div class="form-group{% if has_error('password') %} has-error{% endif %}">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="" required="required">
                                    <span class="help-block">{{ error('password') }}</span>
                                </div>

                                <div class="form-group{% if has_error('password_confirm') %} has-error{% endif %}">
                                    <label for="password_confirm">Confirm Password</label>
                                    <input type="password" name="password_confirm" class="form-control" id="password_confirm" placeholder="Confirm Password" value="" required="required">
                                    <span class="help-block">{{ error('password_confirm') }}</span>
                                </div>

                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>User Roles</label>

                                    {% for role in roles %}
                                        {% set userRole = auth.findById(user.id) %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="roles[]" value="{{role.slug}}" {% if userRole.inRole(role.slug) %} CHECKED {% endif %}{% if user.id == 1 and role.id == 1 %} DISABLED {% endif %}>
                                                {{role.name}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>

                                 {% if userAccess.roles.0 == 'admin'%}
                                <label>User Permissions</label>
                                <div id="permissionsRow">
                                    {% for key,perm in user.permissions %} 
                                        <div>
                                            <div class="col-xs-6">
                                                <div class="form-group{% if has_error(name) %} has-error{% endif %}">
                                                    <input type="text" name="perm_name[]" class="form-control" placeholder="Permission Name" value="{{key}}" required="required">
                                                </div>
                                            </div>

                                            <div class="col-xs-5">
                                                <div class="form-group{% if has_error(name) %} has-error{% endif %}">
                                                    <select name="perm_value[]" class="form-control" required="required">
                                                        <option value="true" {% if perm == 1 %}selected{% endif %}>True</option>
                                                        <option value="false" {% if perm == 0 %}selected{% endif %}>False</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-1">
                                                <a class="btn btn-primary btn-danger removePerm"><span class="fa fa-fw fa-close"></span> </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                

                                <div class="form-group" style="text-align: center;">
                                    <a class="btn btn-warning" id="addPermButton" style="margin-top: 15px;">
                                        <span class="fa fa-fw fa-gears"></span> Add New Permission
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        
                            <div class="col-md-2">
                               <div class="form-group">

                                    {% if userAccess.roles.0 == 'admin'%}
                                       <label>Assign To </label> 
                                       <div class="form-group"> 
                                            <label for="courier_name">Courier</label>
                                            <select id="courier_name" name="courier_name">
                                                <option value="ns">[ select courier ]</option>
                                            {% for courier in couriers %}
                                                    <option value="{{ courier.id }}"> {{ courier.courier_name }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        {% else %}
                                            <input type="hidden" value="{{ courier }}" name="courier_name">
                                        {% endif %}     

                                        <div class="form-group">    
                                        <label for="merchant_name">Merchant</label>
                                        <select id="merchant_name" name="merchant_name">
                                            <option value="ns">[ select merchant ]</option>
                                           {% for merchant in merchants %}
                                                <option value="{{ merchant.id }}"> {{ merchant.merchant_name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                </div>
                                
                            </div>

                            <div class="col-md-4 col-md-offset-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success form-control">Add New User</button>
                                </div>
                            </div> 


                            {{ csrf() }}
                            <input type="hidden" name="user_id" value="{{user.id}}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block javascript %}
<script>
$(document).on('click', '#addPermButton', function() {
    $("#permissionsRow").append(`   <div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" name="perm_name[]" class="form-control" placeholder="Permission Name" required="required">
                                            </div>
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="form-group">
                                                <select name="perm_value[]" class="form-control" required="required">
                                                    <option value="true">True</option>
                                                    <option value="false">False</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <a class="btn btn-primary btn-danger removePerm"><span class="fa fa-fw fa-close"></span> </a>
                                        </div>
                                    </div>
                                `);


});
$(document).on('click', '.removePerm', function() {
    $(this).parent().parent().remove();
})
</script>
{% endblock %}

