{% extends 'app.twig' %}
{% block body %}

<div class="row no-gutter">
<div class="col-sm-12 col-md-12 col-lg-9" style="background:#F9F9F9;">

		<div class="p-20 clearfix">
		<h4 class="grey-text"> <i class="md md-dashboard"></i> <span class="hidden-xs">Performance Summary</span> for <u>{{ userclass}}</u></h4>
		</div>

<div class="p-20 no-p-t">
<div class="row gutter-14 kpi-dashboard">

<div class="col-md-2 performance">

	<div class="card small">

			
			<div class="theme-lighten-1 p-10">

			<h4 class="no-margin white-text w600">Pending</h4>
			<div class="f11" style="opacity:0.8"> <i class="md md-star-outline"></i> Latest {{ latest['pending'] | date("d M, h:i") }} </div>
				<div class="p-10 p-t-30">
				
				</div>
			</div>

		<div class="card-content p-10">

				<div class="row">
						<div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
							<h6 class="no-margin w300"> <a href="{{ path_for('delivery') }}"> {{status['pending']}} </a></h6>
							<p class="grey-text w600"></p>
						</div>

						<div class="col-md-8 text-center">
							<h6 class="no-margin w300"> &#8358; {{ transaction_value['pending'] }}</h6>
							<p class="grey-text w600"></p>
						</div>
				</div>

		</div>

	</div>

</div>


<div class="col-md-2 performance">
	<div class="card small">

			<div class="theme-secondary-lighten-2 p-10">

			<h4 class="no-margin white-text w600">Processing</h4>
			<div class="f11" style="opacity:0.8"> <i class="md md-star-outline"></i> Latest {{ latest['picked_up'] | date("d M, h:i") }} </div>
				<div class="p-10 p-t-30">
				<!-- <div id="chart-line-2"></div> -->
				</div>
			</div>

	<div class="card-content p-10">
	<div class="row">
	<div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
	<h6 class="no-margin w300">{{status['picked_up']}}</h>
	<p class="grey-text w600"></p>
	</div>

		<div class="col-md-8 text-center">
		<h6 class="no-margin w300">&#8358; {{ transaction_value['picked_up'] | number_format(0, '.', ',') }}</h6>
		<p class="grey-text w600"></p>
		</div>

	</div>
	</div>
	</div>
</div>

<div class="col-md-2 performance">
	<div class="card small">
	<div class="red lighten-1 p-10">

	<h4 class="no-margin white-text w600">Returned</h4>
	<div class="f11" style="opacity:0.8"> <i class="md md-star-outline"></i> Latest {{ latest['returned'] | date("d M, h:i") }} </div>
	<div class="p-10 p-t-30">
	</div>
	</div>
	<div class="card-content p-10">
	<div class="row">
	<div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
	<h6 class="no-margin w300">{{status['returned']}}</h6>
	<p class="grey-text w600"></p>
	</div>
	<div class="col-md-8 text-center">
	<h6 class="no-margin w300">&#8358; {{ transaction_value['returned'] | number_format(0, '.', ',') }}</h6>
	<p class="grey-text w600"></p>
	</div>

	</div>
	</div>
	</div>
</div>

<div class="col-md-2 performance">
		<div class="card small">
		<div class="green lighten-1 p-10">

		<h4 class="no-margin white-text w600">Partial Delivery</h4>
		<div class="f11" style="opacity:0.8"> <i class="md md-star-outline"></i> Latest {{ latest['awaiting'] | date("d M, h:i") }}</div>
		<div class="p-10 p-t-30">
		</div>
		</div>
		<div class="card-content p-10">
		<div class="row">
		<div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
		<h6 class="no-margin w300">{{status['awaiting']}}</h6>
		<p class="grey-text w600"></p>
		</div>
		<div class="col-md-8 text-center">
		<h6 class="no-margin w300">&#8358; {{ transaction_value['awaiting'] | number_format(0, '.', ',')}}</h6>
		<p class="grey-text w600"></p>
		</div>

		</div>
		</div>
		</div>
</div>

<div class="col-md-2 performance">
	<div class="card small">
		<div class="green p-10">

			<h4 class="no-margin white-text w600">Delivered</h4>
			<div class="f11" style="opacity:0.8"> <i class="md md-star-outline"></i> Latest {{ latest['delivered'] | date("d M, h:i") }}</div>
				<div class="p-10 p-t-30">
				<!-- <div id="chart-line-3"></div> -->
				</div>
			</div>

			<div class="card-content p-10">
				<div class="row">

					<div class="col-md-4 text-center" style="border-right: 1px #F0F0F0 solid;">
					<h6 class="no-margin w300">{{status['delivered']}}</h6>
					<p class="grey-text w600"></p>
					</div>

					<div class="col-md-8text-center">
					<h6 class="no-margin w300">&#8358; {{ transaction_value['delivered'] | number_format(0, '.', ',') }}</h6>
					<p class="grey-text w600"></p>
					</div>

				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="row gutter-14">
<div class="col-md-12">
<div class="card">
<div class="card-header relative">
<div class="card-title">Delivery</div>
<div class="small grey-text">Deliveries and their statuses</div>
<div class="floating-actions">
<a href="{{path_for('delivery')}}" class="btn btn-round btn-info" data-toggle="tooltip" title="view all orders"><i class="md md-chevron-right" style="color: white;"></i></a>
</div>
</div>

<div class="table-responsive">

		<table class="table table-full table-full-small table-dashboard-widget-1" id="transaction-table">
		<thead>
		<tr>
		<th>Trans ID</th>
		<th>Status</th>
		<th>
			{% if usertype == 'Courier' %}
			Merchant
			{% else %}
			Courier
			{% endif %}
		</th>
		<th>Transaction Amount</th>
		<th>Transaction Type </th>
		<th>Last Update </th>
		<tbody>
		{% for delivery in deliverys|slice(0, 25) %}

			{% if delivery.transaction_status in [3, 301] %}
				{% set color_code = "green text-center"%}
				{% set status = "Delivered" %}
			{% elseif delivery.transaction_status in [1,2,4,14,101,102, 10, 7, 11]%}
				{% set color_code = "theme-secondary-lighten-1 text-center"%}
				{% set status = "Processing" %}
			{% elseif delivery.transaction_status in [0]%}
				{% set color_code = "theme-lighten-1 text-center" %}
				{% set status = "Pending"%}
			{% elseif delivery.transaction_status in [5,6]%}
				{% set color_code = "red lighten-1 text-center" %}
				{% set status = "Returned" %}
			{% elseif delivery.transaction_status in [8,801]%}
				{% set color_code = "red lighten-1 text-center" %}
				{% set status = "Cancelled" %}
			{% elseif delivery.transaction_status in [30]%}
				{% set color_code = "green lighten-1 text-center" %}
				{% set status = "Partial Delivery" %}
			{% endif %}
		<tr>
		<td><a href="{{  path_for('delivery-detail', {'transaction_id': delivery.transaction_id}) }}">{{delivery.transaction_id}}</a></td>
		
		<td class="{{color_code}}">
		{# set status = delivery.getTransactionStatus(delivery.transaction_status)#}
		{{status}}
		</td>
		<td>
		{%
		if usertype == "Courier" %}
		{%  set name = merchant.getMerchantName(delivery.merchant_id) %}
		{% elseif usertype == "Merchant" %}
		{%  set name = courier.getCourierName(delivery.courier_id) %}

		{% endif %}

		{{name}}
		</td>

		<td>&#8358;{{ delivery.transaction_total_amount | number_format  }}</td>
		<td> {{ delivery.getTransactionPaymentType(delivery.id) }} </td>
		<td>{{delivery.updated_at}}</td>
		</tr>
		{% endfor %}

		</tbody>
		</table>
</div>
</div>
</div>

</div>


<div class="grey-text small p-t-20">Copyright &copy; 2017 by Netplus All rights Reserved</div>
</div>
</div>
<div class="col-lg-3 col-md-12">
<div class="p-20">
<div class="pull-right">
<ul class="list-unstyled">
<li class="dropdown">
	<button type="button" class="btn btn-round-sm btn-link" aria-haspopup="true" aria-expanded="false" data-template-url="assets/tpl/partials/dropdown-list-example.html" data-toggle="tooltip" title="More stats"> <i class="md md-equalizer"></i> </button>
</li>
</ul>
</div>
<h4 class="grey-text m-b-30">Action feed</h4>
<div class="card">
<div class="p-10 p-l-20 p-r-20 clearfix">
<div class="badge pull-right"></div>
<div class="w600 f11 grey-text">Insights</div>
</div>
<div class="table-responsive">
<table class="table table-small grey-text">
<colgroup>
<col width="">
<col width="60">
<col width="50">
</colgroup>
<tbody>
<tr>
	<td>Couriers</td>
	<td>{{no_of_couriers}}</td>
	<td></td>
</tr>
<tr>
	<td>Merchants</td>
	<td>{{merchants}}</td>
	<td></td>
</tr>
<tr>
	<td>Agents</td>
	<td>{{no_of_agents}}</td>
	<td></td>
</tr>

</tbody>
</table>
</div>
</div>
<div class="p-h-40">
<div role="tabpanel">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab" href="index.html#tab-log">Recently Added</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content m-t-10">
<div role="tabpanel" class="tab-pane active" id="tab-log">
<ul class="timeline">
{% for delivery in deliverys|slice(0, 10) %}
<li>
<div class="timeline-badge"> <i class="icon-circle theme-secondary-border"></i> </div>
<div class="timeline-panel">
<div class="timeline-heading">
<h4 class="timeline-title">{{ delivery.transaction_id|capitalize }}</h4>
</div>
<div class="timeline-body">

{% set status = delivery.getTransactionStatus(delivery.transaction_status)%}

<p>{{status}}</p>
<small class="text-muted"><i class="md md-timer"></i>
{% set last_updated = date.setTimestampFromString(delivery.updated_at) %}
	{% if last_updated.getDifferenceInMinutes() < 60 %}
	{{ last_updated.getDifferenceInMinutes() | round }} minutes ago
	{% elseif last_updated.getDifferenceInHours() < 24 %}
	{{ last_updated.getDifferenceInHours() | round }} hour(s) ago
	{% elseif last_updated.getDifferenceInDays() >= 1 %}
	{{ last_updated.getDifferenceInDays() | round }} day(s) ago
	{% endif %}
</small>
</div>
</div>
</li>
{% endfor %}

</ul>
</div>

</div>
</div>
</div>
</div>


<!-- <div id="chart-pagesviews"></div> -->
</div>

</div>

</tr>
</thead>
					


{% endblock %}
