{% extends 'app.twig' %}

{#
title
stylesheets
navi
body
javascript
#}


{% block title %}{{config['site-name']}} || Users{% endblock %}

{% block body %}
    <section class="tables-data">
        <h1> <i class="md md-list"></i> User Management </h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="panel-heading">
                        <div class="pull-left"><h3>User Accounts </h3></div>
                        <div class="pull-right"><a href="{{ path_for('admin-users-add') }}" class="btn btn-xs btn-success"><span class="fa fa-fw fa-plus"></span> Add User</a></div>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="card-content">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="users_table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Company</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for user in users %}
                                    {% if userAccess.roles.0 == 'admin'%}
                                        <tr>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>
                                                {{user.getRoles()[0].name}}
                                            </td>
                                            <td>
                                                {% if user.id != 1 %}
                                                    {{ usertype.getUserTypeName(user.id) }}
                                                {% endif %}
                                            </td> 
                                            
                                            <td>
                                                <a href="{{ path_for('admin-users-edit', {'user_id': user.id}) }}" class="btn btn-primary btn-xs">
                                                    <span class="fa fa-fw fa-pencil"></span>
                                                </a>
                                                {% if user.id != 1 and auth.hasAccess('user.delete') %}
                                                    <form action="{{ path_for('admin-users-delete') }}" method="post" style="display: inline;">
                                                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                                                        {{csrf()}}
                                                        <button type="submit" name="submit" class="btn btn-danger btn-xs" onClick="return confirm('Are you sure you could like to delete this user?  This cannot be undone.');">
                                                            <span class="fa fa-fw fa-close"></span>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                    
                                    {% set userid = usertype.getUserID(typeID,user.id) %}
                                     {% if userid|length > 0%}
                                     <tr>
                                        <td>{{ user.first_name }}  </td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            {{user.getRoles()[0].name}}
                                        </td>
                                        <td>
                                             
                                                {{ usertype.getUserTypeName(user.id) }}
                                            
                                        </td>
                                        
                                        <td>
                                            <a href="{{ path_for('admin-users-edit', {'user_id': user.id}) }}" class="btn btn-primary btn-xs">
                                                <span class="fa fa-fw fa-pencil"></span>
                                            </a>
                                            {% if user.id != 1 and auth.hasAccess('user.delete') %}
                                                <form action="{{ path_for('admin-users-delete') }}" method="post" style="display: inline;">
                                                    <input type="hidden" name="user_id" value="{{ user.id }}" />
                                                    {{csrf()}}
                                                    <button type="submit" name="submit" class="btn btn-danger btn-xs" onClick="return confirm('Are you sure you could like to delete this user?  This cannot be undone.');">
                                                        <span class="fa fa-fw fa-close"></span>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if auth.hasAccess('role.view') %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="panel-heading">
                        <h2>User Roles </h2>
                    </div>

                    <div class="card-content">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="roles_table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Slug</th>
                                    <th>Permissions</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for role in roles %}
                                    <tr>
                                        <td>{{ role.name }}</td>
                                        <td>{{ role.slug }}</td>
                                        <td>
                                            {% for key,perm in role.permissions|json_decode %}
                                                {% if perm == 1 %}{{key}}{% endif %}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if auth.hasAccess('role.update') %}
                                            <a href="{{ path_for('admin-roles-edit', {'role': role.id}) }}" class="btn btn-primary btn-xs">
                                                <span class="fa fa-fw fa-pencil"></span>
                                            </a>
                                            {% endif %}
                                            {% if auth.hasAccess('role.delete') %}
                                                {% if role.id != 1 %}
                                                    <form action="{{ path_for('admin-roles-delete') }}" method="post" style="display: inline;">
                                                        <input type="hidden" name="role_id" value="{{ role.id }}" />
                                                        {{csrf()}}
                                                        <button type="submit" name="submit" class="btn btn-danger btn-xs" onClick="return confirm('Are you sure you could like to permanently delete this role?  This role will be removed from all users.');">
                                                            <span class="fa fa-fw fa-close"></span>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if auth.hasAccess('role.create') %}
            <div class="col-md-6">
                <div class="card">
                    <div class="panel-heading">
                        <h3>Add User Role </h3>
                    </div>

                    <div class="panel-body">
                        <form action="{{ path_for('admin-roles-add') }}" method="POST" role="form">
               
                            <div class="form-group col-md-6">
                                <label for="">Name</label>
                                <input type="text" name="role_name" class="form-control" id="role_name" placeholder="Role Name">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="">Slug</label>
                                <input type="text" name="role_slug" class="form-control" id="role_slug" placeholder="Role Slug">
                            </div>
                        
                            <div class="form-group col-md-4 col-md-offset-4">
                                <button type="submit" class="btn btn-primary btn-primary form-control">Add Role <span class="fa fa-fw fa-arrow-right"></span></button>
                            </div>
                            {{ csrf() }}
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script src="/assets/default/js/jquery.dataTables.min.js"></script>
    <script src="/assets/default/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/default/js/dataTables.responsive.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        
        $('#users_table').DataTable({
            responsive: true,

        });

        $('#roles_table').DataTable({
            responsive: true,

        });
    });
    </script>
{% endblock %}