@media screen and (max-width: 1200px) {

}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

	.container {
		width: 100%;
	}

	.logo {
		width: 220px;
  		height: 80px;
  		margin: 30px auto;
  		position: static;
	}

	#dark_skin h1 {
    	font-size: 25px;
	}

	#dark_skin {
    	padding-top: 100px; 
	}

	#dark_skin2 {
    	padding-top: 40px;
	}

	#dark_skin h1 {
    	font-size: 25px;
	}

	.textfield {
	    width: 90%;
	    height: 50px;
	    border: none;
	    text-align: center;
	}

	.btn {
	    width: 30%;
	    height: 50px;
	    background-color: #F79147;
	    border: none;
	    color: #fff;
	    margin-top: 20px;
	}

	input {
	    padding: 15px;
	}

	.progress {
	    width: 80%;
	    list-style: none;
	    list-style-image: none;
	    margin: 20px auto;
	    padding: 0;
	}
	#banner_wrap {
	    height: 1100px;
	}


}